<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Equality for All &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/equality-for-all/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Gerald Ford on Equal Rights</title>
		<link>http://republicansagainst8.com/2008/09/09/gerald-ford-on-equal-rights/</link>
		<comments>http://republicansagainst8.com/2008/09/09/gerald-ford-on-equal-rights/#respond</comments>
		<pubDate>Tue, 09 Sep 2008 22:09:38 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Equality for All]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=223</guid>
		<description><![CDATA[In October 2001, President Gerald Ford stood up and spoke out for equal rights for gay and lesbian couples. President Ford said the federal government should provide the same benefits for same-sex couples and married couples. Ford told Detroit News columnist Deb Price in a telephone interview that the provisions should include Social Security, tax [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>In October 2001, President Gerald Ford stood up and spoke out for equal rights for gay and lesbian couples.</p>
<p>President Ford said the federal government should provide the same benefits for same-sex couples and married couples. Ford told Detroit News columnist Deb Price in a telephone interview that the provisions should include Social Security, tax and other federal benefits.</p>
<p>&#8220;I think they (same-sex couples) should be treated equally. Period,&#8221; he said. “…I have a longstanding record in favor of legislation to do away with discrimination.”</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/09/gerald-ford-on-equal-rights/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
