<?xml version="1.0" encoding="UTF-8" ?><feed
	xmlns="http://www.w3.org/2005/Atom"
	xml:lang="en-US"
	xmlns:thr="http://purl.org/syndication/thread/1.0"
	>
	<title type="text">Comments on Join Us!</title>
	<subtitle type="text">Just another WordPress weblog</subtitle>

	<updated>2008-10-29T17:20:02Z</updated>

	<link rel="alternate" type="text/html" href="http://republicansagainst8.com/2008/10/28/join-us/#comments" />
	<link rel="self" type="application/atom+xml" href="http://republicansagainst8.com/2008/10/28/join-us/feed/atom/" />
	<id>http://republicansagainst8.com/2008/10/28/join-us/feed/atom/</id>
<generator uri="https://wordpress.org/" version="4.4.5">WordPress</generator>
	<entry>
		<title>By: Two More Ads from Republicans Against 8</title>
		<link rel="alternate" href="http://republicansagainst8.com/2008/10/28/join-us/comment-page-1/#comment-20" type="text/html" />

		<author>
			<name>Two More Ads from Republicans Against 8</name>
			<uri>http://themoderatevoice.com/at-tmv/newsweek-blogitics/23839/two-more-ads-from-republicans-against-8/</uri>
		</author>

		<id>http://republicansagainst8.com/?p=384#comment-20</id>
		<updated>2008-10-28T21:19:06Z</updated>
		<published>2008-10-28T21:19:06Z</published>
		<content type="html" xml:base="http://republicansagainst8.com/2008/10/28/join-us/comment-page-1/#comment-20"><![CDATA[<p>[&#8230;] to defeat the California proposition that would ban same-sex marriage has released two more ads: &#8220;Join Us,&#8221; and &#8220;Defending [&#8230;]</p>
]]></content>
		<thr:in-reply-to ref="http://republicansagainst8.com/?p=384" href="http://republicansagainst8.com/2008/10/28/join-us/" type="text/html" />
	</entry>
</feed>
