<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>limited government &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/limited-government/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Welcome CRI Readers!</title>
		<link>http://republicansagainst8.com/2008/09/19/supporters-of-big-government-are-watching/</link>
		<comments>http://republicansagainst8.com/2008/09/19/supporters-of-big-government-are-watching/#respond</comments>
		<pubDate>Fri, 19 Sep 2008 15:07:29 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[limited government]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[Yes on 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=280</guid>
		<description><![CDATA[Welcome, Capitol Resource Institute Readers! And welcome to everyone else who gets relentless emails from &#8216;Yes on 8&#8217; camp. Some Republicans Against 8 recently received an email from the other guys highlighting our work to defend freedom. Of course, they didn&#8217;t put it that way. Instead of rebutting our arguments that Prop. 8 is bad [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Welcome, Capitol Resource Institute Readers!  And welcome to everyone else who gets relentless emails from &#8216;Yes on 8&#8217; camp.  Some Republicans Against 8 recently received an email from the other guys highlighting our work to defend freedom.  Of course, they didn&#8217;t put it that way.  Instead of rebutting our arguments that Prop. 8 is bad for business, denies fellow Californians fundamental freedoms, and extends the government&#8217;s reach into our lives, they simply assumed their readers would blindly agree with them.  They did get the gist of this website, though:</p>
<blockquote><p>Their purpose is to convince Republicans to vote against Proposition 8 and publicize famous Republicans who are in opposition to the marriage amendment.</p></blockquote>
<p>A lot of Republicans are against Prop. 8.  People like <a href="http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/" target="_self">Arnold Schwarzenegger</a>, <a href="http://republicansagainst8.com/2008/08/08/mary-cheney-republican-against-8/" target="_self">Mary Cheney</a>, <a href="http://republicansagainst8.com/2008/08/08/ward-connerly-republican-against-8/" target="_self">Ward Connerly</a>, and <a href="http://republicansagainst8.com/2008/08/12/dennis-miller-republican-against-8/" target="_self">Dennis Miller</a> understand why Prop. 8 goes against traditional GOP values.  So do many regular Republicans like you.</p>
<p>Please take the time to surf around and see why they&#8217;re against Prop 8 before you fire off that angry email Karen asked you to send.</p>
<p>Do you agree with these Republicans?  Do you oppose greater government oversight of our personal lives? Stand up for conservative values and become <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">another Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/19/supporters-of-big-government-are-watching/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Tom Durein, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/18/tom-durein-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/18/tom-durein-republican-against-8/#respond</comments>
		<pubDate>Thu, 18 Sep 2008 17:28:04 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[limited government]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[San Francisco]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=270</guid>
		<description><![CDATA[San Francisco Republican Tom Durein explains how Proposition 8 flies in the face of true Republican values, like limited government and fundamental freedoms.]]></description>
				<content:encoded><![CDATA[<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="src" value="http://www.youtube.com/v/2tZTAmzbLgI&amp;hl=en&amp;fs=1" /><embed type="application/x-shockwave-flash" width="425" height="344" src="http://www.youtube.com/v/2tZTAmzbLgI&amp;hl=en&amp;fs=1" allowfullscreen="true"></embed></object></p>
<p>San Francisco Republican Tom Durein explains how Proposition 8 flies in the face of true Republican values, like limited government and fundamental freedoms.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/18/tom-durein-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
