<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Kevin Johnson &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/kevin-johnson/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Kevin Johnson Embraces Conflict on Marriage</title>
		<link>http://republicansagainst8.com/2008/09/10/kevin-johnson-embraces-conflict-on-marriage/</link>
		<comments>http://republicansagainst8.com/2008/09/10/kevin-johnson-embraces-conflict-on-marriage/#respond</comments>
		<pubDate>Wed, 10 Sep 2008 17:42:34 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Arnold Schwarzenegger]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Kevin Johnson]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=225</guid>
		<description><![CDATA[Sacramento Mayoral Candidate&#8211;and former NBA Star&#8211;Kevin Johnson is in the same position as many California voters: he personally opposes same-sex marriage, but is against eliminating the right. Although Johnson is a Democrat, he wrestled with the same conflict on the issue as many Republicans and came to the conclusion that even though he does not [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/pg2_kevin_johnson_195.jpg"><img class="alignright size-medium wp-image-226" title="Kevin Johnson, Sacramento" src="http://republicansagainst8.com/wp-content/uploads/2008/09/pg2_kevin_johnson_195.jpg" alt="" width="195" height="262" /></a>Sacramento Mayoral Candidate&#8211;and former NBA Star&#8211;Kevin Johnson is in the same position as many California voters: he personally opposes same-sex marriage, but is against eliminating the right.</p>
<p>Although Johnson is a Democrat, he wrestled with the same conflict on the issue as many Republicans and came to the conclusion that even though he does not support same-sex marriage, he cannot support taking that right away.</p>
<blockquote><p>According to a statement issued Tuesday by his campaign, Johnson opposes Proposition 8 &#8220;because it would write discrimination into the state constitution.&#8221;</p>
<p>The press release said Johnson shares views with Sen. Barack Obama and Gov. Arnold Schwarzenegger, who oppose a ban on gay marriage in California but personally believe marriage should be between a man and a woman.</p></blockquote>
<p><a href="http://www.redcounty.com/sac/2008/09/kevin-johnson-caves-on-marriag/">Some Republicans don&#8217;t understand</a> that some things like freedom and basic rights, are more important than one&#8217;s own personal beliefs.  They&#8217;re dead-wrong.</p>
<p>Although Johnson is not a Republican, he&#8217;s in the same position as many of the one to two million GOPers who will be voting against Prop 8 this November&#8211;and his own personal struggle with the conflict should serve as a model for others.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/10/kevin-johnson-embraces-conflict-on-marriage/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
