/*
Theme Name: Rv8
Theme URI: http://republicansagaint8.com/
Description: For a cause.
Version: 0.1
Author: One Fine Jay

Woohoo
*/
/*these classes will be gone*/
#wilkommen {width: 800px; margin: 0 auto;}
.placeholder {text-align:center; margin-top:65px;}

/*let's begin*/
body {font-size: 12px; font-family: "Trebuchet MS",Geneva, sans-serif; background:#fff url('images/body-bg.gif') bottom fixed repeat-x; color:#4d4d4d; margin:0;}

a {color:#ed1c24;}
a img {border:none;}

#rap {width: 920px; margin:15px auto 0 auto; background: #fff;/*border:solid 1px black;*/}

/*Navigation Styling
ul#sitenav {position:relative; margin:0; padding:23px 0 0 0 ; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:18px;}
ul#sitenav li {list-style:none; display:block; width:100px; text-align:center;}
ul#sitenav li a {text-decoration:none;}
#link-home{position:absolute; left:0;}
#link-about{position:absolute; left:101px;}
#link-headlines{position:absolute; left:201px;}
#link-join{position:absolute; left:301px;}
#link-FAQ{position:absolute; left:401px;}
#link-contribute{position:absolute; left:501px;}*/
#siteheader {}

ul#sitenav{margin:0; padding: 0; background:#fff; height:37px;width:620px; float:left;}
ul#sitenav li {font-size:14px; list-style:none; display:block; width: 100px; padding: 15px 0 5px 0; text-align:center;float:left; background: #fff url('images/tab4.gif') no-repeat top left; margin-right:1px; text-transform:uppercase;}
ul#sitenav li a {color:white;font-weight:bold; text-decoration:none; }
ul#sitenav li a:hover {text-decoration:underline;}

ul#verbose-nav {margin:0; padding:10px 0 10px 10px; list-style:none; color:#fff;}
ul#verbose-nav li {text-align:center; vertical-align:bottom; margin:0 0 0 5px; padding: 30px 0 33px 0; width:175px; float:left; background:#A6DBEC url('images/fivew-bg.jpg') no-repeat;}
ul#verbose-nav li#first {margin:0;}
ul#verbose-nav li p {margin:0; padding: 0;}
.fivew {text-transform:uppercase; font-size:18px; font-weight:bold;}
ul#verbose-nav a {color:#fff;}
ul#verbose-nav a:hover {color:#fff;}

h1#logo {width: 250px; float:right; margin:0; padding: 0 0 0 25px;}
h1#logo img {margin:0; padding:0;}

/*#blurb {width:630px; color:#0071bc; float:left; font-size:14px; font-weight: bold; padding-left:10px; margin:15px 0 0 0;}*/
#blurb {width:620px; color: #0071bc; float:left; font-size:14px; padding-left:10px; margin:15px 0 0 0;}
#blurb p {display:inline;}
#blurb ul {display:inline; list-style:none; margin:0;}
#blurb ul li {display: inline; margin-right:7px;}

#sitecontent{padding: 0 10px;}
#sitecontent p {margin: 0 12px 12px 0;}
#content{width:530px; float:left; }
h2.storytitle {font-size:18px;}
.post {margin-bottom:35px;}
.post-info {border-top:solid 1px #b2d4eb; border-bottom:solid 1px #b2d4eb;}
.meta {padding-top:12px; text-align:center;}

#sidebar {width:364px; float:right; margin: 25px 0 0 0; }
#video-heading {margin:0 0 20px 0; border: solid 2px #193864;}
#sidebar-left {width:165px; float:left; margin-left:10px;}
#sidebar-right {width:165px; float:right; margin-right:10px;}
#sidebar a img {border:none;}
#sidebar a:hover img {border:none;}
#sidebar ul {list-style:none; margin: 15px 0 0 0; padding: 0;}
#sidebar #blogroll {margin:0;}
.widget {}
#sidebar h3 {font-size:14px; color: #193864;}

#footer {}
#footer p {border-top:double 3px #187ec2;margin:25px 10px 0 10px; padding:12px 0;}

/*columns! lots and lots of columns!*/

/*universals*/
.break {clear: both; }
.profile-pic {float:left; margin:0 12px 12px 0;}


/*wordpress-generated*/
.alignright {float:right; margin:0 0 12px 12px;}