<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Proposition 8: It&#8217;s Backwards</title>
	<atom:link href="http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>By: Blogcabin California &#187; Don&#8217;t Take California Backwards - No on Prop 8</title>
		<link>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/comment-page-1/#comment-16</link>
		<dc:creator><![CDATA[Blogcabin California &#187; Don&#8217;t Take California Backwards - No on Prop 8]]></dc:creator>
		<pubDate>Thu, 23 Oct 2008 01:05:59 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=369#comment-16</guid>
		<description><![CDATA[[...] voters in its latest online ad, &#8220;Backwards,&#8221; released today.  Watch the video here:  http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/While Republicans Against 8&#8217;s first video, &#8220;Freedom is a Republican Value,&#8221; was [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] voters in its latest online ad, &#8220;Backwards,&#8221; released today.  Watch the video here:  http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/While Republicans Against 8&#8217;s first video, &#8220;Freedom is a Republican Value,&#8221; was [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
