<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>poll &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/poll/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Poll:  Californians Oppose Prop. 8; GOP Divided</title>
		<link>http://republicansagainst8.com/2008/09/18/new-poll-californians-oppose-prop-8/</link>
		<comments>http://republicansagainst8.com/2008/09/18/new-poll-californians-oppose-prop-8/#respond</comments>
		<pubDate>Thu, 18 Sep 2008 16:04:39 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[poll]]></category>
		<category><![CDATA[The Field Poll]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=262</guid>
		<description><![CDATA[The latest Field Poll released today shows the majority of Californian voters oppose Prop. 8. The NO vote polled with broad support, winning out among both men and women, and in both coastal and inland counties. Also, Republican voters are more split on the issue than Democratic voters—more than one in four Republicans said they [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>The latest Field Poll released today shows the <a href="http://www.sacbee.com/111/story/1245706.html" target="_self">majority of Californian voters oppose Prop. 8</a>.  The NO vote polled with broad support, winning out among both men and women, and in both coastal and inland counties.</p>
<p>Also, Republican voters are more split on the issue than Democratic voters<span style="font-size: medium;"><span style="font-size: small;">—</span></span>more than one in four Republicans said they already intend to vote no.</p>
<p>Are you one in four?  Do you believe in limiting government overreach, defending freedom, and creating a healthy business environment?  Join us and become <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">another Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/18/new-poll-californians-oppose-prop-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
