<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Marriage Equality &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/marriage-equality/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Join Us!</title>
		<link>http://republicansagainst8.com/2008/10/28/join-us/</link>
		<comments>http://republicansagainst8.com/2008/10/28/join-us/#comments</comments>
		<pubDate>Tue, 28 Oct 2008 15:47:38 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Gays and Lesbians]]></category>
		<category><![CDATA[Marriage Equality]]></category>
		<category><![CDATA[Proposition 8]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=384</guid>
		<description><![CDATA[&#8220;We are Friends, We are neighbors&#8230;We are Republicans, We Are Democrats,&#8221; states, &#8220;Join Us,&#8221; one of the newest ads produced by Republicans Against 8. &#8220;Join Us&#8221; features a cast including Log Cabin members Steven Sion, Carol Newman, and Len Greco, West Hollywood Chamber of Commerce Chairman Joe Clapsaddle and Here! TV Network stars Brian Nolan [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/Bqh8NnWuqBo&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/Bqh8NnWuqBo&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>&#8220;We are Friends, We are neighbors&#8230;We are Republicans, We Are Democrats,&#8221; states, &#8220;Join Us,&#8221; one of the newest ads produced by Republicans Against 8.  &#8220;Join Us&#8221; features a cast including Log Cabin members Steven Sion, Carol Newman, and Len Greco, West Hollywood Chamber of Commerce Chairman Joe Clapsaddle and Here! TV Network stars Brian Nolan and David Moretti.</p>
<p>Putting a gay and lesbian face on the effort to defeat Proposition 8, Republicans Against 8&#8217;s newest ads were directed by &#8220;Milk&#8221; screenwriter Dustin Lance Black, with the production and post-production facilities donated by World of Wonder, with the special assistance of Regent Media.  This was an exemplary case of bipartisan cooperation as we enter the final week of this campaign.</p>
<p>With your support, we can make sure that as many people as possible Join Us! on November 4.  Please consider <a href="https://secure.ga1.org/05/Republicans_Against_8">making a contribution</a> today.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/28/join-us/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
