<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
	<item>
		<title>Governor Schwarzenegger on Prop 8</title>
		<link>http://republicansagainst8.com/2010/08/04/governor-schwarzenegger-on-prop-8/</link>
		<comments>http://republicansagainst8.com/2010/08/04/governor-schwarzenegger-on-prop-8/#respond</comments>
		<pubDate>Wed, 04 Aug 2010 21:30:17 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=407</guid>
		<description><![CDATA[Governor Arnold Schwarzenegger has issued a statement in response to today&#8217;s historic decision declaring Proposition 8 unconstitutional: For the hundreds of thousands of Californians in gay and lesbian households who are managing their day-to-day lives, this decision affirms the full legal protections and safeguards I believe everyone deserves. At the same time, it provides an [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Governor Arnold Schwarzenegger has <a href="http://www.gov.ca.gov/press-release/15738/">issued a statement in response to today&#8217;s historic decision</a> declaring Proposition 8 unconstitutional:</p>
<blockquote><p>For the hundreds of thousands of Californians in gay and lesbian households who are managing their day-to-day lives, this decision affirms the full legal protections and safeguards I believe everyone deserves. At the same time, it provides an opportunity for all Californians to consider our history of leading the way to the future, and our growing reputation of treating all people and their relationships with equal respect and dignity.</p>
<p>“Today&#8217;s decision is by no means California&#8217;s first milestone, nor our last, on America&#8217;s road to equality and freedom for all people.”</p></blockquote>
<p>Schwarzenegger was one of thousands of Republicans who opposed Proposition 8 when it was at the ballot box in 2008.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2010/08/04/governor-schwarzenegger-on-prop-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>California Log Cabin Republicans Responds to Prop 8 Case Decision</title>
		<link>http://republicansagainst8.com/2010/08/04/california-log-cabin-republicans-responds-to-prop-8-case-decision/</link>
		<comments>http://republicansagainst8.com/2010/08/04/california-log-cabin-republicans-responds-to-prop-8-case-decision/#respond</comments>
		<pubDate>Wed, 04 Aug 2010 21:05:14 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=405</guid>
		<description><![CDATA[(Los Angeles, CA) &#8211; In response to the decision by US District Judge Vaughn Walker in the case of Perry v. Schwarzenegger, California Log Cabin Republicans (LCR) issued the following response from LCR State Chairman Leonard M. Lanzi: &#8220;Today, all Californians have had their rights strengthened through the court&#8217;s decision. As Republicans, we are heartened [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>(Los Angeles, CA) &#8211; In response to the decision by US District Judge Vaughn Walker in the case of Perry v. Schwarzenegger, California Log Cabin Republicans (LCR) issued the following response from LCR State Chairman Leonard M. Lanzi:</p>
<p>&#8220;Today, all Californians have had their rights strengthened through the court&#8217;s decision. As Republicans, we are heartened that plaintiff&#8217;s attorney Ted Olson and David Boies used core conservative principles of privacy, liberty and freedom to convince the court that Prop 8 should be overturned. While we anticipate this decision to appealed to the highest court in the land, Log Cabin Republicans will continue our work to change hearts and minds in all communities across the California.&#8221;<br />
# # #</p>
<p>Log Cabin Republicans promotes legislation to provide basic fairness for gay and lesbian Americans and works to build a more inclusive GOP. The 30-year old organization has state and local chapters nationwide, a full-time office in Washington, DC, a federal political action committee and state political action committees. </p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2010/08/04/california-log-cabin-republicans-responds-to-prop-8-case-decision/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>California Log Cabin Republicans Responds to 2012 Decision by Equality California</title>
		<link>http://republicansagainst8.com/2009/08/12/california-log-cabin-republicans-responds-to-2012-decision-by-equality-california/</link>
		<comments>http://republicansagainst8.com/2009/08/12/california-log-cabin-republicans-responds-to-2012-decision-by-equality-california/#respond</comments>
		<pubDate>Wed, 12 Aug 2009 23:44:45 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=398</guid>
		<description><![CDATA[August 12, 2009, (Los Angeles, CA) – California Log Cabin Republicans issued the following statement responding to the announcement earlier today of the decision to pursue a California Proposition 8 repeal for the November 2012 ballot. Statement by Len Lanzi, President of California Log Cabin Republicans “Log Cabin Republicans knows better than anybody the challenge [&#8230;]]]></description>
				<content:encoded><![CDATA[<p style="margin-left: 0pt; margin-right: 0pt;"><span style="font-family: 'Garamond';"><span style="font-size: small;">August 12, 2009, </span></span><span style="font-family: 'Garamond';"><span style="font-size: small;">(Los Angeles, CA) –</span></span><span style="font-family: 'Garamond';"><span style="font-size: small;"> California Log Cabin Republicans issued the following statement responding to the announcement earlier today of the decision to pursue a California Proposition 8 repeal for the November 2012 ballot.</span></span></p>
<p style="margin-left: 0pt; margin-right: 0pt;"><span style="font-family: 'Garamond';"><span style="text-decoration: underline;"><span style="font-size: small;">Statement by Len Lanzi, President of California Log Cabin Republicans</span></span></span></p>
<p style="margin-left: 0pt; margin-right: 0pt;"><span style="font-family: 'Garamond';"><span style="font-size: small;">“Log Cabin Republicans knows better than anybody the challenge the LGBT community faces in changing the hearts and minds of Californians in our effort to repeal Proposition 8 and restore the freedom to marry to all Californians.” </span></span></p>
<p style="margin-left: 0pt; margin-right: 0pt;"><span style="font-family: 'Garamond';"><span style="font-size: small;">“We welcome the opportunity to spend more time building bridges to diverse communities across this state and we take our message of equality, a commitment to individual responsibility and a commitment to personal freedoms to rural communities, the communities of faith and color, and to continue our outreach efforts to the Republican Party. We must ensure that the foundation for our next fight at the ballot box is solid and the conditions optimal for victory.” </span></span></p>
<p><span style="font-family: 'Garamond';"><span style="font-size: small;">“The LGBT community has a prime opportunity over the next 3 years to reach beyond our traditional constituencies, and Log Cabin Republicans is committed to work with our allies to ensure our message is inclusive for all Californians.”</span></span></p>
<p><span style="font-family: 'Garamond';"><span style="text-decoration: underline;"><span style="font-size: small;">Statement by Scott Schmidt, Former Campaign Manager, Republicans Against 8</span></span></span></p>
<p><span style="font-family: 'Garamond';"><span style="font-size: small;">&#8220;Regardless of when the freedom to marry returns to the voters of California, our work must go on.</span></span><span style="font-family: 'Garamond';"><span style="font-size: small;"> </span></span><span style="font-family: 'Garamond';"><span style="font-size: small;"> We must continue to nurture the allies of freedom, regardless of where they lie on the political spectrum, and hold conversations with our allies, and those who do not yet support the freedom to marry for everyone.” </span></span></p>
<p><span style="font-family: 'Garamond';"><span style="font-size: small;">&#8220;Once a Constitutional Amendment to restore this fundamental right to all Californians is on the ballot, we look forward to waging an inclusive campaign that works to bring in new allies from the right, from the left and in between.</span></span><span style="font-family: 'Garamond';"><span style="font-size: small;"> </span></span><span style="font-family: 'Garamond';"><span style="font-size: small;"> The conservative principles of limited government, personal responsibility and individual liberty are too important for us to let them down.&#8221;</span></span></p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2009/08/12/california-log-cabin-republicans-responds-to-2012-decision-by-equality-california/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Log Cabin Republicans, Republicans Against 8 Vow to Restore Right to Marry</title>
		<link>http://republicansagainst8.com/2009/05/28/log-cabin-republicans-republicans-against-8-vow-to-restore-right-to-marry/</link>
		<comments>http://republicansagainst8.com/2009/05/28/log-cabin-republicans-republicans-against-8-vow-to-restore-right-to-marry/#respond</comments>
		<pubDate>Thu, 28 May 2009 16:11:22 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=396</guid>
		<description><![CDATA[Log Cabin Republicans and Republicans Against Prop 8 issue the following statements: Statement of Scott Schmidt, Campaign Manager, Republicans Against 8 &#8220;It is a sad day for California when the Supreme Court gives up its role as the ultimate protector of Constitutional Rights for all Californians. By endorsing the legal theory that basic Constitutional Rights [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Log Cabin Republicans and Republicans Against Prop 8 issue the following statements:</p>
<p><span style="text-decoration: underline;">Statement of Scott Schmidt, Campaign Manager, Republicans Against 8</span></p>
<p>&#8220;It is a sad day for California when the Supreme Court gives up its role as the ultimate protector of Constitutional Rights for all Californians. By endorsing the legal theory that basic Constitutional Rights are subject to a plurality of the electorate, the Court has marginalized the Constitution and has created a climate of chaos of fear each time Californians go to the ballot box.&#8221;</p>
<p>&#8220;The people have spoken and now the court has too. As Republicans who believe that the principles of limited government, personal responsibility and fundamental freedoms extend the right to marry to all Californians, our mission is now clear. We must renew our efforts to form a coalition to restore equal access to marriage to all Californians, and move forward to educate the people of California, whatever their race, creed or political party that freedom and fairness dictate undoing the harm caused by Proposition 8 at the ballot box.&#8221;</p>
<p><span style="text-decoration: underline;">Statement by Leonard M. Lanzi &#8211; President, California Log Cabin Republicans</span></p>
<p>&#8220;While we were defeated in this ballot initiative, our cause is right and just. We will continue to work with our allies in the Republican Party and across the political spectrum in California to educate voters that marriage equality is truly a conservative value, along the lines of strengthening individual freedoms, limiting the role of government in our daily lives and preserving personal responsibility.&#8221;</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2009/05/28/log-cabin-republicans-republicans-against-8-vow-to-restore-right-to-marry/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Reagan, Schwarzenegger Featured in New Ad</title>
		<link>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/</link>
		<comments>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/#respond</comments>
		<pubDate>Fri, 31 Oct 2008 14:08:14 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Arnold Schwarzenegger]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[Ronald Reagan]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=393</guid>
		<description><![CDATA[A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians. In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians.</p>
<p>In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to teach in public schools.  He called the measure “costly,” and said that it had the potential to cause “undue harm.”  Voters listened, and Proposition 6 was defeated.</p>
<p>In April 2008, California Governor Arnold Schwarzenegger told the National Convention of Log Cabin Republicans that he was against a constitutional amendment to eliminate the right to marry for same-sex couples.  Video of Governor Schwarzenegger declaring, “I will always be there to fight against that,” is featured in the sixty-second video.</p>
<p>“Ronald Reagan is a conservative icon because of his efforts to spread freedom around the globe,” said Republicans Against 8 Campaign Manager Scott Schmidt.  “Conservatives need to remember that Ronald Reagan was opposed to taking away people’s rights.  Were he still with us today, Ronald Reagan would be in good company with another Republican Governor, Arnold Schwarzenegger.”</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Advocate Features GOP Ads</title>
		<link>http://republicansagainst8.com/2008/10/29/advocate-freatures-gop-ads/</link>
		<comments>http://republicansagainst8.com/2008/10/29/advocate-freatures-gop-ads/#respond</comments>
		<pubDate>Wed, 29 Oct 2008 23:47:00 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fundraising]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=390</guid>
		<description><![CDATA[The Advocate tells the backstory of the two latest ads from Republicans Against 8. Schmidt said the effort is an example of the “unprecedented cooperation in the gay community to beat Prop. 8. I am a Republican, Lance Black isn’t one. &#8230; It doesn’t matter who you are &#8212; Democrat, Republican, Trojan, Bruin &#8212; we [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/Bqh8NnWuqBo&#038;color1=0xb1b1b1&#038;color2=0xcfcfcf&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/Bqh8NnWuqBo&#038;color1=0xb1b1b1&#038;color2=0xcfcfcf&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>The Advocate tells the <a href="http://advocate.com/news_detail_ektid64512.asp">backstory of the two latest ads from Republicans Against 8</a>.</p>
<blockquote><p>Schmidt said the             effort is an example of the “unprecedented             cooperation       in the gay community to beat Prop. 8. I am             a Republican, Lance Black       isn’t one.             &#8230; It doesn’t matter who you are &#8212; Democrat,             Republican, Trojan, Bruin &#8212; we want to work together to             accomplish the       same goal.”</p>
<p>The two ads             feature an impressive roster of everyday gay citizens,             including a Vietnam veteran and a Boeing rocket scientist,             two people who       say they have devoted their careers to             protecting the rights and lives of       Americans. The ads             urge Californians to now step up and return the favor             on November 4.</p></blockquote>
<p>You can help make sure as many people as possible see our ads <a href="https://secure.ga1.org/05/Republicans_Against_8">with your contribution</a> today!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/29/advocate-freatures-gop-ads/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Proposition 8: Bad for Biotech</title>
		<link>http://republicansagainst8.com/2008/10/29/proposition-8-bad-for-biotech/</link>
		<comments>http://republicansagainst8.com/2008/10/29/proposition-8-bad-for-biotech/#respond</comments>
		<pubDate>Wed, 29 Oct 2008 17:19:59 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=388</guid>
		<description><![CDATA[Republicans Against 8 have always said that Proposition 8 is bad for business, and could send industries packing to places where all citizens have equal treatment under the law.  Now, biotech executives in San Diego are confirming that Proposition 8 is bad for business. “The governor of Massachusetts has made it very clear that he [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Republicans Against 8 have always said that Proposition 8 is bad for business, and could send industries packing to places where all citizens have equal treatment under the law.  Now, <a href="http://www.signonsandiego.com/news/business/20081029-9999-1b29prop8.html">biotech executives in San Diego are confirming that Proposition 8 is bad for business</a>.</p>
<blockquote><p>“The governor of Massachusetts has made it very clear that he recognizes this is a competitive and lucrative industry and he&#8217;d do everything he can to attract companies,” Fischer said. “And this is a sure opportunity for Massachusetts to feature its benefits that are not available in California should Proposition 8 pass.”</p>
<p>In San Diego, biotechnology companies and those that provide services to them employ nearly 40,000 people at 710 companies. Biotechnology is the state&#8217;s second largest high-tech industry, generating $73 billion in revenue annually and employing more than 267,000 people.</p>
<p>Companies in other high-paying and globally competitive industries also oppose Proposition 8. They include Silicon Valley giants Google and Apple and San Diego&#8217;s Qualcomm, which donated $5,000 to the opposition campaign, according to state records.</p></blockquote>
<p>That is the message delivered by <a href="http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/">Republican Proposition 8 opponent Brad Torgan</a>.  Help keep business in California and <strong>Vote NO on 8</strong>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/29/proposition-8-bad-for-biotech/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Leave Religion Out of It</title>
		<link>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/</link>
		<comments>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/#respond</comments>
		<pubDate>Wed, 29 Oct 2008 17:13:49 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[religious marriage]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=386</guid>
		<description><![CDATA[Andrew Steele, a Republican against Proposition 8, has a letter to the editor in today&#8217;s Vallejo Times-Herald. I&#8217;m a 20-year-old Log Cabin Republican, and being that, you know that I support gay marriage whole-heartedly, but one thing I cannot seem to understand is why everyone is making this a gay issue. This has never been [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Andrew Steele, a Republican against Proposition 8, has a <a href="http://www.timesheraldonline.com/opinion/ci_10843782">letter to the editor in today&#8217;s <em>Vallejo Times-Herald</em></a>.</p>
<blockquote><p><span id="rds_global">I&#8217;m a 20-year-old Log Cabin Republican, and being that, you know that I support gay marriage whole-heartedly, but one thing I cannot seem to understand is why everyone is making this a gay issue. This has never been a gay issue, just as interracial marriage was never a race issue. It&#8217;s a social issue and here&#8217;s why:The description of the proposition reads: &#8220;Eliminates the right of same-sex couples to marry.&#8221; Remove the term &#8220;same-sex&#8221; and replace it with any other social group, such as African Americans, brown-eyed persons, or those with disabilities. Would you deny those rights as well? Don&#8217;t those people deserve to be treated equally under the law?</p>
<p></span></p>
<p>The &#8220;No on Proposition 8&#8221; campaign has done a good job at distancing itself from it being a gay issue. However, the &#8220;Yes on 8&#8221; campaign hasn&#8217;t, using advertisements of teaching tolerance of homosexuality in schools, churches being sued, and so on. I&#8217;ve yet to hear one thing about homosexuality being taught in public schools, but I don&#8217;t think it would be that bad of an idea.</p></blockquote>
<p>Be sure to <a href="http://www.timesheraldonline.com/opinion/ci_10843782">read the whole thing</a>, then sign up to <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">join Andrew as a Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Join Us!</title>
		<link>http://republicansagainst8.com/2008/10/28/join-us/</link>
		<comments>http://republicansagainst8.com/2008/10/28/join-us/#comments</comments>
		<pubDate>Tue, 28 Oct 2008 15:47:38 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Gays and Lesbians]]></category>
		<category><![CDATA[Marriage Equality]]></category>
		<category><![CDATA[Proposition 8]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=384</guid>
		<description><![CDATA[&#8220;We are Friends, We are neighbors&#8230;We are Republicans, We Are Democrats,&#8221; states, &#8220;Join Us,&#8221; one of the newest ads produced by Republicans Against 8. &#8220;Join Us&#8221; features a cast including Log Cabin members Steven Sion, Carol Newman, and Len Greco, West Hollywood Chamber of Commerce Chairman Joe Clapsaddle and Here! TV Network stars Brian Nolan [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/Bqh8NnWuqBo&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/Bqh8NnWuqBo&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>&#8220;We are Friends, We are neighbors&#8230;We are Republicans, We Are Democrats,&#8221; states, &#8220;Join Us,&#8221; one of the newest ads produced by Republicans Against 8.  &#8220;Join Us&#8221; features a cast including Log Cabin members Steven Sion, Carol Newman, and Len Greco, West Hollywood Chamber of Commerce Chairman Joe Clapsaddle and Here! TV Network stars Brian Nolan and David Moretti.</p>
<p>Putting a gay and lesbian face on the effort to defeat Proposition 8, Republicans Against 8&#8217;s newest ads were directed by &#8220;Milk&#8221; screenwriter Dustin Lance Black, with the production and post-production facilities donated by World of Wonder, with the special assistance of Regent Media.  This was an exemplary case of bipartisan cooperation as we enter the final week of this campaign.</p>
<p>With your support, we can make sure that as many people as possible Join Us! on November 4.  Please consider <a href="https://secure.ga1.org/05/Republicans_Against_8">making a contribution</a> today.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/28/join-us/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Defending Freedom</title>
		<link>http://republicansagainst8.com/2008/10/28/defending-freedom/</link>
		<comments>http://republicansagainst8.com/2008/10/28/defending-freedom/#comments</comments>
		<pubDate>Tue, 28 Oct 2008 15:43:20 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[defending freedom]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=382</guid>
		<description><![CDATA[&#8220;Defending Freedom&#8221; is one of two ads released today by Republicans Against 8. Directed by &#8220;Milk&#8221; screenwriter Dustin Lance Black, &#8220;Defending Freedom&#8221; tells the story of three gay and lesbian Californians. Speaking directly to straight Californians, &#8220;Defending Freedom&#8221; highlights the accomplishments of gay and lesbian Californians in protecting the rights of their fellow Americans. Former [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/DW45tN8DfCM&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/DW45tN8DfCM&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>&#8220;Defending Freedom&#8221; is one of two ads released today by Republicans Against 8.  Directed by &#8220;Milk&#8221; screenwriter Dustin Lance Black, &#8220;Defending Freedom&#8221; tells the story of three gay and lesbian Californians.</p>
<p>Speaking directly to straight Californians, &#8220;Defending Freedom&#8221; highlights the accomplishments of gay and lesbian Californians in protecting the rights of their fellow Americans.  Former U.S. Prosecutor Carol Newman, Boeing Rocket Scientist Sherry Green and Vietnam Veteran Paul Fredrix talk about their role in protecting the freedoms of their fellow Americans, then ask their fellow Californians to defend their freedoms by voting &#8220;NO&#8221; on Proposition 8.</p>
<p>Read the backstory on the <a href="http://advocate.com/news_detail_ektid64512.asp">unprecedented cooperation that went into making this ad on The Advocate</a>, and if you can, please <a href="https://secure.ga1.org/05/Republicans_Against_8">contribute to help us share this ad</a> with other Californians.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/28/defending-freedom/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
	</channel>
</rss>
