<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Dennis Miller, Republican Against 8</title>
	<atom:link href="http://republicansagainst8.com/2008/08/12/dennis-miller-republican-against-8/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2008/08/12/dennis-miller-republican-against-8/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
	<item>
		<title>By: For the War and For Gay Marriage? : Gay News from Gay Agenda - GayAgenda.com</title>
		<link>http://republicansagainst8.com/2008/08/12/dennis-miller-republican-against-8/comment-page-1/#comment-4</link>
		<dc:creator><![CDATA[For the War and For Gay Marriage? : Gay News from Gay Agenda - GayAgenda.com]]></dc:creator>
		<pubDate>Mon, 01 Sep 2008 17:49:11 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=145#comment-4</guid>
		<description><![CDATA[[...] 1, 2008 by James Hipps&#160;   I stumbled across a website, republicansagainst8.com.  This, as you may have guessed it, is a website with higher profile Republicans who have taken a [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] 1, 2008 by James Hipps&nbsp;   I stumbled across a website, republicansagainst8.com.  This, as you may have guessed it, is a website with higher profile Republicans who have taken a [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
