<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Get Out The Vote &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/get-out-the-vote/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Jim Cunneen: Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/#respond</comments>
		<pubDate>Fri, 24 Oct 2008 18:17:51 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Get Out The Vote]]></category>
		<category><![CDATA[republican candidates]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=371</guid>
		<description><![CDATA[Former California Assemblyman and Silicon Valley Business Executive Jim Cunneen is joining the ranks of Republicans who are opposed to Proposition 8. Mr. Cunneen shares one way to get out the vote when he writes: &#8220;I’ve been telling everyone to vote no!&#8221; If you cannot give your time or give your financial resources to the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/10/jim-cunneen.jpg"><img class="alignright size-medium wp-image-372" title="Assemblyman Jim Cunneen" src="http://republicansagainst8.com/wp-content/uploads/2008/10/jim-cunneen.jpg" alt="" width="114" height="150" /></a>Former California Assemblyman and Silicon Valley Business Executive Jim Cunneen is joining the ranks of Republicans who are opposed to Proposition 8.</p>
<p>Mr. Cunneen shares one way to get out the vote when he writes: &#8220;I’ve been telling everyone to vote no!&#8221;</p>
<p>If you cannot <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">give your time</a> or <a href="https://secure.ga1.org/05/Republicans_Against_8">give your financial resources</a> to the campaign, that is the least you can do&#8211;tell your friends and family and everyone you know to vote <a href="http://www.noonprop8.com/">No on 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
