<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>republican candidates &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/republican-candidates/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Tom Campbell: Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/#comments</comments>
		<pubDate>Fri, 24 Oct 2008 18:26:29 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[republican candidates]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=374</guid>
		<description><![CDATA[Former U.S. Senate hopeful and California Congressman Tom Campbell announced his opposition to Proposition 8 today on the Reason Magazine website. Republicans also care about jobs; and as a business proposition, it makes no sense to support Prop. 8. Discrimination at any level is bad for business. California has always made itself stronger by welcoming, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/10/tom-campbell.jpg"><img class="alignright size-medium wp-image-375" title="Tom Campbell" src="http://republicansagainst8.com/wp-content/uploads/2008/10/tom-campbell.jpg" alt="" width="114" height="150" /></a>Former U.S. Senate hopeful and California Congressman Tom Campbell announced his <a href="http://reason.com/news/show/129641.html">opposition to Proposition 8 today on the Reason Magazine website</a>.</p>
<blockquote><p>Republicans also care about jobs; and as a business proposition, it makes no sense to support Prop. 8. Discrimination at any level is bad for business. California has always made itself stronger by welcoming, not excluding, people who want to work hard and build better futures for themselves and their communities. What kind of a message does it send to workers, of any background, that we are willing to codify discrimination into our state constitution?</p>
<p>Gay couples are asking for a chance to play by the rules. We can give them that chance. For those of us who are proud of our party&#8217;s and our state&#8217;s reputation for fairness and against discrimination, our choice is very clear: No on Proposition 8.</p></blockquote>
<p>Campbell is just the latest <a href="http://republicansagainst8.com/who-oppose-proposition-8/">Republican to oppose Proposition 8</a>.  Join him today and <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">become a Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Jim Cunneen: Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/#respond</comments>
		<pubDate>Fri, 24 Oct 2008 18:17:51 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Get Out The Vote]]></category>
		<category><![CDATA[republican candidates]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=371</guid>
		<description><![CDATA[Former California Assemblyman and Silicon Valley Business Executive Jim Cunneen is joining the ranks of Republicans who are opposed to Proposition 8. Mr. Cunneen shares one way to get out the vote when he writes: &#8220;I’ve been telling everyone to vote no!&#8221; If you cannot give your time or give your financial resources to the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/10/jim-cunneen.jpg"><img class="alignright size-medium wp-image-372" title="Assemblyman Jim Cunneen" src="http://republicansagainst8.com/wp-content/uploads/2008/10/jim-cunneen.jpg" alt="" width="114" height="150" /></a>Former California Assemblyman and Silicon Valley Business Executive Jim Cunneen is joining the ranks of Republicans who are opposed to Proposition 8.</p>
<p>Mr. Cunneen shares one way to get out the vote when he writes: &#8220;I’ve been telling everyone to vote no!&#8221;</p>
<p>If you cannot <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">give your time</a> or <a href="https://secure.ga1.org/05/Republicans_Against_8">give your financial resources</a> to the campaign, that is the least you can do&#8211;tell your friends and family and everyone you know to vote <a href="http://www.noonprop8.com/">No on 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Shane Patrick Connoly, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/18/shane-patrick-connoly-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/18/shane-patrick-connoly-republican-against-8/#respond</comments>
		<pubDate>Thu, 18 Sep 2008 17:17:58 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[republican candidates]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[silicon valley]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=268</guid>
		<description><![CDATA[Republican State Senate Candidate Shane Patrick Connoly (District 13) explains how Proposition 8 flies in the face of the Republican tradition of expanding freedoms&#8211;not taking them away.]]></description>
				<content:encoded><![CDATA[<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="src" value="http://www.youtube.com/v/wcfrB_uL6TU&amp;hl=en&amp;fs=1" /><embed type="application/x-shockwave-flash" width="425" height="344" src="http://www.youtube.com/v/wcfrB_uL6TU&amp;hl=en&amp;fs=1" allowfullscreen="true"></embed></object></p>
<p>Republican State Senate Candidate Shane Patrick Connoly (District 13) explains how Proposition 8 flies in the face of the Republican tradition of expanding freedoms&#8211;not taking them away.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/18/shane-patrick-connoly-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
