<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Protect Marriage &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/protect-marriage/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>The $15,000 Blog Post</title>
		<link>http://republicansagainst8.com/2008/10/20/the-15000-blog-post/</link>
		<comments>http://republicansagainst8.com/2008/10/20/the-15000-blog-post/#respond</comments>
		<pubDate>Mon, 20 Oct 2008 22:30:35 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Protect Marriage]]></category>
		<category><![CDATA[Yes on 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=360</guid>
		<description><![CDATA[Glen Greener, author of the now-discredited &#8220;Six Consequences if Proposition 8 Fails&#8221; blog post, apparently doesn&#8217;t come cheap. [T]he author of the original “Six Consequences” memo, Glen Greener, doesn’t seem to be doing this out of altruism. According to the California Secretary of State’s website, Greener has received more than $15,000 in travel and consulting [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Glen Greener, author of the <a href="http://www.noonprop8.com/headlines/mormon-scholars-memo-debunks-prop-8-ads/">now-discredited &#8220;Six Consequences if Proposition 8 Fails&#8221;</a> blog post, <a href="http://boifromtroy.com/?p=7538">apparently doesn&#8217;t come cheap</a>.</p>
<blockquote><p>[T]he author of the <a href="http://www.meridianmagazine.com/familyleadernetwork/080908fails.html">original “Six Consequences” memo</a>, Glen Greener, doesn’t seem to be doing this out of altruism.</p>
<p>According to the California Secretary of State’s website, Greener has received more than $15,000 in travel and consulting fees from ProtectMarriage.com…</p></blockquote>
<p>If Republicans Against 8 had that kind of money, we&#8217;d be using it to communicate directly to Republican voters&#8211;<a href="https://secure.ga1.org/05/Republicans_Against_8">help us reach that goal today</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/20/the-15000-blog-post/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
