<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Civil Rights &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/civil-rights/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Proposition 8: It&#8217;s Backwards</title>
		<link>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/</link>
		<comments>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/#comments</comments>
		<pubDate>Wed, 22 Oct 2008 15:45:41 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[Civil Rights]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Viral Videos]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=369</guid>
		<description><![CDATA[Would you run backwards? Would you bike backwards? Then why take California backwards? That&#8217;s what Republicans Against 8 is asking California voters in its latest online ad, &#8220;Backwards,&#8221; released today. &#8220;Backwards&#8221; urges voters from across the political spectrum to protect the California Dream for all families by voting No on Proposition 8&#8211;&#8220;It&#8217;s unfair. It&#8217;s unnecessary. [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/LJt1U1HK8Uw&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/LJt1U1HK8Uw&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>Would you run backwards?  Would you bike backwards?  Then why take California backwards?</p>
<p>That&#8217;s what Republicans Against 8 is asking California voters in its latest online ad, &#8220;Backwards,&#8221; released today.  </p>
<p>&#8220;Backwards&#8221; urges voters from across the political spectrum to protect the California Dream for all families by voting No on Proposition 8&#8211;&#8220;It&#8217;s unfair.  It&#8217;s unnecessary.  It&#8217;s Backwards.&#8221;</p>
<p>Help Republicans Against 8 share this video with as many voters as possible by <a href="https://secure.ga1.org/05/Republicans_Against_8">contributing $25, $250 or $2500 today</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>GOP Students Oppose Prop 8</title>
		<link>http://republicansagainst8.com/2008/10/20/gop-students-oppose-prop-8/</link>
		<comments>http://republicansagainst8.com/2008/10/20/gop-students-oppose-prop-8/#respond</comments>
		<pubDate>Mon, 20 Oct 2008 15:33:43 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Civil Rights]]></category>
		<category><![CDATA[Elimination of Rights]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=358</guid>
		<description><![CDATA[If the young Republicans don&#8217;t abandon the party, there is hope for us yet!  In Fresno, one young Republican is standing up for freedom, fairness and equality. &#8220;We were in class on Monday and started talking about how all you see are the &#8216;Yes on Prop 8&#8217; signs and we noticed how wrong that was [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>If the young Republicans don&#8217;t abandon the party, there is hope for us yet!  In Fresno, <a href="http://www.kmph.com/Global/story.asp?S=9201512">one young Republican is standing up for freedom, fairness and equality</a>.</p>
<p><span><span style="color: #000000; font-size: x-small;"></p>
<blockquote><p>&#8220;We were in class on Monday and started talking about how all you see are the &#8216;Yes on Prop 8&#8217; signs and we noticed how wrong that was and organized this. We just thought eight students were going to show up but almost 90 people are here,&#8221; said Natalie Compton.</p>
<p>The seniors say they aren&#8217;t just in support of gay marriage but equality for all Americans.</p>
<p>&#8220;I&#8217;m a Republican and I&#8217;m straight but I still think we shouldn&#8217;t be overruling something that out government already voted &#8216;yes&#8217; on so we shouldn&#8217;t take something away already granted,&#8221; said Compton.</p></blockquote>
<p>Way to go, Natalie!  We hope you can convince your parents, friends and neighbors to stand up and reject the unfair, unnecessary measure that is Proposition 8!</p>
<p></span></span></p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/20/gop-students-oppose-prop-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Connecticut Recognizes Freedom to Marry</title>
		<link>http://republicansagainst8.com/2008/10/10/connecticut-recorgnizes-freedom-to-marry/</link>
		<comments>http://republicansagainst8.com/2008/10/10/connecticut-recorgnizes-freedom-to-marry/#respond</comments>
		<pubDate>Fri, 10 Oct 2008 17:03:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Civil Rights]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=349</guid>
		<description><![CDATA[While Californians are battling to defend the freedom to marry, the right was expanded in yet another State today, with a decision by the Connecticut Supreme Court. &#8220;Interpreting our state constitutional provisions in accordance with firmly established equal protection principles leads inevitably to the conclusion that gay persons are entitled to marry the otherwise qualified [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>While Californians are battling to defend the freedom to marry, the right was expanded in yet another State today, with a <a href="http://www.washingtonpost.com/wp-dyn/content/article/2008/10/10/AR2008101001203.html?hpid=topnews">decision by the Connecticut Supreme Court</a>.</p>
<blockquote><p>&#8220;Interpreting our state constitutional provisions in accordance with firmly established equal protection principles leads inevitably to the conclusion that gay persons are entitled to marry the otherwise qualified same sex partner of their choice,&#8221; Justice Richard N. Palmer wrote in the majority opinion that overturned a lower court finding.</p>
<p>&#8220;To decide otherwise would require us to apply one set of constitutional principles to gay persons and another to all others,&#8221; Palmer wrote.</p></blockquote>
<p>Across the country, people recognize that nobody should be treated differently in the eyes of the government, and that everybody deserves the freedom to marry.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/10/connecticut-recorgnizes-freedom-to-marry/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Barry Goldwater on Fighting the Gays</title>
		<link>http://republicansagainst8.com/2008/09/09/barry-goldwater-on-fighting-the-gays/</link>
		<comments>http://republicansagainst8.com/2008/09/09/barry-goldwater-on-fighting-the-gays/#respond</comments>
		<pubDate>Tue, 09 Sep 2008 22:07:27 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Civil Rights]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=221</guid>
		<description><![CDATA[Barry Goldwater, the founder of the conservative wing of the Republican Party and nominee for President in 1964 was very outspoken on civil rights. He stated, “To see the party that fought communism and big government now fighting the gays, well, that’s just plain dumb.&#8221; There is a Goldwater as part of Republicans Against 8&#8217;s [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Barry Goldwater, the founder of the conservative wing of the Republican Party and nominee for President in 1964 was very outspoken on civil rights. He stated, “To see the party that fought communism and big government now fighting the gays, well, that’s just plain dumb.&#8221;</p>
<p>There is a Goldwater as part of <a href="http://www.new.facebook.com/group.php?gid=31927171759">Republicans Against 8&#8217;s Facebook Group</a>. Join him today!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/09/barry-goldwater-on-fighting-the-gays/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
