<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Dennis Miller &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/dennis-miller/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Dennis Miller, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/12/dennis-miller-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/12/dennis-miller-republican-against-8/#comments</comments>
		<pubDate>Wed, 13 Aug 2008 00:07:36 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Dennis Miller]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=145</guid>
		<description><![CDATA[Comedian Dennis Miller is a Republican against proposition 8. In a colorful interview with the Politico, Miller was outspoken about his support for marriage equality. I’m a moderate in some degree because I have wildly swinging opinions but through some sort of ideological feng shui they end up in the middle. Some swing far to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-dennis-miller.jpg"><img class="alignright size-medium wp-image-146" title="Dennis Miller" src="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-dennis-miller.jpg" alt="" width="114" height="150" /></a>Comedian Dennis Miller is a Republican against proposition 8.</p>
<p>In a <a href="http://www.politico.com/news/stories/0808/12418.html">colorful interview with the Politico</a>, Miller was outspoken about his support for marriage equality.</p>
<blockquote><p>I’m a moderate in some degree because I have wildly swinging opinions but through some sort of ideological feng shui they end up in the middle. Some swing far to the left, others to the far right. I’m for the war, but I’m also for gay marriage&#8230;</p></blockquote>
<p>You&#8217;ll have to read the rest of the interview to find out what he said next.  But wouldn&#8217;t you rather sign up and <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">join Republicans Against 8</a>?</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/12/dennis-miller-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
