<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Yes on 8 &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/yes-on-8/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>The $15,000 Blog Post</title>
		<link>http://republicansagainst8.com/2008/10/20/the-15000-blog-post/</link>
		<comments>http://republicansagainst8.com/2008/10/20/the-15000-blog-post/#respond</comments>
		<pubDate>Mon, 20 Oct 2008 22:30:35 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Protect Marriage]]></category>
		<category><![CDATA[Yes on 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=360</guid>
		<description><![CDATA[Glen Greener, author of the now-discredited &#8220;Six Consequences if Proposition 8 Fails&#8221; blog post, apparently doesn&#8217;t come cheap. [T]he author of the original “Six Consequences” memo, Glen Greener, doesn’t seem to be doing this out of altruism. According to the California Secretary of State’s website, Greener has received more than $15,000 in travel and consulting [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Glen Greener, author of the <a href="http://www.noonprop8.com/headlines/mormon-scholars-memo-debunks-prop-8-ads/">now-discredited &#8220;Six Consequences if Proposition 8 Fails&#8221;</a> blog post, <a href="http://boifromtroy.com/?p=7538">apparently doesn&#8217;t come cheap</a>.</p>
<blockquote><p>[T]he author of the <a href="http://www.meridianmagazine.com/familyleadernetwork/080908fails.html">original “Six Consequences” memo</a>, Glen Greener, doesn’t seem to be doing this out of altruism.</p>
<p>According to the California Secretary of State’s website, Greener has received more than $15,000 in travel and consulting fees from ProtectMarriage.com…</p></blockquote>
<p>If Republicans Against 8 had that kind of money, we&#8217;d be using it to communicate directly to Republican voters&#8211;<a href="https://secure.ga1.org/05/Republicans_Against_8">help us reach that goal today</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/20/the-15000-blog-post/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pro-Prop 8 Ad Criticized</title>
		<link>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/</link>
		<comments>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/#respond</comments>
		<pubDate>Mon, 06 Oct 2008 15:40:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Elimination of Rights]]></category>
		<category><![CDATA[Fact-Check]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Yes on 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=345</guid>
		<description><![CDATA[With its claims that gay marriage will be imposed upon California if Proposition 8 fails, the first television ad from the Yes on 8 campaign fails to pass the smell test, according to the Sacramento Bee. The ad contends the court ruling opens the way for people to be sued over personal beliefs, but California [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>With its claims that gay marriage will be imposed upon California if Proposition 8 fails, the first television <a href="http://www.sacbee.com/111/story/1290701.html">ad from the Yes on 8 campaign fails to pass the smell test</a>, according to the <em>Sacramento Bee</em>.</p>
<blockquote><p>The ad contends the court ruling opens the way for people to be sued over personal beliefs, but California law already prohibits discrimination against anyone based on race, religion, gender or sexual orientation.</p>
<p>As for churches losing their tax status, the Supreme Court ruling stated &#8220;no religion will be required to change its religious policies or practices with regard to same-sex couples.&#8221;</p>
<p>California law also prohibits public schools from teaching students anything about health and family issues against the will of their parents.</p></blockquote>
<p>The same people who claim that Proposition 8 is &#8220;simple&#8221; have to muddy the issue to get voters to support it.  No one can be sued for their beliefs&#8211;they can only be sued for their actions.</p>
<p>Churches can continue to recognize couples as they wish, and as they have for decades.  They can lose their tax status for overtly engaging in political campaigning, or if they otherwise engage in business activities beyond their charitable purposes.</p>
<p>And someone needs to tell me how exactly one would &#8220;teach&#8221; gay marriage in public schools&#8230;</p>
<p>Proposition 8 is about taking away the fundamental rights of Californians.  Nothing more, nothing less.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>New Lies From Prop 8 Proponents</title>
		<link>http://republicansagainst8.com/2008/09/22/new-lies-from-prop-8-proponents/</link>
		<comments>http://republicansagainst8.com/2008/09/22/new-lies-from-prop-8-proponents/#respond</comments>
		<pubDate>Mon, 22 Sep 2008 22:44:01 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Capitol Resource Institute]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Karen England]]></category>
		<category><![CDATA[Yes on 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=297</guid>
		<description><![CDATA[The proponents of Proposition 8 are really grasping at straws. Here are the latest scare tactics they&#8217;re using to try to get folks to support Prop 8: &#8220;Public Schools will teach that homosexuality and same-sex marriage are normal and acceptable-and if you disagree, you are a bigot.&#8221; FALSE.  Proposition 8 says nothing about public schools.  [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>The proponents of Proposition 8 are really grasping at straws.  Here are the latest scare tactics they&#8217;re using to try to get folks to support Prop 8:</p>
<ul>
<li><em>&#8220;Public Schools will teach that homosexuality and same-sex marriage are normal and acceptable-and if you disagree, you are a bigot.</em>&#8221;
<p><strong>FALSE</strong>.  Proposition 8 says nothing about public schools.  Local curricula are set by local school boards in California.  If a parent objects to what&#8217;s being taught in the classroom on religious or moral grounds, they cal always opt their children out.</li>
<li><em>&#8220;Churches will be required to perform homosexual marriage ceremonies or face prosecution under anti-discrimination laws.&#8221;</em>
<p><strong>FALSE</strong>. Churches were performing same-sex weddings for decades regardless of whether they were recognized by law.  Similarly, the Catholic Church is not required to recognize civil divorces, nor will it ever be.</li>
<li><em>&#8220;Businesses will be prosecuted for not participating in homosexual ceremonies.&#8221;</em>
<p><strong>FALSE</strong>.  Proposition 8 says nothing about what businesses may or may not do.  Non-discrimination laws already on the books require that any service offered to the public by a business must be offered to everyone.  Are the proponents of Proposition 8 asking that we repeal our non-discrimination laws?</li>
<li><em>&#8220;Married couples will no longer be considered &#8220;bride and groom,&#8221; but &#8220;Party A and Party B.&#8221;</em>
<p><strong>FALSE</strong>. Whereas marriage licenses in California are no longer gender-specific, married couples may call themselves whatever they want.  That&#8217;s a constitutional right&#8211;something proponents of Prop 8 don&#8217;t seem to have much respect for.</li>
<li><em>&#8220;The role of parents will be diminished.&#8221;</em>
<p><strong>FALSE</strong>. Already, 71% of children growing up in California live in non-traditional families.  Why deny the children of gay and lesbian couples the joy of having their parents&#8217; love recognized by the State?</li>
</ul>
<p>Proponents of Proposition 8 say it&#8217;s simple&#8211;but then they must twist the truth in order to scare voters.</p>
<p>Prop 8 is simple&#8211;it&#8217;s an assault of our constitutional freedoms as Californians.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/22/new-lies-from-prop-8-proponents/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Welcome CRI Readers!</title>
		<link>http://republicansagainst8.com/2008/09/19/supporters-of-big-government-are-watching/</link>
		<comments>http://republicansagainst8.com/2008/09/19/supporters-of-big-government-are-watching/#respond</comments>
		<pubDate>Fri, 19 Sep 2008 15:07:29 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[limited government]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[Yes on 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=280</guid>
		<description><![CDATA[Welcome, Capitol Resource Institute Readers! And welcome to everyone else who gets relentless emails from &#8216;Yes on 8&#8217; camp. Some Republicans Against 8 recently received an email from the other guys highlighting our work to defend freedom. Of course, they didn&#8217;t put it that way. Instead of rebutting our arguments that Prop. 8 is bad [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Welcome, Capitol Resource Institute Readers!  And welcome to everyone else who gets relentless emails from &#8216;Yes on 8&#8217; camp.  Some Republicans Against 8 recently received an email from the other guys highlighting our work to defend freedom.  Of course, they didn&#8217;t put it that way.  Instead of rebutting our arguments that Prop. 8 is bad for business, denies fellow Californians fundamental freedoms, and extends the government&#8217;s reach into our lives, they simply assumed their readers would blindly agree with them.  They did get the gist of this website, though:</p>
<blockquote><p>Their purpose is to convince Republicans to vote against Proposition 8 and publicize famous Republicans who are in opposition to the marriage amendment.</p></blockquote>
<p>A lot of Republicans are against Prop. 8.  People like <a href="http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/" target="_self">Arnold Schwarzenegger</a>, <a href="http://republicansagainst8.com/2008/08/08/mary-cheney-republican-against-8/" target="_self">Mary Cheney</a>, <a href="http://republicansagainst8.com/2008/08/08/ward-connerly-republican-against-8/" target="_self">Ward Connerly</a>, and <a href="http://republicansagainst8.com/2008/08/12/dennis-miller-republican-against-8/" target="_self">Dennis Miller</a> understand why Prop. 8 goes against traditional GOP values.  So do many regular Republicans like you.</p>
<p>Please take the time to surf around and see why they&#8217;re against Prop 8 before you fire off that angry email Karen asked you to send.</p>
<p>Do you agree with these Republicans?  Do you oppose greater government oversight of our personal lives? Stand up for conservative values and become <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">another Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/19/supporters-of-big-government-are-watching/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
