<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Ronald Reagan &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/ronald-reagan/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Reagan, Schwarzenegger Featured in New Ad</title>
		<link>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/</link>
		<comments>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/#respond</comments>
		<pubDate>Fri, 31 Oct 2008 14:08:14 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Arnold Schwarzenegger]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[Ronald Reagan]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=393</guid>
		<description><![CDATA[A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians. In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians.</p>
<p>In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to teach in public schools.  He called the measure “costly,” and said that it had the potential to cause “undue harm.”  Voters listened, and Proposition 6 was defeated.</p>
<p>In April 2008, California Governor Arnold Schwarzenegger told the National Convention of Log Cabin Republicans that he was against a constitutional amendment to eliminate the right to marry for same-sex couples.  Video of Governor Schwarzenegger declaring, “I will always be there to fight against that,” is featured in the sixty-second video.</p>
<p>“Ronald Reagan is a conservative icon because of his efforts to spread freedom around the globe,” said Republicans Against 8 Campaign Manager Scott Schmidt.  “Conservatives need to remember that Ronald Reagan was opposed to taking away people’s rights.  Were he still with us today, Ronald Reagan would be in good company with another Republican Governor, Arnold Schwarzenegger.”</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Scott Harris, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/26/scott-harris-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/26/scott-harris-republican-against-8/#respond</comments>
		<pubDate>Fri, 26 Sep 2008 22:04:52 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Briggs Initiative]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Ronald Reagan]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=312</guid>
		<description><![CDATA[Scott Harris is a political commentator and writer, and opposes Prop. 8 for a number of reasons. Ultimately, he concludes that just as Gov. Ronald Reagan once opposed discrimination against gays in the classroom, Republicans must now stand up and defend fundamental rights to marriage: &#8220;2008 is the 30-year anniversary of California defeating Proposition 6, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/scott-harris-frame.jpg"><img class="alignright size-full wp-image-313" title="scott-harris-frame" src="http://republicansagainst8.com/wp-content/uploads/2008/09/scott-harris-frame.jpg" alt="" width="114" height="150" /></a>Scott Harris is a political commentator and writer, and <a href="http://foxandhoundsdaily.com/blog/scott-harris/8-against-prop-8" target="_self">opposes Prop. 8 for a </a><a href="http://foxandhoundsdaily.com/blog/scott-harris/8-against-prop-8" target="_self">number of reasons</a>.  Ultimately, he concludes that just as Gov. Ronald Reagan once opposed discrimination against gays in the classroom, Republicans must now stand up and defend fundamental rights to marriage:</p>
<blockquote><p>&#8220;2008 is the 30-year anniversary of California defeating Proposition 6, the Briggs Amendment, which would have banned gays and lesbians from teaching in public schools. We were on the right side of history in 1978 and let&#8217;s hope we are wise and fair enough to be there again this year.&#8221;</p></blockquote>
<p>Do you agree with Scott that Republicans have a long heritage of protecting the rights of everyone?  Join us and <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">vow to vote NO on 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/26/scott-harris-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
