<?xml version="1.0" encoding="UTF-8"?><!-- generator="WordPress/2.8.5" -->
<rss version="0.92">
<channel>
	<title>Republicans Against 8</title>
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<docs>http://backend.userland.com/rss092</docs>
	<language>en</language>
	
	<item>
		<title>Governor Schwarzenegger on Prop 8</title>
		<description>Governor Arnold Schwarzenegger has issued a statement in response to today's historic decision declaring Proposition 8 unconstitutional:

For the hundreds of thousands of Californians in gay and lesbian households who are managing their day-to-day lives, this decision affirms the full legal protections and safeguards I believe everyone deserves. At the same ...</description>
		<link>http://republicansagainst8.com/2010/08/04/governor-schwarzenegger-on-prop-8/</link>
			</item>
	<item>
		<title>California Log Cabin Republicans Responds to Prop 8 Case Decision</title>
		<description>(Los Angeles, CA) - In response to the decision by US District Judge Vaughn Walker in the case of Perry v. Schwarzenegger, California Log Cabin Republicans (LCR) issued the following response from LCR State Chairman Leonard M. Lanzi:
 
"Today, all Californians have had their rights strengthened through the court's decision. ...</description>
		<link>http://republicansagainst8.com/2010/08/04/california-log-cabin-republicans-responds-to-prop-8-case-decision/</link>
			</item>
	<item>
		<title>California Log Cabin Republicans Responds to 2012 Decision by Equality California</title>
		<description>August 12, 2009, (Los Angeles, CA) – California Log Cabin Republicans issued the following statement responding to the announcement earlier today of the decision to pursue a California Proposition 8 repeal for the November 2012 ballot.
Statement by Len Lanzi, President of California Log Cabin Republicans
“Log Cabin Republicans knows better than ...</description>
		<link>http://republicansagainst8.com/2009/08/12/california-log-cabin-republicans-responds-to-2012-decision-by-equality-california/</link>
			</item>
	<item>
		<title>Log Cabin Republicans, Republicans Against 8 Vow to Restore Right to Marry</title>
		<description>Log Cabin Republicans and Republicans Against Prop 8 issue the following statements:

Statement of Scott Schmidt, Campaign Manager, Republicans Against 8

"It is a sad day for California when the Supreme Court gives up its role as the ultimate protector of Constitutional Rights for all Californians. By endorsing the legal theory that ...</description>
		<link>http://republicansagainst8.com/2009/05/28/log-cabin-republicans-republicans-against-8-vow-to-restore-right-to-marry/</link>
			</item>
	<item>
		<title>Reagan, Schwarzenegger Featured in New Ad</title>
		<description>

A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians.

In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay ...</description>
		<link>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/</link>
			</item>
	<item>
		<title>Advocate Features GOP Ads</title>
		<description>

The Advocate tells the backstory of the two latest ads from Republicans Against 8.
Schmidt said the             effort is an example of the “unprecedented             cooperation   ...</description>
		<link>http://republicansagainst8.com/2008/10/29/advocate-freatures-gop-ads/</link>
			</item>
	<item>
		<title>Proposition 8: Bad for Biotech</title>
		<description>Republicans Against 8 have always said that Proposition 8 is bad for business, and could send industries packing to places where all citizens have equal treatment under the law.  Now, biotech executives in San Diego are confirming that Proposition 8 is bad for business.
“The governor of Massachusetts has made it ...</description>
		<link>http://republicansagainst8.com/2008/10/29/proposition-8-bad-for-biotech/</link>
			</item>
	<item>
		<title>Leave Religion Out of It</title>
		<description>Andrew Steele, a Republican against Proposition 8, has a letter to the editor in today's Vallejo Times-Herald.
I'm a 20-year-old Log Cabin Republican, and being that, you know that I support gay marriage whole-heartedly, but one thing I cannot seem to understand is why everyone is making this a gay issue. ...</description>
		<link>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/</link>
			</item>
	<item>
		<title>Join Us!</title>
		<description>

"We are Friends, We are neighbors...We are Republicans, We Are Democrats," states, "Join Us," one of the newest ads produced by Republicans Against 8.  "Join Us" features a cast including Log Cabin members Steven Sion, Carol Newman, and Len Greco, West Hollywood Chamber of Commerce Chairman Joe Clapsaddle and ...</description>
		<link>http://republicansagainst8.com/2008/10/28/join-us/</link>
			</item>
	<item>
		<title>Defending Freedom</title>
		<description>

"Defending Freedom" is one of two ads released today by Republicans Against 8.  Directed by "Milk" screenwriter Dustin Lance Black, "Defending Freedom" tells the story of three gay and lesbian Californians.

Speaking directly to straight Californians, "Defending Freedom" highlights the accomplishments of gay and lesbian Californians in protecting the rights ...</description>
		<link>http://republicansagainst8.com/2008/10/28/defending-freedom/</link>
			</item>
</channel>
</rss>
