<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Arnold Schwarzenegger &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/arnold-schwarzenegger/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Reagan, Schwarzenegger Featured in New Ad</title>
		<link>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/</link>
		<comments>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/#respond</comments>
		<pubDate>Fri, 31 Oct 2008 14:08:14 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Arnold Schwarzenegger]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[Ronald Reagan]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=393</guid>
		<description><![CDATA[A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians. In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians.</p>
<p>In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to teach in public schools.  He called the measure “costly,” and said that it had the potential to cause “undue harm.”  Voters listened, and Proposition 6 was defeated.</p>
<p>In April 2008, California Governor Arnold Schwarzenegger told the National Convention of Log Cabin Republicans that he was against a constitutional amendment to eliminate the right to marry for same-sex couples.  Video of Governor Schwarzenegger declaring, “I will always be there to fight against that,” is featured in the sixty-second video.</p>
<p>“Ronald Reagan is a conservative icon because of his efforts to spread freedom around the globe,” said Republicans Against 8 Campaign Manager Scott Schmidt.  “Conservatives need to remember that Ronald Reagan was opposed to taking away people’s rights.  Were he still with us today, Ronald Reagan would be in good company with another Republican Governor, Arnold Schwarzenegger.”</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Kevin Johnson Embraces Conflict on Marriage</title>
		<link>http://republicansagainst8.com/2008/09/10/kevin-johnson-embraces-conflict-on-marriage/</link>
		<comments>http://republicansagainst8.com/2008/09/10/kevin-johnson-embraces-conflict-on-marriage/#respond</comments>
		<pubDate>Wed, 10 Sep 2008 17:42:34 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Arnold Schwarzenegger]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Kevin Johnson]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=225</guid>
		<description><![CDATA[Sacramento Mayoral Candidate&#8211;and former NBA Star&#8211;Kevin Johnson is in the same position as many California voters: he personally opposes same-sex marriage, but is against eliminating the right. Although Johnson is a Democrat, he wrestled with the same conflict on the issue as many Republicans and came to the conclusion that even though he does not [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/pg2_kevin_johnson_195.jpg"><img class="alignright size-medium wp-image-226" title="Kevin Johnson, Sacramento" src="http://republicansagainst8.com/wp-content/uploads/2008/09/pg2_kevin_johnson_195.jpg" alt="" width="195" height="262" /></a>Sacramento Mayoral Candidate&#8211;and former NBA Star&#8211;Kevin Johnson is in the same position as many California voters: he personally opposes same-sex marriage, but is against eliminating the right.</p>
<p>Although Johnson is a Democrat, he wrestled with the same conflict on the issue as many Republicans and came to the conclusion that even though he does not support same-sex marriage, he cannot support taking that right away.</p>
<blockquote><p>According to a statement issued Tuesday by his campaign, Johnson opposes Proposition 8 &#8220;because it would write discrimination into the state constitution.&#8221;</p>
<p>The press release said Johnson shares views with Sen. Barack Obama and Gov. Arnold Schwarzenegger, who oppose a ban on gay marriage in California but personally believe marriage should be between a man and a woman.</p></blockquote>
<p><a href="http://www.redcounty.com/sac/2008/09/kevin-johnson-caves-on-marriag/">Some Republicans don&#8217;t understand</a> that some things like freedom and basic rights, are more important than one&#8217;s own personal beliefs.  They&#8217;re dead-wrong.</p>
<p>Although Johnson is not a Republican, he&#8217;s in the same position as many of the one to two million GOPers who will be voting against Prop 8 this November&#8211;and his own personal struggle with the conflict should serve as a model for others.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/10/kevin-johnson-embraces-conflict-on-marriage/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Arnold Schwarzenegger, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/#comments</comments>
		<pubDate>Sat, 09 Aug 2008 02:08:43 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Arnold Schwarzenegger]]></category>
		<category><![CDATA[business]]></category>
		<category><![CDATA[economy]]></category>
		<category><![CDATA[Higher Taxes]]></category>
		<category><![CDATA[Police and Fire]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=87</guid>
		<description><![CDATA[California Governor Arnold Schwarzenegger is a Republican against Proposition 8. On April 11, speaking to the Log Cabin Republicans National Convention, Schwarzenegger told Log Cabin President Patrick Sammon, &#8220;I will always be there to fight against that.&#8221; A month later, Schwarzenegger hailed the idea of marriage equality as a boon for the California economy. &#8220;You [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-schwarzenegger1.jpg"><img src="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-schwarzenegger1.jpg" alt="" title="ra8-schwarzenegger1" width="114" height="150" class="alignnone size-full wp-image-88" align="right" /></a>California Governor Arnold Schwarzenegger is a Republican against Proposition 8.  On April 11, speaking to the Log Cabin Republicans National Convention, <a href="http://www.huffingtonpost.com/karen-ocamb/gov-schwarzenegger-oppose_b_97550.html">Schwarzenegger told Log Cabin President Patrick Sammon</a>, &#8220;I will always be there to fight against that.&#8221;  A month later, Schwarzenegger hailed the idea of marriage equality as a boon for the California economy.  &#8220;You know, I&#8217;m wishing everyone good luck with their marriages and I hope that California&#8217;s economy is booming because everyone is going to come here and get married,&#8221; <a href="http://www.sacbee.com/111/story/954781.html">said Schwarzenegger at an event in San Francisco</a>.</p>
<p>The State Legislative Analyst estimates that state and local governments could lose tens of millions of dollars in the coming year if Proposition 8 passes.  That could mean higher taxes or cuts to vital services like police and fire.</p>
<p>Watch Governor Schwarzenegger&#8217;s remarks to the Log Cabin Convention in one of our featured videos:</p>
<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/AR09RxPpAaE&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/AR09RxPpAaE&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
