<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Brad Torgan, Republican Against 8</title>
	<atom:link href="http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
	<item>
		<title>By: Republicans Against 8 &#187; Proposition 8: Bad for Biotech</title>
		<link>http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/comment-page-1/#comment-23</link>
		<dc:creator><![CDATA[Republicans Against 8 &#187; Proposition 8: Bad for Biotech]]></dc:creator>
		<pubDate>Wed, 29 Oct 2008 17:20:02 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=272#comment-23</guid>
		<description><![CDATA[[...] is the message delivered by Republican Proposition 8 opponent Brad Torgan.  Help keep business in California and Vote NO on [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] is the message delivered by Republican Proposition 8 opponent Brad Torgan.  Help keep business in California and Vote NO on [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Republicans Against 8 &#187; Valley Businesses Oppose Prop 8</title>
		<link>http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/comment-page-1/#comment-12</link>
		<dc:creator><![CDATA[Republicans Against 8 &#187; Valley Businesses Oppose Prop 8]]></dc:creator>
		<pubDate>Fri, 26 Sep 2008 03:13:15 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=272#comment-12</guid>
		<description><![CDATA[[...] Brad Torgan, Republican Against 8 [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Brad Torgan, Republican Against 8 [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
