<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Mary Cheney, Republican Against 8</title>
	<atom:link href="http://republicansagainst8.com/2008/08/08/mary-cheney-republican-against-8/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2008/08/08/mary-cheney-republican-against-8/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
	<item>
		<title>By: Republicans Against 8 &#187; Lynne Cheney Speaks out for Freedom</title>
		<link>http://republicansagainst8.com/2008/08/08/mary-cheney-republican-against-8/comment-page-1/#comment-9</link>
		<dc:creator><![CDATA[Republicans Against 8 &#187; Lynne Cheney Speaks out for Freedom]]></dc:creator>
		<pubDate>Tue, 16 Sep 2008 23:56:44 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=79#comment-9</guid>
		<description><![CDATA[[...] in support of gay marriage yesterday on CBS&#8217;s The Early Show. The Cheney&#8217;s daughter, Mary Cheney, is a supporter of the No on 8 campaign. When asked specifically about her daughter and marriage, [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] in support of gay marriage yesterday on CBS&#8217;s The Early Show. The Cheney&#8217;s daughter, Mary Cheney, is a supporter of the No on 8 campaign. When asked specifically about her daughter and marriage, [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Basic Rights Oregon &#187; Blog Archive &#187; Republicans against Prop. 8</title>
		<link>http://republicansagainst8.com/2008/08/08/mary-cheney-republican-against-8/comment-page-1/#comment-8</link>
		<dc:creator><![CDATA[Basic Rights Oregon &#187; Blog Archive &#187; Republicans against Prop. 8]]></dc:creator>
		<pubDate>Mon, 15 Sep 2008 20:55:09 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=79#comment-8</guid>
		<description><![CDATA[[...] called Republicans Against 8. Recently, they have reported that Dick Cheney&#8217;s daughter, Mary Cheney, has pledged $3,000 to the efforts of defeating Proposition 8 in [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] called Republicans Against 8. Recently, they have reported that Dick Cheney&#8217;s daughter, Mary Cheney, has pledged $3,000 to the efforts of defeating Proposition 8 in [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
