<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Join Us!</title>
	<atom:link href="http://republicansagainst8.com/2008/10/28/join-us/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2008/10/28/join-us/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
	<item>
		<title>By: Two More Ads from Republicans Against 8</title>
		<link>http://republicansagainst8.com/2008/10/28/join-us/comment-page-1/#comment-20</link>
		<dc:creator><![CDATA[Two More Ads from Republicans Against 8]]></dc:creator>
		<pubDate>Tue, 28 Oct 2008 21:19:06 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=384#comment-20</guid>
		<description><![CDATA[[...] to defeat the California proposition that would ban same-sex marriage has released two more ads: &#8220;Join Us,&#8221; and &#8220;Defending [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] to defeat the California proposition that would ban same-sex marriage has released two more ads: &#8220;Join Us,&#8221; and &#8220;Defending [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
