<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Military &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/military/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Chuck Vasquez, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/10/chuck-vazquez-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/10/chuck-vazquez-republican-against-8/#respond</comments>
		<pubDate>Sun, 10 Aug 2008 18:32:04 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Cathedral City]]></category>
		<category><![CDATA[Chuck Vasquez]]></category>
		<category><![CDATA[Coachella Valley]]></category>
		<category><![CDATA[Elimination of Rights]]></category>
		<category><![CDATA[Military]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=126</guid>
		<description><![CDATA[Cathedral City Councilman Chuck Vasquez is a Republican Against Proposition 8. Listen to Councilman Vazquez explain why he believes Republicans should oppose Proposition 8: As a American I take pride in our system of checks and balances. That system was demonstrated in May 2008 when the Republican dominated Californian Supreme Court ruled on Gay Marriage [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-chuck-vazquez-cathedral1.jpg"><img class="alignright size-medium wp-image-127" title="Chuck Vasquez Cathedral City" src="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-chuck-vazquez-cathedral1.jpg" alt="" width="114" height="150" /></a>Cathedral City Councilman Chuck Vasquez is a Republican Against Proposition 8.</p>
<p>Listen to Councilman Vazquez explain why he believes Republicans should oppose Proposition 8:</p>
<blockquote><p>As a American I take pride in our system of checks and balances. That system was demonstrated in May 2008 when the Republican dominated Californian Supreme Court ruled on Gay Marriage with a 4-3 ruling declaring that the state Constitution protects a fundamental &#8220;right to marry&#8221; that extends equally to same-sex couples. I can&#8217;t believe that any American would support a Constitutional Amendment that is designed to &#8220;Eliminate&#8221; rights. Americans  with great pride, conviction and resolve have fought to &#8220;protect rights&#8221; both here and on foreign soil. To support a Constitutional Amendment to &#8220;Eliminate&#8221; rights is an insult to every American Soldier  that has fought to protect our rights and freedoms.</p></blockquote>
<p><a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">Join Councilman Vasquez and Republicans Against 8</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/10/chuck-vazquez-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
