<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Law Enforcement &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/law-enforcement/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Lee Baca: Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/10/24/lee-baca-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/10/24/lee-baca-republican-against-8/#respond</comments>
		<pubDate>Fri, 24 Oct 2008 18:38:17 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Law Enforcement]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=377</guid>
		<description><![CDATA[Republicans Against 8 and the No on 8 Campaign have announced another major Republican who is opposed to Proposition 8: Los Angeles Sheriff Lee Baca. “The Gay men and lesbian women of the law enforcement community are some of the most responsible and virtuous people I know. To deny them their ability to further responsible [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/10/ra8-lee-baca.jpg"><img class="alignright size-medium wp-image-378" title="Lee Baca" src="http://republicansagainst8.com/wp-content/uploads/2008/10/ra8-lee-baca.jpg" alt="" width="114" height="150" /></a>Republicans Against 8 and the No on 8 Campaign have announced another <a href="http://www.noonprop8.com/articles/2008/10/24/another-major-elected-official-says-no-to-prop-8/">major Republican who is opposed to Proposition 8: Los Angeles Sheriff Lee Baca</a>.</p>
<p>“The Gay men and lesbian women of the law enforcement community are some of the most responsible and virtuous people I know. To deny them their ability to further responsible lives outside of the job is inconsistent with the core values of public service,” said Baca.</p>
<p>Baca joins <a href="http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/">Tom Campbell</a> and <a href="http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/">Jim Cunneen</a> as the third major Republican to come out against Proposition 8 in the last twenty four hours.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/24/lee-baca-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
