<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Corporate Equality Index &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/corporate-equality-index/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Top Companies Know What&#8217;s Good for Business</title>
		<link>http://republicansagainst8.com/2008/09/15/top-companies-know-whats-good-for-business/</link>
		<comments>http://republicansagainst8.com/2008/09/15/top-companies-know-whats-good-for-business/#respond</comments>
		<pubDate>Mon, 15 Sep 2008 22:30:04 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[business]]></category>
		<category><![CDATA[Corporate Equality Index]]></category>
		<category><![CDATA[Human Rights Campaign]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=245</guid>
		<description><![CDATA[The corporate world knows a thing or two about doing business. And they&#8217;ve overwhelmingly lined up in support of equality: The Human Rights Campaign&#8217;s 2009 Corporate Equality Index rates a record-smashing 259 major American companies with perfect scores—up from just 13 in 2002. In one company&#8217;s words: “Shell is pleased to have achieved a perfect [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>The corporate world knows a thing or two about doing business.  And they&#8217;ve overwhelmingly lined up in support of equality:  The <a href="http://www.hrc.org/11147.htm" target="_self">Human Rights Campaign&#8217;s 2009 Corporate Equality Index</a> rates a record-smashing 259 major American companies with perfect scores<span style="font-size: medium;">—</span>up from just 13 in 2002.  In one company&#8217;s words:</p>
<blockquote><p>“Shell is pleased to have achieved a perfect score on the CEI-rating. This was a priority for us because it further demonstrates our commitment to inclusiveness in the workplace,” said Marvin Odum, president of Shell Oil Company. “A 100-percent rating helps us to better attract, recruit and retain diverse talent to contribute to our overall business success.”</p></blockquote>
<p>California Republicans should take a cue from corporate America:  Discrimination is bad for business. That&#8217;s why AT&amp;T and Pacific Gas and Electric are opposed to Proposition 8.  If you agree, join us by becoming <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">another Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/15/top-companies-know-whats-good-for-business/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
