<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Republican Opposition to Prop 8 Featured</title>
	<atom:link href="http://republicansagainst8.com/2008/08/22/republican-opposition-to-prop-8-featured/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2008/08/22/republican-opposition-to-prop-8-featured/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>By: Boi From Troy &#187; Blog Archive &#187; Famous for West Hollywood</title>
		<link>http://republicansagainst8.com/2008/08/22/republican-opposition-to-prop-8-featured/comment-page-1/#comment-3</link>
		<dc:creator><![CDATA[Boi From Troy &#187; Blog Archive &#187; Famous for West Hollywood]]></dc:creator>
		<pubDate>Mon, 25 Aug 2008 20:03:31 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=184#comment-3</guid>
		<description><![CDATA[[...] because we just read the article about your group in one of the gay magazines,&#8221; he told me, referring to IN Magazine, which features my mug in the print [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] because we just read the article about your group in one of the gay magazines,&#8221; he told me, referring to IN Magazine, which features my mug in the print [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
