<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Proposition 22 &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/proposition-22/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Reneging on a Right</title>
		<link>http://republicansagainst8.com/2008/08/11/reneging-on-a-right/</link>
		<comments>http://republicansagainst8.com/2008/08/11/reneging-on-a-right/#respond</comments>
		<pubDate>Tue, 12 Aug 2008 01:01:48 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Los Angeles]]></category>
		<category><![CDATA[Proposition 22]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=137</guid>
		<description><![CDATA[On August 8th, the Los Angeles Times editorial board came out with their endorsement, opposing Proposition 8. In other words, the very act of denying gay and lesbian couples the right to marry &#8212; traditionally the highest legal and societal recognition of a loving commitment &#8212; by definition relegates them and their relationships to second-class [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>On August 8th, the <em>Los Angeles Times</em> editorial board came out with their <a href="http://www.latimes.com/news/opinion/la-ed-marriage8-2008aug08,0,1229155.story">endorsement, opposing Proposition 8</a>.</p>
<blockquote><p>In other words, the very act of denying gay and lesbian couples the right to marry &#8212; traditionally the highest legal and societal recognition of a loving commitment &#8212; by definition relegates them and their relationships to second-class status, separate and not all that equal.</p>
<p>To be sure, the court overturned Proposition 22, a vote of the people. That is the court&#8217;s duty when a law is unconstitutional, even if it is exceedingly popular. Civil rights are commonly hard-won, and not the result of widespread consensus. Whites in the South vehemently rejected the 1954 Supreme Court decision to desegregate schools. For that matter, Californians have accused the state Supreme Court of obstructing the people&#8217;s will on marriage before &#8212; in 1948, when it struck down a ban on interracial marriages.</p>
<p>Fundamental rights are exactly that. They should neither wait for popular acceptance, nor be revoked because it is lacking.</p></blockquote>
<p>Good timing (8-8-8 get it?) and a good message!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/11/reneging-on-a-right/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
