<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Who Opposes Proposition 8?</title>
	<atom:link href="http://republicansagainst8.com/who-oppose-proposition-8/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
	<item>
		<title>By: The conservative case against Prop 8 : Equality Loudoun</title>
		<link>http://republicansagainst8.com/who-oppose-proposition-8/comment-page-1/#comment-19</link>
		<dc:creator><![CDATA[The conservative case against Prop 8 : Equality Loudoun]]></dc:creator>
		<pubDate>Sun, 26 Oct 2008 03:38:35 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?page_id=21#comment-19</guid>
		<description><![CDATA[[...] sizable number of Republicans have now joined the movement to defeat Prop 8 in California, along with the business community and [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] sizable number of Republicans have now joined the movement to defeat Prop 8 in California, along with the business community and [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Republicans Against 8 &#187; Tom Campbell: Republican Against 8</title>
		<link>http://republicansagainst8.com/who-oppose-proposition-8/comment-page-1/#comment-17</link>
		<dc:creator><![CDATA[Republicans Against 8 &#187; Tom Campbell: Republican Against 8]]></dc:creator>
		<pubDate>Fri, 24 Oct 2008 18:26:32 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?page_id=21#comment-17</guid>
		<description><![CDATA[[...] is just the latest Republican to oppose Proposition 8.  Join him today and become a Republican Against [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] is just the latest Republican to oppose Proposition 8.  Join him today and become a Republican Against [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
