<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Bad for Business &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/bad-for-business/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Proposition 8: Bad for Biotech</title>
		<link>http://republicansagainst8.com/2008/10/29/proposition-8-bad-for-biotech/</link>
		<comments>http://republicansagainst8.com/2008/10/29/proposition-8-bad-for-biotech/#respond</comments>
		<pubDate>Wed, 29 Oct 2008 17:19:59 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=388</guid>
		<description><![CDATA[Republicans Against 8 have always said that Proposition 8 is bad for business, and could send industries packing to places where all citizens have equal treatment under the law.  Now, biotech executives in San Diego are confirming that Proposition 8 is bad for business. “The governor of Massachusetts has made it very clear that he [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Republicans Against 8 have always said that Proposition 8 is bad for business, and could send industries packing to places where all citizens have equal treatment under the law.  Now, <a href="http://www.signonsandiego.com/news/business/20081029-9999-1b29prop8.html">biotech executives in San Diego are confirming that Proposition 8 is bad for business</a>.</p>
<blockquote><p>“The governor of Massachusetts has made it very clear that he recognizes this is a competitive and lucrative industry and he&#8217;d do everything he can to attract companies,” Fischer said. “And this is a sure opportunity for Massachusetts to feature its benefits that are not available in California should Proposition 8 pass.”</p>
<p>In San Diego, biotechnology companies and those that provide services to them employ nearly 40,000 people at 710 companies. Biotechnology is the state&#8217;s second largest high-tech industry, generating $73 billion in revenue annually and employing more than 267,000 people.</p>
<p>Companies in other high-paying and globally competitive industries also oppose Proposition 8. They include Silicon Valley giants Google and Apple and San Diego&#8217;s Qualcomm, which donated $5,000 to the opposition campaign, according to state records.</p></blockquote>
<p>That is the message delivered by <a href="http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/">Republican Proposition 8 opponent Brad Torgan</a>.  Help keep business in California and <strong>Vote NO on 8</strong>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/29/proposition-8-bad-for-biotech/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Tom Campbell: Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/#comments</comments>
		<pubDate>Fri, 24 Oct 2008 18:26:29 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[republican candidates]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=374</guid>
		<description><![CDATA[Former U.S. Senate hopeful and California Congressman Tom Campbell announced his opposition to Proposition 8 today on the Reason Magazine website. Republicans also care about jobs; and as a business proposition, it makes no sense to support Prop. 8. Discrimination at any level is bad for business. California has always made itself stronger by welcoming, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/10/tom-campbell.jpg"><img class="alignright size-medium wp-image-375" title="Tom Campbell" src="http://republicansagainst8.com/wp-content/uploads/2008/10/tom-campbell.jpg" alt="" width="114" height="150" /></a>Former U.S. Senate hopeful and California Congressman Tom Campbell announced his <a href="http://reason.com/news/show/129641.html">opposition to Proposition 8 today on the Reason Magazine website</a>.</p>
<blockquote><p>Republicans also care about jobs; and as a business proposition, it makes no sense to support Prop. 8. Discrimination at any level is bad for business. California has always made itself stronger by welcoming, not excluding, people who want to work hard and build better futures for themselves and their communities. What kind of a message does it send to workers, of any background, that we are willing to codify discrimination into our state constitution?</p>
<p>Gay couples are asking for a chance to play by the rules. We can give them that chance. For those of us who are proud of our party&#8217;s and our state&#8217;s reputation for fairness and against discrimination, our choice is very clear: No on Proposition 8.</p></blockquote>
<p>Campbell is just the latest <a href="http://republicansagainst8.com/who-oppose-proposition-8/">Republican to oppose Proposition 8</a>.  Join him today and <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">become a Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Google Knows What&#8217;s Good for Business</title>
		<link>http://republicansagainst8.com/2008/09/30/google-knows-whats-good-for-business/</link>
		<comments>http://republicansagainst8.com/2008/09/30/google-knows-whats-good-for-business/#respond</comments>
		<pubDate>Tue, 30 Sep 2008 23:12:20 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[Google]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=339</guid>
		<description><![CDATA[Media giant Google knows what&#8217;s good for business. In ten short years, they&#8217;ve gone from working out of a garage to having a market capitalization in the neighborhood of $140 billion, making it one of the largest companies in the world. And the company&#8217;s management feels strongly enough about Prop. 8&#8217;s potential effect on their [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Media giant Google knows what&#8217;s good for business.  In ten short years, they&#8217;ve gone from working out of a garage to having a market capitalization in the neighborhood of $140 billion, making it one of the largest companies in the world.  And the company&#8217;s management feels strongly enough about Prop. 8&#8217;s potential effect on their business that they&#8217;re taking the unusual step of publicly denouncing the measure.  In <a href="http://googleblog.blogspot.com/2008/09/our-position-on-californias-no-on-8.html">co-founder Sergey Brin&#8217;s words</a>:</p>
<blockquote><p>[I]t is the chilling and discriminatory effect of the proposition on many of our employees that brings Google to publicly oppose Proposition 8&#8230;.</p>
<p>We hope that California voters will vote no on Proposition 8 &#8212; we should not eliminate anyone&#8217;s fundamental rights, whatever their sexuality, to marry the person they love.</p></blockquote>
<p>Companies like Google, <a href="http://www.fresnobee.com/384/story/895047.html">Levi Strauss, PG&amp;E, and AT&amp;T understand the negative effect Prop. 8 will have on their businesses</a>.  And as Republicans who believe in creating business-friendly environments, we agree.</p>
<p>Do you?  Join us and become <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">another Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/30/google-knows-whats-good-for-business/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Matt Klink, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/27/matt-klink-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/27/matt-klink-republican-against-8/#respond</comments>
		<pubDate>Sat, 27 Sep 2008 17:59:30 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=305</guid>
		<description><![CDATA[Matt Klink is a Republican political consultant based in Los Angeles. He opposes Prop. 8 for economic reasons: A June 11, 2008, US News &#38; World Report article on the subject offered a brief analysis of the situation when its author wrote, &#8220;Almost as soon as the state Supreme Court declared a state law banning [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/matt-klink-frame.jpg"><img class="alignright size-full wp-image-306" title="matt-klink-frame" src="http://republicansagainst8.com/wp-content/uploads/2008/09/matt-klink-frame.jpg" alt="" width="114" height="150" /></a>Matt Klink is a Republican political consultant based in Los Angeles.  He <a href="http://foxandhoundsdaily.com/blog/matt-klink/same-sex-marriage-%E2%80%93-an-economic-windfall-california" target="_self">opposes Prop. 8 for economic reasons</a>:</p>
<blockquote><p>A June 11, 2008, US News &amp; World Report article on the subject offered a brief analysis of the situation when its author wrote, &#8220;Almost as soon as the state Supreme Court declared a state law banning same-sex marriage unconstitutional last month, analysts saw the potential for an economic boomlet.&#8221;</p></blockquote>
<blockquote><p>Thankfully, someone had the foresight to study this situation and offer an economic analysis. According to a report co-authored by Brad Spears, J.D., and M.V. Lee Badgett, Ph.D., &#8220;allowing same-sex couples to marry will result in approximately $63.8 million in revenue over the next three years.&#8221; This figure is staggering given that California faces a $15 to $17 billion budget deficit this year alone.</p></blockquote>
<p>Do you believe in creating a business-friendly environment?  Sound economic policy?  Help fight for California&#8217;s economy by becoming <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">another Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/27/matt-klink-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Valley Businesses Oppose Prop 8</title>
		<link>http://republicansagainst8.com/2008/09/25/valley-businesses-oppose-prop-8/</link>
		<comments>http://republicansagainst8.com/2008/09/25/valley-businesses-oppose-prop-8/#respond</comments>
		<pubDate>Fri, 26 Sep 2008 03:13:10 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=319</guid>
		<description><![CDATA[An influential San Fernando Valley business group voted overwhelmingly today to join corporate titans PG&#38;E, AT&#38;T and Levi-Strauss in opposition to Proposition 8. The board of the Valley Industry and Commerce Association, which represents businesses in the San Fernando Valley area of Los Angeles voted &#8220;by a significant margin&#8221; to oppose the measure, said President [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>An influential San Fernando Valley business group <a href="http://www.fresnobee.com/384/story/895047.html">voted overwhelmingly today to join corporate titans PG&amp;E, AT&amp;T and Levi-Strauss in opposition to Proposition 8</a>.</p>
<blockquote><p>The board of the Valley Industry and Commerce Association, which represents businesses in the San Fernando Valley area of Los Angeles voted &#8220;by a significant margin&#8221; to oppose the measure, said President Stuart Waldman.</p>
<p>While a few board members argued against VICA taking a stand, maintaining that Proposition 8 was not a business issue, many more directors said it would cost them money and talented workers if the amendment passed, Waldman said.</p>
<p>&#8220;The most eloquent argument we got from an employer is they spend so much on human resources dealing with different benefits under domestic partnership rules versus married employees,&#8221; he said.</p></blockquote>
<p>As <a href="http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/">Republican against Proposition 8 Brad Torgan says</a>, Prop 8 is bad for business&#8211;and bad for California&#8217;s economy.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/25/valley-businesses-oppose-prop-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Brad Torgan, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/#comments</comments>
		<pubDate>Thu, 18 Sep 2008 17:30:21 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=272</guid>
		<description><![CDATA[Former Los Angeles Republican Party Central Committee Member Brad Torgan explains why Proposition 8 is bad for business.]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/0TdWU8xS1Y8&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/0TdWU8xS1Y8&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>Former Los Angeles Republican Party Central Committee Member Brad Torgan explains why Proposition 8 is <strong>bad for business</strong>.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Top Companies Know What&#8217;s Good for Business</title>
		<link>http://republicansagainst8.com/2008/09/15/top-companies-know-whats-good-for-business/</link>
		<comments>http://republicansagainst8.com/2008/09/15/top-companies-know-whats-good-for-business/#respond</comments>
		<pubDate>Mon, 15 Sep 2008 22:30:04 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[business]]></category>
		<category><![CDATA[Corporate Equality Index]]></category>
		<category><![CDATA[Human Rights Campaign]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=245</guid>
		<description><![CDATA[The corporate world knows a thing or two about doing business. And they&#8217;ve overwhelmingly lined up in support of equality: The Human Rights Campaign&#8217;s 2009 Corporate Equality Index rates a record-smashing 259 major American companies with perfect scores—up from just 13 in 2002. In one company&#8217;s words: “Shell is pleased to have achieved a perfect [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>The corporate world knows a thing or two about doing business.  And they&#8217;ve overwhelmingly lined up in support of equality:  The <a href="http://www.hrc.org/11147.htm" target="_self">Human Rights Campaign&#8217;s 2009 Corporate Equality Index</a> rates a record-smashing 259 major American companies with perfect scores<span style="font-size: medium;">—</span>up from just 13 in 2002.  In one company&#8217;s words:</p>
<blockquote><p>“Shell is pleased to have achieved a perfect score on the CEI-rating. This was a priority for us because it further demonstrates our commitment to inclusiveness in the workplace,” said Marvin Odum, president of Shell Oil Company. “A 100-percent rating helps us to better attract, recruit and retain diverse talent to contribute to our overall business success.”</p></blockquote>
<p>California Republicans should take a cue from corporate America:  Discrimination is bad for business. That&#8217;s why AT&amp;T and Pacific Gas and Electric are opposed to Proposition 8.  If you agree, join us by becoming <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">another Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/15/top-companies-know-whats-good-for-business/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Prop 8: Bad for Tourism</title>
		<link>http://republicansagainst8.com/2008/09/02/prop-8-bad-for-tourism/</link>
		<comments>http://republicansagainst8.com/2008/09/02/prop-8-bad-for-tourism/#respond</comments>
		<pubDate>Tue, 02 Sep 2008 21:52:27 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[Higher Taxes]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=198</guid>
		<description><![CDATA[Tourism in California would take a hit if Proposition 8 passes, and hotels would be among the first to feel the pain. The San Fernando Valley Business Journal highlights two properties and how their business has grown since the recognition of the constitutional right for all Californians to marry. Accordingly, while it is still possible [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Tourism in California would take a hit if Proposition 8 passes, and hotels would be among the first to feel the pain.</p>
<p>The <a href="http://republicansagainst8.com/wp-content/uploads/2008/09/san-fernando-valley-busines.pdf"><em>San Fernando Valley Business Journal</em> highlights two properties</a> and how their business has grown since the recognition of the constitutional right for all Californians to marry.</p>
<blockquote><p>Accordingly, while it is still possible for gays and lesbians to marry in the state – the court’s ruling may be reversed in November – the Los Angeles Convention and Visitors’ Bureau has highlighted some of the city’s most “gay friendly” establishments, including many in the San Fernando Valley.</p>
<p>Of the six hotels the bureau, also known as LA Inc., considers ideal for gay and lesbian wedding parties, two – the Sheraton Universal and the Warner Center Marriott – are in the Valley.</p></blockquote>
<p>In addition to the lost business, Proposition 8 would translate into a loss of sales and hotel taxes for local governments as well&#8211;that&#8217;s just one more reason why Prop 8 is bad for business.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/02/prop-8-bad-for-tourism/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Proposition 8: Bad for Hallmark</title>
		<link>http://republicansagainst8.com/2008/08/22/proposition-8-bad-for-hallmark/</link>
		<comments>http://republicansagainst8.com/2008/08/22/proposition-8-bad-for-hallmark/#respond</comments>
		<pubDate>Fri, 22 Aug 2008 15:50:54 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[Proposition 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=182</guid>
		<description><![CDATA[If you want to know whether an idea is good or bad for business, just look at where the market forces are taking the industry leaders. Hallmark has decided that celebrating all civil marriages is a good business decision and launched a concomitant line of greeting cards. They think they can make money off of [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>If you want to know whether an idea is good or bad for business, just look at where the market forces are taking the industry leaders.</p>
<p>Hallmark has decided that celebrating all civil marriages is a good business decision and <a href="http://www.washingtonpost.com/wp-dyn/content/article/2008/08/21/AR2008082100725.html">launched a concomitant line of greeting cards</a>.</p>
<p>They think they can make money off of them, which means that Hallmark stands to lose revenue if Proposition 8 passes.</p>
<p>Prop 8 is bad for Hallmark, and <strong><em>bad for business</em></strong>.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/22/proposition-8-bad-for-hallmark/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
