<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: California Log Cabin Republicans Responds to 2012 Decision by Equality California</title>
	<atom:link href="http://republicansagainst8.com/2009/08/12/california-log-cabin-republicans-responds-to-2012-decision-by-equality-california/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2009/08/12/california-log-cabin-republicans-responds-to-2012-decision-by-equality-california/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
</channel>
</rss>
