<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>conservative values &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/conservative-values/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Reagan, Schwarzenegger Featured in New Ad</title>
		<link>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/</link>
		<comments>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/#respond</comments>
		<pubDate>Fri, 31 Oct 2008 14:08:14 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Arnold Schwarzenegger]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[Ronald Reagan]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=393</guid>
		<description><![CDATA[A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians. In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians.</p>
<p>In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to teach in public schools.  He called the measure “costly,” and said that it had the potential to cause “undue harm.”  Voters listened, and Proposition 6 was defeated.</p>
<p>In April 2008, California Governor Arnold Schwarzenegger told the National Convention of Log Cabin Republicans that he was against a constitutional amendment to eliminate the right to marry for same-sex couples.  Video of Governor Schwarzenegger declaring, “I will always be there to fight against that,” is featured in the sixty-second video.</p>
<p>“Ronald Reagan is a conservative icon because of his efforts to spread freedom around the globe,” said Republicans Against 8 Campaign Manager Scott Schmidt.  “Conservatives need to remember that Ronald Reagan was opposed to taking away people’s rights.  Were he still with us today, Ronald Reagan would be in good company with another Republican Governor, Arnold Schwarzenegger.”</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Mayor Sam: No on 8</title>
		<link>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/</link>
		<comments>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/#respond</comments>
		<pubDate>Tue, 14 Oct 2008 16:13:22 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Los Angeles]]></category>
		<category><![CDATA[Republican Politics]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=353</guid>
		<description><![CDATA[Los Angeles political blogger Mayor Sam gives his Republican take on Proposition 8: I am a white, heterosexual, Christian, conservative Christian male who is voting no on Proposition 8. I am well aware that many individuals have a personal, religious or other issue with homosexuality. That is at the core of this evil (yes evil) [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Los Angeles political blogger Mayor Sam gives his <a href="http://mayorsam.blogspot.com/2008/10/ballot-recommendation-no-on-proposition.html">Republican take on Proposition 8</a>:</p>
<blockquote><p>I am a white, heterosexual, Christian, conservative Christian male who is voting no on Proposition 8.</p>
<p>I am well aware that many individuals have a personal, religious or other issue with homosexuality. That is at the core of this evil (yes evil) ballot initiative which violates the core principles of the Republican Party of limited government, individual liberty and personal accountability.</p>
<p>In addition to being a sacred and emotional tradition, marriage is also a business proposition. In our common law, we&#8217;ve acknowledged the right of parties to enter into agreements with one another and that such agreements can be legally recognized.</p>
<p>At the same time, we have a right to our opinion in this country and a right to not be forced to participate in that which we believe in.</p>
<p>Proposition 8 is contrary to conservative values and does nothing to prop up the values of those who do not agree with homosexuality nor would it do anything to save the state of heterosexual marriage which is in big trouble in some quarters. Permitting same-sex couples to marry has absolutely no affect on anyone&#8217;s heterosexual marriage.</p></blockquote>
<p>Agree with Mayor Sam?  Sign up to <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">join Republicans Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Freedom is a Republican Value</title>
		<link>http://republicansagainst8.com/2008/09/29/freedom-is-a-republican-value/</link>
		<comments>http://republicansagainst8.com/2008/09/29/freedom-is-a-republican-value/#comments</comments>
		<pubDate>Mon, 29 Sep 2008 19:03:12 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=334</guid>
		<description><![CDATA[Republicans Against 8 unveiled a sixty-second video response to the multi-million ad campaign launched Monday by the Yes on 8 Campaign. The Republicans Against 8 video targets Republican women by focusing on the GOP’s history of expanding rights for all Americans—not taking them away. “Republicans Against 8 are giving a voice to the more than [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/-lWMPl94jRE&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/-lWMPl94jRE&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>Republicans Against 8 unveiled a sixty-second video response to the multi-million ad campaign launched Monday by the Yes on 8 Campaign.</p>
<p>The Republicans Against 8 video targets Republican women by focusing on the GOP’s history of expanding rights for all Americans—not taking them away.  “Republicans Against 8 are giving a voice to the more than one million Republicans who believe our Party should stand for freedom and limited government. Our Party shouldn’t be trying to take away people’s rights,” said Republicans Against 8 campaign manager Scott Schmidt.</p>
<p>The video highlights the GOP’s historical accomplishments promoting equal treatment for women—from women’s suffrage to Richard Nixon signing Title IX granting equal access to athletic scholarships for college women, and Ronald Reagan appointing the first woman to the Supreme Court.</p>
<p>The video ends with a dual message to Republican voters in November:  “It will take a Republican to put a woman in the White House,” and that, “The Republican Party is the Party of freedom, not taking it away.” The group is asking voters to reject Proposition 8, the California Initiative Constitutional Amendment which would eliminate the right to marry for same-sex couples.</p>
<p>“Just a Century ago, women had fewer rights than gays and lesbians have today,” said Schmidt. “It took Republican leadership to make progress in expanding rights for women.  Members of our party should not turn their backs on that Grand Old legacy of promoting fairness and freedom.”</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/29/freedom-is-a-republican-value/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Tom Durein, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/18/tom-durein-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/18/tom-durein-republican-against-8/#respond</comments>
		<pubDate>Thu, 18 Sep 2008 17:28:04 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[limited government]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[San Francisco]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=270</guid>
		<description><![CDATA[San Francisco Republican Tom Durein explains how Proposition 8 flies in the face of true Republican values, like limited government and fundamental freedoms.]]></description>
				<content:encoded><![CDATA[<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="src" value="http://www.youtube.com/v/2tZTAmzbLgI&amp;hl=en&amp;fs=1" /><embed type="application/x-shockwave-flash" width="425" height="344" src="http://www.youtube.com/v/2tZTAmzbLgI&amp;hl=en&amp;fs=1" allowfullscreen="true"></embed></object></p>
<p>San Francisco Republican Tom Durein explains how Proposition 8 flies in the face of true Republican values, like limited government and fundamental freedoms.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/18/tom-durein-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Shane Patrick Connoly, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/18/shane-patrick-connoly-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/18/shane-patrick-connoly-republican-against-8/#respond</comments>
		<pubDate>Thu, 18 Sep 2008 17:17:58 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[republican candidates]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[silicon valley]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=268</guid>
		<description><![CDATA[Republican State Senate Candidate Shane Patrick Connoly (District 13) explains how Proposition 8 flies in the face of the Republican tradition of expanding freedoms&#8211;not taking them away.]]></description>
				<content:encoded><![CDATA[<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="src" value="http://www.youtube.com/v/wcfrB_uL6TU&amp;hl=en&amp;fs=1" /><embed type="application/x-shockwave-flash" width="425" height="344" src="http://www.youtube.com/v/wcfrB_uL6TU&amp;hl=en&amp;fs=1" allowfullscreen="true"></embed></object></p>
<p>Republican State Senate Candidate Shane Patrick Connoly (District 13) explains how Proposition 8 flies in the face of the Republican tradition of expanding freedoms&#8211;not taking them away.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/18/shane-patrick-connoly-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Lisa Prunier, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/26/lisa-prunier-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/26/lisa-prunier-republican-against-8/#respond</comments>
		<pubDate>Tue, 26 Aug 2008 23:50:53 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Regular People]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=191</guid>
		<description><![CDATA[Sacramento small business owner Lisa Prunier is a Republican Against Proposition 8. Listen to her explain why: I am the mother of a gay son and I am a Republican. To me gay marriage like heterosexual marriage represents the best of what Republicans stand for: Love, honor, commitment, monogamy, becoming a stronger unit together than [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/lisa-gray-frame.jpg"><img class="alignright size-full wp-image-321" title="lisa-gray-frame" src="http://republicansagainst8.com/wp-content/uploads/2008/09/lisa-gray-frame.jpg" alt="" width="114" height="150" /></a>Sacramento small business owner Lisa Prunier is a Republican Against Proposition 8. Listen to her explain why:</p>
<blockquote><p>I am the mother of a gay son and I am a Republican. To me gay marriage like heterosexual marriage represents the best of what Republicans stand for: Love, honor, commitment, monogamy, becoming a stronger unit together than a part. Having gay marriage legal is about equality for individuals, regardless of sexual orientation. Gay couples strive for the same things we all do. Love is love; commitment is commitment these things care not of gender. Neither should we.</p></blockquote>
<p>Regardless of how you feel about marriage as a religious construct, civil marriage is a right that should not be taken away from any Californian.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/26/lisa-prunier-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Republican Opposition to Prop 8 Featured</title>
		<link>http://republicansagainst8.com/2008/08/22/republican-opposition-to-prop-8-featured/</link>
		<comments>http://republicansagainst8.com/2008/08/22/republican-opposition-to-prop-8-featured/#comments</comments>
		<pubDate>Fri, 22 Aug 2008 16:45:59 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[conservative values]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=184</guid>
		<description><![CDATA[IN Los Angeles Magazine features a story on Republicans Against 8 in their latest issue. Republicans Against 8 was formed “to complement the efforts of the No on 8 Campaign by reaching out to persuadable and undecided Republican voters with the message that opposing Proposition 8 is the conservative thing to do,” campaign manager Scott [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><em>IN Los Angeles Magazine</em> features a <a href="http://www.inlamagazine.com/1114/community_news/index.html">story on Republicans Against 8</a> in their latest issue.</p>
<blockquote><p>Republicans Against 8 was formed “to complement the efforts                     of the No on 8 Campaign by reaching out to persuadable and                     undecided Republican voters with the message that opposing                     Proposition 8 is the conservative thing to do,” campaign                     manager Scott Schmidt told IN Los Angeles magazine.</p>
<p>That message is, “Proposition 8 violates the core conservative                     principles of limited government, personal responsibility                     and individual liberty. … The right to marriage is a deeply                     personal choice—not one that should be left to the long arm                     of big government to say when, whom and whether one can marry.”</p></blockquote>
<p>With your support, we can take this message to Republican voters across the State of California.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/22/republican-opposition-to-prop-8-featured/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
