<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Fact-Check &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/fact-check/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Pro-Prop 8 Ad Criticized</title>
		<link>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/</link>
		<comments>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/#respond</comments>
		<pubDate>Mon, 06 Oct 2008 15:40:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Elimination of Rights]]></category>
		<category><![CDATA[Fact-Check]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Yes on 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=345</guid>
		<description><![CDATA[With its claims that gay marriage will be imposed upon California if Proposition 8 fails, the first television ad from the Yes on 8 campaign fails to pass the smell test, according to the Sacramento Bee. The ad contends the court ruling opens the way for people to be sued over personal beliefs, but California [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>With its claims that gay marriage will be imposed upon California if Proposition 8 fails, the first television <a href="http://www.sacbee.com/111/story/1290701.html">ad from the Yes on 8 campaign fails to pass the smell test</a>, according to the <em>Sacramento Bee</em>.</p>
<blockquote><p>The ad contends the court ruling opens the way for people to be sued over personal beliefs, but California law already prohibits discrimination against anyone based on race, religion, gender or sexual orientation.</p>
<p>As for churches losing their tax status, the Supreme Court ruling stated &#8220;no religion will be required to change its religious policies or practices with regard to same-sex couples.&#8221;</p>
<p>California law also prohibits public schools from teaching students anything about health and family issues against the will of their parents.</p></blockquote>
<p>The same people who claim that Proposition 8 is &#8220;simple&#8221; have to muddy the issue to get voters to support it.  No one can be sued for their beliefs&#8211;they can only be sued for their actions.</p>
<p>Churches can continue to recognize couples as they wish, and as they have for decades.  They can lose their tax status for overtly engaging in political campaigning, or if they otherwise engage in business activities beyond their charitable purposes.</p>
<p>And someone needs to tell me how exactly one would &#8220;teach&#8221; gay marriage in public schools&#8230;</p>
<p>Proposition 8 is about taking away the fundamental rights of Californians.  Nothing more, nothing less.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
