<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Affirmative Action &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/affirmative-action/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Ward Connerly, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/08/ward-connerly-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/08/ward-connerly-republican-against-8/#respond</comments>
		<pubDate>Sat, 09 Aug 2008 03:36:29 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Affirmative Action]]></category>
		<category><![CDATA[Proposition 209]]></category>
		<category><![CDATA[University of California]]></category>
		<category><![CDATA[Ward Connerly]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=102</guid>
		<description><![CDATA[Ward Connerly is a Republican Against Proposition 8. Connerly is a former member of the University of California Board of Regents and was the author of Proposition 209 in 2003, which banned the state from discriminating against anyone on the basis of race, sex or gender in the provision of government services. Connerly opposed Proposition [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-connerly1.jpg"><img class="alignright size-full wp-image-101" title="ra8-connerly1" src="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-connerly1.jpg" alt="" width="114" height="150" /></a><a href="http://en.wikipedia.org/wiki/Ward_Connerly">Ward Connerly</a> is a Republican Against Proposition 8.  Connerly is a former member of the University of California Board of Regents and was the author of Proposition 209 in 2003, which banned the state from discriminating against anyone on the basis of race, sex or gender in the provision of government services.  Connerly opposed Proposition 22 in 2000, and earlier this year <a href="http://advocate.com/issue_story_ektid56887.asp?page=2">told the Advocate why he opposed Proposition 8</a>.</p>
<blockquote><p>“For anyone to say that this is an issue for             people who are gay and that this isn’t about civil             rights is sadly       mistaken,” he says. “If             you really believe in freedom and limited       government,             to be intellectually consistent and honest you have to             oppose       efforts of the majority to impose their will on             people.”</p></blockquote>
<p>Connerly moved to California in the 1950&#8217;s because at the time, it was the only State where he could marry his wife.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/08/ward-connerly-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
