<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Republicans Against 8 &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/republicans-against-8/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Reagan, Schwarzenegger Featured in New Ad</title>
		<link>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/</link>
		<comments>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/#respond</comments>
		<pubDate>Fri, 31 Oct 2008 14:08:14 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Arnold Schwarzenegger]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[Ronald Reagan]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=393</guid>
		<description><![CDATA[A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians. In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians.</p>
<p>In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to teach in public schools.  He called the measure “costly,” and said that it had the potential to cause “undue harm.”  Voters listened, and Proposition 6 was defeated.</p>
<p>In April 2008, California Governor Arnold Schwarzenegger told the National Convention of Log Cabin Republicans that he was against a constitutional amendment to eliminate the right to marry for same-sex couples.  Video of Governor Schwarzenegger declaring, “I will always be there to fight against that,” is featured in the sixty-second video.</p>
<p>“Ronald Reagan is a conservative icon because of his efforts to spread freedom around the globe,” said Republicans Against 8 Campaign Manager Scott Schmidt.  “Conservatives need to remember that Ronald Reagan was opposed to taking away people’s rights.  Were he still with us today, Ronald Reagan would be in good company with another Republican Governor, Arnold Schwarzenegger.”</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Advocate Features GOP Ads</title>
		<link>http://republicansagainst8.com/2008/10/29/advocate-freatures-gop-ads/</link>
		<comments>http://republicansagainst8.com/2008/10/29/advocate-freatures-gop-ads/#respond</comments>
		<pubDate>Wed, 29 Oct 2008 23:47:00 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fundraising]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=390</guid>
		<description><![CDATA[The Advocate tells the backstory of the two latest ads from Republicans Against 8. Schmidt said the effort is an example of the “unprecedented cooperation in the gay community to beat Prop. 8. I am a Republican, Lance Black isn’t one. &#8230; It doesn’t matter who you are &#8212; Democrat, Republican, Trojan, Bruin &#8212; we [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/Bqh8NnWuqBo&#038;color1=0xb1b1b1&#038;color2=0xcfcfcf&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/Bqh8NnWuqBo&#038;color1=0xb1b1b1&#038;color2=0xcfcfcf&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>The Advocate tells the <a href="http://advocate.com/news_detail_ektid64512.asp">backstory of the two latest ads from Republicans Against 8</a>.</p>
<blockquote><p>Schmidt said the             effort is an example of the “unprecedented             cooperation       in the gay community to beat Prop. 8. I am             a Republican, Lance Black       isn’t one.             &#8230; It doesn’t matter who you are &#8212; Democrat,             Republican, Trojan, Bruin &#8212; we want to work together to             accomplish the       same goal.”</p>
<p>The two ads             feature an impressive roster of everyday gay citizens,             including a Vietnam veteran and a Boeing rocket scientist,             two people who       say they have devoted their careers to             protecting the rights and lives of       Americans. The ads             urge Californians to now step up and return the favor             on November 4.</p></blockquote>
<p>You can help make sure as many people as possible see our ads <a href="https://secure.ga1.org/05/Republicans_Against_8">with your contribution</a> today!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/29/advocate-freatures-gop-ads/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Proposition 8: Bad for Biotech</title>
		<link>http://republicansagainst8.com/2008/10/29/proposition-8-bad-for-biotech/</link>
		<comments>http://republicansagainst8.com/2008/10/29/proposition-8-bad-for-biotech/#respond</comments>
		<pubDate>Wed, 29 Oct 2008 17:19:59 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=388</guid>
		<description><![CDATA[Republicans Against 8 have always said that Proposition 8 is bad for business, and could send industries packing to places where all citizens have equal treatment under the law.  Now, biotech executives in San Diego are confirming that Proposition 8 is bad for business. “The governor of Massachusetts has made it very clear that he [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Republicans Against 8 have always said that Proposition 8 is bad for business, and could send industries packing to places where all citizens have equal treatment under the law.  Now, <a href="http://www.signonsandiego.com/news/business/20081029-9999-1b29prop8.html">biotech executives in San Diego are confirming that Proposition 8 is bad for business</a>.</p>
<blockquote><p>“The governor of Massachusetts has made it very clear that he recognizes this is a competitive and lucrative industry and he&#8217;d do everything he can to attract companies,” Fischer said. “And this is a sure opportunity for Massachusetts to feature its benefits that are not available in California should Proposition 8 pass.”</p>
<p>In San Diego, biotechnology companies and those that provide services to them employ nearly 40,000 people at 710 companies. Biotechnology is the state&#8217;s second largest high-tech industry, generating $73 billion in revenue annually and employing more than 267,000 people.</p>
<p>Companies in other high-paying and globally competitive industries also oppose Proposition 8. They include Silicon Valley giants Google and Apple and San Diego&#8217;s Qualcomm, which donated $5,000 to the opposition campaign, according to state records.</p></blockquote>
<p>That is the message delivered by <a href="http://republicansagainst8.com/2008/09/18/brad-torgan-republican-against-8/">Republican Proposition 8 opponent Brad Torgan</a>.  Help keep business in California and <strong>Vote NO on 8</strong>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/29/proposition-8-bad-for-biotech/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Leave Religion Out of It</title>
		<link>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/</link>
		<comments>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/#respond</comments>
		<pubDate>Wed, 29 Oct 2008 17:13:49 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[religious marriage]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=386</guid>
		<description><![CDATA[Andrew Steele, a Republican against Proposition 8, has a letter to the editor in today&#8217;s Vallejo Times-Herald. I&#8217;m a 20-year-old Log Cabin Republican, and being that, you know that I support gay marriage whole-heartedly, but one thing I cannot seem to understand is why everyone is making this a gay issue. This has never been [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Andrew Steele, a Republican against Proposition 8, has a <a href="http://www.timesheraldonline.com/opinion/ci_10843782">letter to the editor in today&#8217;s <em>Vallejo Times-Herald</em></a>.</p>
<blockquote><p><span id="rds_global">I&#8217;m a 20-year-old Log Cabin Republican, and being that, you know that I support gay marriage whole-heartedly, but one thing I cannot seem to understand is why everyone is making this a gay issue. This has never been a gay issue, just as interracial marriage was never a race issue. It&#8217;s a social issue and here&#8217;s why:The description of the proposition reads: &#8220;Eliminates the right of same-sex couples to marry.&#8221; Remove the term &#8220;same-sex&#8221; and replace it with any other social group, such as African Americans, brown-eyed persons, or those with disabilities. Would you deny those rights as well? Don&#8217;t those people deserve to be treated equally under the law?</p>
<p></span></p>
<p>The &#8220;No on Proposition 8&#8221; campaign has done a good job at distancing itself from it being a gay issue. However, the &#8220;Yes on 8&#8221; campaign hasn&#8217;t, using advertisements of teaching tolerance of homosexuality in schools, churches being sued, and so on. I&#8217;ve yet to hear one thing about homosexuality being taught in public schools, but I don&#8217;t think it would be that bad of an idea.</p></blockquote>
<p>Be sure to <a href="http://www.timesheraldonline.com/opinion/ci_10843782">read the whole thing</a>, then sign up to <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">join Andrew as a Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Join Us!</title>
		<link>http://republicansagainst8.com/2008/10/28/join-us/</link>
		<comments>http://republicansagainst8.com/2008/10/28/join-us/#comments</comments>
		<pubDate>Tue, 28 Oct 2008 15:47:38 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Gays and Lesbians]]></category>
		<category><![CDATA[Marriage Equality]]></category>
		<category><![CDATA[Proposition 8]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=384</guid>
		<description><![CDATA[&#8220;We are Friends, We are neighbors&#8230;We are Republicans, We Are Democrats,&#8221; states, &#8220;Join Us,&#8221; one of the newest ads produced by Republicans Against 8. &#8220;Join Us&#8221; features a cast including Log Cabin members Steven Sion, Carol Newman, and Len Greco, West Hollywood Chamber of Commerce Chairman Joe Clapsaddle and Here! TV Network stars Brian Nolan [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/Bqh8NnWuqBo&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/Bqh8NnWuqBo&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>&#8220;We are Friends, We are neighbors&#8230;We are Republicans, We Are Democrats,&#8221; states, &#8220;Join Us,&#8221; one of the newest ads produced by Republicans Against 8.  &#8220;Join Us&#8221; features a cast including Log Cabin members Steven Sion, Carol Newman, and Len Greco, West Hollywood Chamber of Commerce Chairman Joe Clapsaddle and Here! TV Network stars Brian Nolan and David Moretti.</p>
<p>Putting a gay and lesbian face on the effort to defeat Proposition 8, Republicans Against 8&#8217;s newest ads were directed by &#8220;Milk&#8221; screenwriter Dustin Lance Black, with the production and post-production facilities donated by World of Wonder, with the special assistance of Regent Media.  This was an exemplary case of bipartisan cooperation as we enter the final week of this campaign.</p>
<p>With your support, we can make sure that as many people as possible Join Us! on November 4.  Please consider <a href="https://secure.ga1.org/05/Republicans_Against_8">making a contribution</a> today.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/28/join-us/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Lee Baca: Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/10/24/lee-baca-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/10/24/lee-baca-republican-against-8/#respond</comments>
		<pubDate>Fri, 24 Oct 2008 18:38:17 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Law Enforcement]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=377</guid>
		<description><![CDATA[Republicans Against 8 and the No on 8 Campaign have announced another major Republican who is opposed to Proposition 8: Los Angeles Sheriff Lee Baca. “The Gay men and lesbian women of the law enforcement community are some of the most responsible and virtuous people I know. To deny them their ability to further responsible [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/10/ra8-lee-baca.jpg"><img class="alignright size-medium wp-image-378" title="Lee Baca" src="http://republicansagainst8.com/wp-content/uploads/2008/10/ra8-lee-baca.jpg" alt="" width="114" height="150" /></a>Republicans Against 8 and the No on 8 Campaign have announced another <a href="http://www.noonprop8.com/articles/2008/10/24/another-major-elected-official-says-no-to-prop-8/">major Republican who is opposed to Proposition 8: Los Angeles Sheriff Lee Baca</a>.</p>
<p>“The Gay men and lesbian women of the law enforcement community are some of the most responsible and virtuous people I know. To deny them their ability to further responsible lives outside of the job is inconsistent with the core values of public service,” said Baca.</p>
<p>Baca joins <a href="http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/">Tom Campbell</a> and <a href="http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/">Jim Cunneen</a> as the third major Republican to come out against Proposition 8 in the last twenty four hours.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/24/lee-baca-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Tom Campbell: Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/#comments</comments>
		<pubDate>Fri, 24 Oct 2008 18:26:29 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[republican candidates]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=374</guid>
		<description><![CDATA[Former U.S. Senate hopeful and California Congressman Tom Campbell announced his opposition to Proposition 8 today on the Reason Magazine website. Republicans also care about jobs; and as a business proposition, it makes no sense to support Prop. 8. Discrimination at any level is bad for business. California has always made itself stronger by welcoming, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/10/tom-campbell.jpg"><img class="alignright size-medium wp-image-375" title="Tom Campbell" src="http://republicansagainst8.com/wp-content/uploads/2008/10/tom-campbell.jpg" alt="" width="114" height="150" /></a>Former U.S. Senate hopeful and California Congressman Tom Campbell announced his <a href="http://reason.com/news/show/129641.html">opposition to Proposition 8 today on the Reason Magazine website</a>.</p>
<blockquote><p>Republicans also care about jobs; and as a business proposition, it makes no sense to support Prop. 8. Discrimination at any level is bad for business. California has always made itself stronger by welcoming, not excluding, people who want to work hard and build better futures for themselves and their communities. What kind of a message does it send to workers, of any background, that we are willing to codify discrimination into our state constitution?</p>
<p>Gay couples are asking for a chance to play by the rules. We can give them that chance. For those of us who are proud of our party&#8217;s and our state&#8217;s reputation for fairness and against discrimination, our choice is very clear: No on Proposition 8.</p></blockquote>
<p>Campbell is just the latest <a href="http://republicansagainst8.com/who-oppose-proposition-8/">Republican to oppose Proposition 8</a>.  Join him today and <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">become a Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/24/tom-campbell-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Jim Cunneen: Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/#respond</comments>
		<pubDate>Fri, 24 Oct 2008 18:17:51 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Get Out The Vote]]></category>
		<category><![CDATA[republican candidates]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=371</guid>
		<description><![CDATA[Former California Assemblyman and Silicon Valley Business Executive Jim Cunneen is joining the ranks of Republicans who are opposed to Proposition 8. Mr. Cunneen shares one way to get out the vote when he writes: &#8220;I’ve been telling everyone to vote no!&#8221; If you cannot give your time or give your financial resources to the [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/10/jim-cunneen.jpg"><img class="alignright size-medium wp-image-372" title="Assemblyman Jim Cunneen" src="http://republicansagainst8.com/wp-content/uploads/2008/10/jim-cunneen.jpg" alt="" width="114" height="150" /></a>Former California Assemblyman and Silicon Valley Business Executive Jim Cunneen is joining the ranks of Republicans who are opposed to Proposition 8.</p>
<p>Mr. Cunneen shares one way to get out the vote when he writes: &#8220;I’ve been telling everyone to vote no!&#8221;</p>
<p>If you cannot <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">give your time</a> or <a href="https://secure.ga1.org/05/Republicans_Against_8">give your financial resources</a> to the campaign, that is the least you can do&#8211;tell your friends and family and everyone you know to vote <a href="http://www.noonprop8.com/">No on 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/24/jim-cunneen-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>GOP Students Oppose Prop 8</title>
		<link>http://republicansagainst8.com/2008/10/20/gop-students-oppose-prop-8/</link>
		<comments>http://republicansagainst8.com/2008/10/20/gop-students-oppose-prop-8/#respond</comments>
		<pubDate>Mon, 20 Oct 2008 15:33:43 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Civil Rights]]></category>
		<category><![CDATA[Elimination of Rights]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=358</guid>
		<description><![CDATA[If the young Republicans don&#8217;t abandon the party, there is hope for us yet!  In Fresno, one young Republican is standing up for freedom, fairness and equality. &#8220;We were in class on Monday and started talking about how all you see are the &#8216;Yes on Prop 8&#8217; signs and we noticed how wrong that was [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>If the young Republicans don&#8217;t abandon the party, there is hope for us yet!  In Fresno, <a href="http://www.kmph.com/Global/story.asp?S=9201512">one young Republican is standing up for freedom, fairness and equality</a>.</p>
<p><span><span style="color: #000000; font-size: x-small;"></p>
<blockquote><p>&#8220;We were in class on Monday and started talking about how all you see are the &#8216;Yes on Prop 8&#8217; signs and we noticed how wrong that was and organized this. We just thought eight students were going to show up but almost 90 people are here,&#8221; said Natalie Compton.</p>
<p>The seniors say they aren&#8217;t just in support of gay marriage but equality for all Americans.</p>
<p>&#8220;I&#8217;m a Republican and I&#8217;m straight but I still think we shouldn&#8217;t be overruling something that out government already voted &#8216;yes&#8217; on so we shouldn&#8217;t take something away already granted,&#8221; said Compton.</p></blockquote>
<p>Way to go, Natalie!  We hope you can convince your parents, friends and neighbors to stand up and reject the unfair, unnecessary measure that is Proposition 8!</p>
<p></span></span></p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/20/gop-students-oppose-prop-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Mayor Sam: No on 8</title>
		<link>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/</link>
		<comments>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/#respond</comments>
		<pubDate>Tue, 14 Oct 2008 16:13:22 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Los Angeles]]></category>
		<category><![CDATA[Republican Politics]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=353</guid>
		<description><![CDATA[Los Angeles political blogger Mayor Sam gives his Republican take on Proposition 8: I am a white, heterosexual, Christian, conservative Christian male who is voting no on Proposition 8. I am well aware that many individuals have a personal, religious or other issue with homosexuality. That is at the core of this evil (yes evil) [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Los Angeles political blogger Mayor Sam gives his <a href="http://mayorsam.blogspot.com/2008/10/ballot-recommendation-no-on-proposition.html">Republican take on Proposition 8</a>:</p>
<blockquote><p>I am a white, heterosexual, Christian, conservative Christian male who is voting no on Proposition 8.</p>
<p>I am well aware that many individuals have a personal, religious or other issue with homosexuality. That is at the core of this evil (yes evil) ballot initiative which violates the core principles of the Republican Party of limited government, individual liberty and personal accountability.</p>
<p>In addition to being a sacred and emotional tradition, marriage is also a business proposition. In our common law, we&#8217;ve acknowledged the right of parties to enter into agreements with one another and that such agreements can be legally recognized.</p>
<p>At the same time, we have a right to our opinion in this country and a right to not be forced to participate in that which we believe in.</p>
<p>Proposition 8 is contrary to conservative values and does nothing to prop up the values of those who do not agree with homosexuality nor would it do anything to save the state of heterosexual marriage which is in big trouble in some quarters. Permitting same-sex couples to marry has absolutely no affect on anyone&#8217;s heterosexual marriage.</p></blockquote>
<p>Agree with Mayor Sam?  Sign up to <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">join Republicans Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
