<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Election 2008 &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/election-2008/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Happy Election Day!</title>
		<link>http://republicansagainst8.com/2008/10/06/happy-election-day/</link>
		<comments>http://republicansagainst8.com/2008/10/06/happy-election-day/#respond</comments>
		<pubDate>Mon, 06 Oct 2008 15:49:39 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Election 2008]]></category>
		<category><![CDATA[Volunteer]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=347</guid>
		<description><![CDATA[It&#8217;s election day in California&#8211;today and for the next 29! While election day is Nov. 4, people will be able to make their presidential choice between Democrat Barack Obama and Republican John McCain, as well as deciding a dozen state measures, weeks before their neighborhood polling places open. &#8220;There are now lots of election days,&#8221; [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>It&#8217;s <a href="http://www.sfgate.com/cgi-bin/article.cgi?f=/c/a/2008/10/06/BACS13B5B3.DTL">election day in California</a>&#8211;today and for the next 29!</p>
<blockquote><p>While election day is Nov. 4, people will be able to make their presidential choice between Democrat Barack Obama and Republican John McCain, as well as deciding a dozen state measures, weeks before their neighborhood polling places open.</p>
<p>&#8220;There are now lots of election days,&#8221; said John Tuteur, the Napa County registrar of voters.</p>
<p>While early voting has been part of California elections for decades, elections officials across the state have been pushing to get more people on the permanent vote-by-mail list. The result has been an increasing number of mailed ballots, with nearly a third of the state&#8217;s 16.1 million registered voters receiving their ballots in the mail this year.</p>
<p>June&#8217;s primary was California&#8217;s first statewide election in which more than half the ballots were cast by mail, but it won&#8217;t be the last.</p></blockquote>
<p>Want to know how you can help defeat proposition 8?  <a href="http://republicansagainst8.com/what-can-i-do-to-defeat-proposition-8/">Find out now</a>, you only have 29 days to act!</p>
<blockquote></blockquote>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/06/happy-election-day/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
