<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Elimination of Rights &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/elimination-of-rights/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>GOP Students Oppose Prop 8</title>
		<link>http://republicansagainst8.com/2008/10/20/gop-students-oppose-prop-8/</link>
		<comments>http://republicansagainst8.com/2008/10/20/gop-students-oppose-prop-8/#respond</comments>
		<pubDate>Mon, 20 Oct 2008 15:33:43 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Civil Rights]]></category>
		<category><![CDATA[Elimination of Rights]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=358</guid>
		<description><![CDATA[If the young Republicans don&#8217;t abandon the party, there is hope for us yet!  In Fresno, one young Republican is standing up for freedom, fairness and equality. &#8220;We were in class on Monday and started talking about how all you see are the &#8216;Yes on Prop 8&#8217; signs and we noticed how wrong that was [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>If the young Republicans don&#8217;t abandon the party, there is hope for us yet!  In Fresno, <a href="http://www.kmph.com/Global/story.asp?S=9201512">one young Republican is standing up for freedom, fairness and equality</a>.</p>
<p><span><span style="color: #000000; font-size: x-small;"></p>
<blockquote><p>&#8220;We were in class on Monday and started talking about how all you see are the &#8216;Yes on Prop 8&#8217; signs and we noticed how wrong that was and organized this. We just thought eight students were going to show up but almost 90 people are here,&#8221; said Natalie Compton.</p>
<p>The seniors say they aren&#8217;t just in support of gay marriage but equality for all Americans.</p>
<p>&#8220;I&#8217;m a Republican and I&#8217;m straight but I still think we shouldn&#8217;t be overruling something that out government already voted &#8216;yes&#8217; on so we shouldn&#8217;t take something away already granted,&#8221; said Compton.</p></blockquote>
<p>Way to go, Natalie!  We hope you can convince your parents, friends and neighbors to stand up and reject the unfair, unnecessary measure that is Proposition 8!</p>
<p></span></span></p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/20/gop-students-oppose-prop-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pro-Prop 8 Ad Criticized</title>
		<link>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/</link>
		<comments>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/#respond</comments>
		<pubDate>Mon, 06 Oct 2008 15:40:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Elimination of Rights]]></category>
		<category><![CDATA[Fact-Check]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Yes on 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=345</guid>
		<description><![CDATA[With its claims that gay marriage will be imposed upon California if Proposition 8 fails, the first television ad from the Yes on 8 campaign fails to pass the smell test, according to the Sacramento Bee. The ad contends the court ruling opens the way for people to be sued over personal beliefs, but California [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>With its claims that gay marriage will be imposed upon California if Proposition 8 fails, the first television <a href="http://www.sacbee.com/111/story/1290701.html">ad from the Yes on 8 campaign fails to pass the smell test</a>, according to the <em>Sacramento Bee</em>.</p>
<blockquote><p>The ad contends the court ruling opens the way for people to be sued over personal beliefs, but California law already prohibits discrimination against anyone based on race, religion, gender or sexual orientation.</p>
<p>As for churches losing their tax status, the Supreme Court ruling stated &#8220;no religion will be required to change its religious policies or practices with regard to same-sex couples.&#8221;</p>
<p>California law also prohibits public schools from teaching students anything about health and family issues against the will of their parents.</p></blockquote>
<p>The same people who claim that Proposition 8 is &#8220;simple&#8221; have to muddy the issue to get voters to support it.  No one can be sued for their beliefs&#8211;they can only be sued for their actions.</p>
<p>Churches can continue to recognize couples as they wish, and as they have for decades.  They can lose their tax status for overtly engaging in political campaigning, or if they otherwise engage in business activities beyond their charitable purposes.</p>
<p>And someone needs to tell me how exactly one would &#8220;teach&#8221; gay marriage in public schools&#8230;</p>
<p>Proposition 8 is about taking away the fundamental rights of Californians.  Nothing more, nothing less.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Chuck Vasquez, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/10/chuck-vazquez-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/10/chuck-vazquez-republican-against-8/#respond</comments>
		<pubDate>Sun, 10 Aug 2008 18:32:04 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Cathedral City]]></category>
		<category><![CDATA[Chuck Vasquez]]></category>
		<category><![CDATA[Coachella Valley]]></category>
		<category><![CDATA[Elimination of Rights]]></category>
		<category><![CDATA[Military]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=126</guid>
		<description><![CDATA[Cathedral City Councilman Chuck Vasquez is a Republican Against Proposition 8. Listen to Councilman Vazquez explain why he believes Republicans should oppose Proposition 8: As a American I take pride in our system of checks and balances. That system was demonstrated in May 2008 when the Republican dominated Californian Supreme Court ruled on Gay Marriage [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-chuck-vazquez-cathedral1.jpg"><img class="alignright size-medium wp-image-127" title="Chuck Vasquez Cathedral City" src="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-chuck-vazquez-cathedral1.jpg" alt="" width="114" height="150" /></a>Cathedral City Councilman Chuck Vasquez is a Republican Against Proposition 8.</p>
<p>Listen to Councilman Vazquez explain why he believes Republicans should oppose Proposition 8:</p>
<blockquote><p>As a American I take pride in our system of checks and balances. That system was demonstrated in May 2008 when the Republican dominated Californian Supreme Court ruled on Gay Marriage with a 4-3 ruling declaring that the state Constitution protects a fundamental &#8220;right to marry&#8221; that extends equally to same-sex couples. I can&#8217;t believe that any American would support a Constitutional Amendment that is designed to &#8220;Eliminate&#8221; rights. Americans  with great pride, conviction and resolve have fought to &#8220;protect rights&#8221; both here and on foreign soil. To support a Constitutional Amendment to &#8220;Eliminate&#8221; rights is an insult to every American Soldier  that has fought to protect our rights and freedoms.</p></blockquote>
<p><a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">Join Councilman Vasquez and Republicans Against 8</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/10/chuck-vazquez-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
