<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Fundraising &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/fundraising/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Advocate Features GOP Ads</title>
		<link>http://republicansagainst8.com/2008/10/29/advocate-freatures-gop-ads/</link>
		<comments>http://republicansagainst8.com/2008/10/29/advocate-freatures-gop-ads/#respond</comments>
		<pubDate>Wed, 29 Oct 2008 23:47:00 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fundraising]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=390</guid>
		<description><![CDATA[The Advocate tells the backstory of the two latest ads from Republicans Against 8. Schmidt said the effort is an example of the “unprecedented cooperation in the gay community to beat Prop. 8. I am a Republican, Lance Black isn’t one. &#8230; It doesn’t matter who you are &#8212; Democrat, Republican, Trojan, Bruin &#8212; we [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/Bqh8NnWuqBo&#038;color1=0xb1b1b1&#038;color2=0xcfcfcf&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/Bqh8NnWuqBo&#038;color1=0xb1b1b1&#038;color2=0xcfcfcf&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>The Advocate tells the <a href="http://advocate.com/news_detail_ektid64512.asp">backstory of the two latest ads from Republicans Against 8</a>.</p>
<blockquote><p>Schmidt said the             effort is an example of the “unprecedented             cooperation       in the gay community to beat Prop. 8. I am             a Republican, Lance Black       isn’t one.             &#8230; It doesn’t matter who you are &#8212; Democrat,             Republican, Trojan, Bruin &#8212; we want to work together to             accomplish the       same goal.”</p>
<p>The two ads             feature an impressive roster of everyday gay citizens,             including a Vietnam veteran and a Boeing rocket scientist,             two people who       say they have devoted their careers to             protecting the rights and lives of       Americans. The ads             urge Californians to now step up and return the favor             on November 4.</p></blockquote>
<p>You can help make sure as many people as possible see our ads <a href="https://secure.ga1.org/05/Republicans_Against_8">with your contribution</a> today!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/29/advocate-freatures-gop-ads/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
