<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Lynne Cheney &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/lynne-cheney/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Lynne Cheney Speaks out for Freedom</title>
		<link>http://republicansagainst8.com/2008/09/16/lynne-cheney-speaks-out-for-freedom/</link>
		<comments>http://republicansagainst8.com/2008/09/16/lynne-cheney-speaks-out-for-freedom/#respond</comments>
		<pubDate>Tue, 16 Sep 2008 23:56:41 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Lynne Cheney]]></category>
		<category><![CDATA[Mary Cheney]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=254</guid>
		<description><![CDATA[Republican and Second Lady Lynne Cheney spoke in support of gay marriage yesterday on CBS&#8217;s The Early Show. The Cheney&#8217;s daughter, Mary Cheney, is a supporter of the No on 8 campaign. When asked specifically about her daughter and marriage, Cheney replied: &#8220;Well, I would wish my daughter to have happiness and freedom to make [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Republican and Second Lady Lynne Cheney spoke in <a href="http://www.youtube.com/watch?v=g44yDTwo9oI" target="_self">support of gay marriage yesterday on CBS&#8217;s <em>The Early Show</em></a>.  The Cheney&#8217;s daughter, <a href="http://republicansagainst8.com/2008/08/08/mary-cheney-republican-against-8/" target="_self">Mary Cheney</a>, is a supporter of the No on 8 campaign.  When asked specifically about her daughter and marriage, Cheney replied:</p>
<blockquote><p>&#8220;Well, I would wish my daughter to have happiness and freedom to make her own choices.  The Vice President said in the debate with Joe Lieberman ever so long ago in 2000, that freedom in this country ought to mean freedom for everyone.&#8221;</p></blockquote>
<p>Do you agree with the Second Lady that this is an issue of fundamental freedom?  If so, help defend that freedom by <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">joining fellow Republicans and vowing to vote NO on Prop. 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/16/lynne-cheney-speaks-out-for-freedom/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
