<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Briggs Initiative &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/briggs-initiative/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Scott Harris, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/26/scott-harris-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/26/scott-harris-republican-against-8/#respond</comments>
		<pubDate>Fri, 26 Sep 2008 22:04:52 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Briggs Initiative]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Ronald Reagan]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=312</guid>
		<description><![CDATA[Scott Harris is a political commentator and writer, and opposes Prop. 8 for a number of reasons. Ultimately, he concludes that just as Gov. Ronald Reagan once opposed discrimination against gays in the classroom, Republicans must now stand up and defend fundamental rights to marriage: &#8220;2008 is the 30-year anniversary of California defeating Proposition 6, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/scott-harris-frame.jpg"><img class="alignright size-full wp-image-313" title="scott-harris-frame" src="http://republicansagainst8.com/wp-content/uploads/2008/09/scott-harris-frame.jpg" alt="" width="114" height="150" /></a>Scott Harris is a political commentator and writer, and <a href="http://foxandhoundsdaily.com/blog/scott-harris/8-against-prop-8" target="_self">opposes Prop. 8 for a </a><a href="http://foxandhoundsdaily.com/blog/scott-harris/8-against-prop-8" target="_self">number of reasons</a>.  Ultimately, he concludes that just as Gov. Ronald Reagan once opposed discrimination against gays in the classroom, Republicans must now stand up and defend fundamental rights to marriage:</p>
<blockquote><p>&#8220;2008 is the 30-year anniversary of California defeating Proposition 6, the Briggs Amendment, which would have banned gays and lesbians from teaching in public schools. We were on the right side of history in 1978 and let&#8217;s hope we are wise and fair enough to be there again this year.&#8221;</p></blockquote>
<p>Do you agree with Scott that Republicans have a long heritage of protecting the rights of everyone?  Join us and <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">vow to vote NO on 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/26/scott-harris-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Ronald Reagan on Fundamental Freedoms</title>
		<link>http://republicansagainst8.com/2008/09/09/ronald-reagan-on-fundamental-freedoms/</link>
		<comments>http://republicansagainst8.com/2008/09/09/ronald-reagan-on-fundamental-freedoms/#respond</comments>
		<pubDate>Tue, 09 Sep 2008 22:04:27 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Briggs Initiative]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=219</guid>
		<description><![CDATA[Ronald Reagan spoke out thirty years ago when fundamental freedoms for gay and lesbian Californians were under attack at the ballot box. At the end of a meeting with gay and lesbian leaders in his Los Angeles office in 1978, Ronald Reagan smiled and said, “Don’t think we can allow something like that to happen [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Ronald Reagan spoke out thirty years ago when fundamental freedoms for gay and lesbian Californians were under attack at the ballot box.</p>
<p>At the end of a meeting with gay and lesbian leaders in his Los Angeles office in 1978, Ronald Reagan smiled and said, “Don’t think we can allow something like that to happen here in California.” He was denouncing the Briggs Initiative, Proposition 6, which he opposed and would have permitted the firing of gay teachers in California.</p>
<p>Reagan, who by then had served two terms as governor, was gearing up to run for President. His opposition is credited with the defeat of the measure by more than 1,000,000 votes.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/09/ronald-reagan-on-fundamental-freedoms/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
