<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Google &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/google/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Google Knows What&#8217;s Good for Business</title>
		<link>http://republicansagainst8.com/2008/09/30/google-knows-whats-good-for-business/</link>
		<comments>http://republicansagainst8.com/2008/09/30/google-knows-whats-good-for-business/#respond</comments>
		<pubDate>Tue, 30 Sep 2008 23:12:20 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[Google]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=339</guid>
		<description><![CDATA[Media giant Google knows what&#8217;s good for business. In ten short years, they&#8217;ve gone from working out of a garage to having a market capitalization in the neighborhood of $140 billion, making it one of the largest companies in the world. And the company&#8217;s management feels strongly enough about Prop. 8&#8217;s potential effect on their [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Media giant Google knows what&#8217;s good for business.  In ten short years, they&#8217;ve gone from working out of a garage to having a market capitalization in the neighborhood of $140 billion, making it one of the largest companies in the world.  And the company&#8217;s management feels strongly enough about Prop. 8&#8217;s potential effect on their business that they&#8217;re taking the unusual step of publicly denouncing the measure.  In <a href="http://googleblog.blogspot.com/2008/09/our-position-on-californias-no-on-8.html">co-founder Sergey Brin&#8217;s words</a>:</p>
<blockquote><p>[I]t is the chilling and discriminatory effect of the proposition on many of our employees that brings Google to publicly oppose Proposition 8&#8230;.</p>
<p>We hope that California voters will vote no on Proposition 8 &#8212; we should not eliminate anyone&#8217;s fundamental rights, whatever their sexuality, to marry the person they love.</p></blockquote>
<p>Companies like Google, <a href="http://www.fresnobee.com/384/story/895047.html">Levi Strauss, PG&amp;E, and AT&amp;T understand the negative effect Prop. 8 will have on their businesses</a>.  And as Republicans who believe in creating business-friendly environments, we agree.</p>
<p>Do you?  Join us and become <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">another Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/30/google-knows-whats-good-for-business/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
