<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Log Cabin &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/log-cabin/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Marc Cherry, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/10/marc-cherry-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/10/marc-cherry-republican-against-8/#respond</comments>
		<pubDate>Sun, 10 Aug 2008 18:13:45 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[ABC]]></category>
		<category><![CDATA[Desperate Housewives]]></category>
		<category><![CDATA[Log Cabin]]></category>
		<category><![CDATA[Marc Cherry]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=117</guid>
		<description><![CDATA[Marc Cherry is a Republican against Proposition 8. The creator of television&#8217;s hit show Desperate Housewives is a long-time supporter of fairness, equality and freedom. In 2006, Cherry received Log Cabin Republicans&#8217; American Visibility Award in 2006 at a Hollywood dinner featuring Governor Arnold Schwarzenegger.]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-cherry1.jpg"><img class="alignright size-medium wp-image-118" title="Marc Cherry" src="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-cherry1.jpg" alt="" width="114" height="150" /></a><a href="http://en.wikipedia.org/wiki/Marc_Cherry"> Marc Cherry</a> is a Republican against Proposition 8.</p>
<p>The creator of television&#8217;s hit show <em>Desperate Housewives</em> is a long-time supporter of fairness, equality and freedom.</p>
<p>In 2006, Cherry received Log Cabin Republicans&#8217; American Visibility Award in 2006 at a Hollywood dinner featuring Governor Arnold Schwarzenegger.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/10/marc-cherry-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
