<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>defending freedom &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/defending-freedom/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Defending Freedom</title>
		<link>http://republicansagainst8.com/2008/10/28/defending-freedom/</link>
		<comments>http://republicansagainst8.com/2008/10/28/defending-freedom/#comments</comments>
		<pubDate>Tue, 28 Oct 2008 15:43:20 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[defending freedom]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=382</guid>
		<description><![CDATA[&#8220;Defending Freedom&#8221; is one of two ads released today by Republicans Against 8. Directed by &#8220;Milk&#8221; screenwriter Dustin Lance Black, &#8220;Defending Freedom&#8221; tells the story of three gay and lesbian Californians. Speaking directly to straight Californians, &#8220;Defending Freedom&#8221; highlights the accomplishments of gay and lesbian Californians in protecting the rights of their fellow Americans. Former [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/DW45tN8DfCM&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/DW45tN8DfCM&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>&#8220;Defending Freedom&#8221; is one of two ads released today by Republicans Against 8.  Directed by &#8220;Milk&#8221; screenwriter Dustin Lance Black, &#8220;Defending Freedom&#8221; tells the story of three gay and lesbian Californians.</p>
<p>Speaking directly to straight Californians, &#8220;Defending Freedom&#8221; highlights the accomplishments of gay and lesbian Californians in protecting the rights of their fellow Americans.  Former U.S. Prosecutor Carol Newman, Boeing Rocket Scientist Sherry Green and Vietnam Veteran Paul Fredrix talk about their role in protecting the freedoms of their fellow Americans, then ask their fellow Californians to defend their freedoms by voting &#8220;NO&#8221; on Proposition 8.</p>
<p>Read the backstory on the <a href="http://advocate.com/news_detail_ektid64512.asp">unprecedented cooperation that went into making this ad on The Advocate</a>, and if you can, please <a href="https://secure.ga1.org/05/Republicans_Against_8">contribute to help us share this ad</a> with other Californians.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/28/defending-freedom/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
	</channel>
</rss>
