<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>silicon valley &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/silicon-valley/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Shane Patrick Connoly, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/18/shane-patrick-connoly-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/18/shane-patrick-connoly-republican-against-8/#respond</comments>
		<pubDate>Thu, 18 Sep 2008 17:17:58 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[republican candidates]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[silicon valley]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=268</guid>
		<description><![CDATA[Republican State Senate Candidate Shane Patrick Connoly (District 13) explains how Proposition 8 flies in the face of the Republican tradition of expanding freedoms&#8211;not taking them away.]]></description>
				<content:encoded><![CDATA[<p><object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="425" height="344" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0"><param name="allowFullScreen" value="true" /><param name="src" value="http://www.youtube.com/v/wcfrB_uL6TU&amp;hl=en&amp;fs=1" /><embed type="application/x-shockwave-flash" width="425" height="344" src="http://www.youtube.com/v/wcfrB_uL6TU&amp;hl=en&amp;fs=1" allowfullscreen="true"></embed></object></p>
<p>Republican State Senate Candidate Shane Patrick Connoly (District 13) explains how Proposition 8 flies in the face of the Republican tradition of expanding freedoms&#8211;not taking them away.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/18/shane-patrick-connoly-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
