<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Domestic Partnerships &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/domestic-partnerships/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Desert Sun: Reject Prop 8</title>
		<link>http://republicansagainst8.com/2008/09/08/desert-sun-reject-prop-8/</link>
		<comments>http://republicansagainst8.com/2008/09/08/desert-sun-reject-prop-8/#respond</comments>
		<pubDate>Mon, 08 Sep 2008 18:10:02 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Domestic Partnerships]]></category>
		<category><![CDATA[Endorsements]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=215</guid>
		<description><![CDATA[The newspaper of record in Palm Springs, California, has come out swinging against Proposition 8 in an editorial this weekend. We realize there are those who disagree. Change is sometimes difficult. But we suggest that same-sex marriage need not be seen as an attack on Christian or family values. It should be seen as a [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>The newspaper of record in Palm Springs, California, has <a href="http://www.mydesert.com/apps/pbcs.dll/article?AID=/20080907/OPINION01/809070332/1026/news12">come out swinging against Proposition 8</a> in an editorial this weekend.</p>
<blockquote><p>We realize there are those who disagree. Change is sometimes difficult. But we suggest that same-sex marriage need not be seen as an attack on Christian or family values. It should be seen as a right under civil law that comes with advantages and responsibilities associated with parenthood, inheritance, medical decisions and tax obligations, among others.</p>
<p>As we said in June when we backed the high court&#8217;s ruling, there was a time when interracial marriage was prohibited. That and many other issues that once brought fear to some seem of little consequence now. We are constantly changing as a people. Adding rights, instead of taking them away, serves to move civilization forward, as we have seen before.</p>
<p>While California has a domestic partnership law that covers some basic legal privileges and responsibilities, prohibiting such couples to legally marry is to continue to cast them off and keep them in “separate, but equal” status. If that term sounds familiar, it&#8217;s because it is the same shameful and oppressive language once imposed on racial and ethnic minorities in this country. Separate, but equal harms the human spirit.</p>
<p>It says you are not good enough, not right enough to join the rest of society and live among the masses with your heads held high. That was the wrong message decades ago. It&#8217;s certainly the wrong message to send now. In California, we&#8217;re more progressive than that.</p></blockquote>
<p>When it comes down to it, no Californian should be treated differently, and that what Proposition 8 is all about&#8211;we&#8217;re glad to see the <em>Desert Sun</em> agrees with Republicans Against 8!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/08/desert-sun-reject-prop-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
