<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Regular People &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/regular-people/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Lisa Prunier, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/26/lisa-prunier-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/26/lisa-prunier-republican-against-8/#respond</comments>
		<pubDate>Tue, 26 Aug 2008 23:50:53 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Regular People]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=191</guid>
		<description><![CDATA[Sacramento small business owner Lisa Prunier is a Republican Against Proposition 8. Listen to her explain why: I am the mother of a gay son and I am a Republican. To me gay marriage like heterosexual marriage represents the best of what Republicans stand for: Love, honor, commitment, monogamy, becoming a stronger unit together than [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/lisa-gray-frame.jpg"><img class="alignright size-full wp-image-321" title="lisa-gray-frame" src="http://republicansagainst8.com/wp-content/uploads/2008/09/lisa-gray-frame.jpg" alt="" width="114" height="150" /></a>Sacramento small business owner Lisa Prunier is a Republican Against Proposition 8. Listen to her explain why:</p>
<blockquote><p>I am the mother of a gay son and I am a Republican. To me gay marriage like heterosexual marriage represents the best of what Republicans stand for: Love, honor, commitment, monogamy, becoming a stronger unit together than a part. Having gay marriage legal is about equality for individuals, regardless of sexual orientation. Gay couples strive for the same things we all do. Love is love; commitment is commitment these things care not of gender. Neither should we.</p></blockquote>
<p>Regardless of how you feel about marriage as a religious construct, civil marriage is a right that should not be taken away from any Californian.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/26/lisa-prunier-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Scott Macdonald, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/26/scott-macdonald-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/26/scott-macdonald-republican-against-8/#respond</comments>
		<pubDate>Tue, 26 Aug 2008 23:46:31 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fairness]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Regular People]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=188</guid>
		<description><![CDATA[Scott Macdonald of West Hollywood, California, is a Republican against Proposition 8. Here&#8217;s why: I’m not interested in getting married. In fact, someone recently said to me,“You’re what they used to call a bachelor.” LOL Maybe I am. But for me and the vast majority of people voting on Proposition 8 it isn’t about them, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/08/scott-macdonald.jpg"><img class="alignright size-full wp-image-189" title="Scott Macdonald" src="http://republicansagainst8.com/wp-content/uploads/2008/08/scott-macdonald.jpg" alt="" width="114" height="150" /></a>Scott Macdonald of West Hollywood, California, is a Republican against Proposition 8.  Here&#8217;s why:</p>
<blockquote><p>I’m  not interested in getting married.  In fact, someone recently said  to me,“You’re what they used to call a bachelor.” LOL  Maybe  I am.  But for me and the vast majority of people voting on Proposition  8 it isn’t about them, it’s about fairness.  It’s about equality.  It’s about “liberty and justice for all.”  It’s hard to  imagine that we should change our state constitution so we can keep  two people who love each other from getting married.</p>
<p>Vote No on Proposition 8.</p></blockquote>
<p>Join Scott and other Republicans Against Proposition 8 <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">with our endorsement form</a>, today!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/26/scott-macdonald-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
