<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Laguna Beach &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/laguna-beach/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Laguna Beach Republicans Against 8</title>
		<link>http://republicansagainst8.com/2008/08/08/laguna-beach-city-councilmembers-republicans-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/08/laguna-beach-city-councilmembers-republicans-against-8/#respond</comments>
		<pubDate>Sat, 09 Aug 2008 03:13:36 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Laguna Beach]]></category>
		<category><![CDATA[Orange County]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=94</guid>
		<description><![CDATA[Laguna Beach Mayor Pro Tempore Cheryl Kinsman, and Councilmembers Elizabeth Pearson and Kelly Boyd are all Republicans against Proposition 8. On July 22, the Laguna Beach City Council unanimously approved a resolution in opposition to Proposition 8, becoming the first majority-Republican City Council in California to do so. &#8220;We&#8217;ve just come a tremendous, long way [&#8230;]]]></description>
				<content:encoded><![CDATA[
<a href='http://republicansagainst8.com/2008/08/08/laguna-beach-city-councilmembers-republicans-against-8/ra8-cheryl-kinsman-laguna1/'><img width="114" height="150" src="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-cheryl-kinsman-laguna1.jpg" class="attachment-thumbnail size-thumbnail" alt="ra8-cheryl-kinsman-laguna1" /></a>
<a href='http://republicansagainst8.com/2008/08/08/laguna-beach-city-councilmembers-republicans-against-8/ra8-elizabeth-pearson-lagun1/'><img width="114" height="150" src="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-elizabeth-pearson-lagun1.jpg" class="attachment-thumbnail size-thumbnail" alt="ra8-elizabeth-pearson-lagun1" /></a>
<a href='http://republicansagainst8.com/2008/08/08/laguna-beach-city-councilmembers-republicans-against-8/ra8-kelly-boyd-laguna1/'><img width="114" height="150" src="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-kelly-boyd-laguna1.jpg" class="attachment-thumbnail size-thumbnail" alt="ra8-kelly-boyd-laguna1" /></a>

<p>Laguna Beach Mayor Pro Tempore Cheryl Kinsman, and Councilmembers Elizabeth Pearson and Kelly Boyd are all Republicans against Proposition 8.</p>
<p>On July 22, the <a href="http://www.latimes.com/news/local/la-me-marriage24-2008jul24,0,4080471.story?track=rss">Laguna Beach City Council unanimously approved a resolution in opposition to Proposition 8</a>, becoming the first majority-Republican City Council in California to do so.</p>
<blockquote><p>&#8220;We&#8217;ve just come a tremendous, long way in the process&#8221; of gay equality, said Frank Ricchiazzi, a co-founder of the Log Cabin Republicans, a gay and lesbian advocacy group, and longtime Laguna Beach resident who attended Tuesday&#8217;s meeting.</p></blockquote>
<p>More coverage on their decision is available from the <a href="http://www.ocregister.com/articles/council-members-proposition-2102086-opposition-audience">Orange County Register</a> and <a href="http://www.lagunabeachindependent.com/news/2008/0725/Front_page/002.html">Laguna Beach Independent</a>.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/08/laguna-beach-city-councilmembers-republicans-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
