<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: GOP Officials Condemn Los Angeles County Republican Party Meeting</title>
	<atom:link href="http://republicansagainst8.com/2008/09/11/gop-officials-condemn-los-angeles-county-republican-party-meeting/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2008/09/11/gop-officials-condemn-los-angeles-county-republican-party-meeting/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>By: Republicans Against 8 &#187; GOP Divided by Proposition 8</title>
		<link>http://republicansagainst8.com/2008/09/11/gop-officials-condemn-los-angeles-county-republican-party-meeting/comment-page-1/#comment-7</link>
		<dc:creator><![CDATA[Republicans Against 8 &#187; GOP Divided by Proposition 8]]></dc:creator>
		<pubDate>Sat, 13 Sep 2008 01:29:41 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=228#comment-7</guid>
		<description><![CDATA[[...] GOP Officials Condemn Los Angeles County Republican Party Meeting [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] GOP Officials Condemn Los Angeles County Republican Party Meeting [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
