<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Freedom is a Republican Value</title>
	<atom:link href="http://republicansagainst8.com/2008/09/29/freedom-is-a-republican-value/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2008/09/29/freedom-is-a-republican-value/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>By: Boi From Troy &#187; Blog Archive &#187; AOL Finds &#8220;Same-Sex&#8221; Objectionable</title>
		<link>http://republicansagainst8.com/2008/09/29/freedom-is-a-republican-value/comment-page-1/#comment-13</link>
		<dc:creator><![CDATA[Boi From Troy &#187; Blog Archive &#187; AOL Finds &#8220;Same-Sex&#8221; Objectionable]]></dc:creator>
		<pubDate>Tue, 30 Sep 2008 19:04:56 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=334#comment-13</guid>
		<description><![CDATA[[...] on the Republicans Against 8 campaign this morning, we tried uploading the &#8220;Freedom is a Republican Value&#8221; campaign video to AOL&#8217;s Uncut video service&#8230;but there was a [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] on the Republicans Against 8 campaign this morning, we tried uploading the &#8220;Freedom is a Republican Value&#8221; campaign video to AOL&#8217;s Uncut video service&#8230;but there was a [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
