<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>economy &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/economy/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Arnold Schwarzenegger, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/#comments</comments>
		<pubDate>Sat, 09 Aug 2008 02:08:43 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Arnold Schwarzenegger]]></category>
		<category><![CDATA[business]]></category>
		<category><![CDATA[economy]]></category>
		<category><![CDATA[Higher Taxes]]></category>
		<category><![CDATA[Police and Fire]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=87</guid>
		<description><![CDATA[California Governor Arnold Schwarzenegger is a Republican against Proposition 8. On April 11, speaking to the Log Cabin Republicans National Convention, Schwarzenegger told Log Cabin President Patrick Sammon, &#8220;I will always be there to fight against that.&#8221; A month later, Schwarzenegger hailed the idea of marriage equality as a boon for the California economy. &#8220;You [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-schwarzenegger1.jpg"><img src="http://republicansagainst8.com/wp-content/uploads/2008/08/ra8-schwarzenegger1.jpg" alt="" title="ra8-schwarzenegger1" width="114" height="150" class="alignnone size-full wp-image-88" align="right" /></a>California Governor Arnold Schwarzenegger is a Republican against Proposition 8.  On April 11, speaking to the Log Cabin Republicans National Convention, <a href="http://www.huffingtonpost.com/karen-ocamb/gov-schwarzenegger-oppose_b_97550.html">Schwarzenegger told Log Cabin President Patrick Sammon</a>, &#8220;I will always be there to fight against that.&#8221;  A month later, Schwarzenegger hailed the idea of marriage equality as a boon for the California economy.  &#8220;You know, I&#8217;m wishing everyone good luck with their marriages and I hope that California&#8217;s economy is booming because everyone is going to come here and get married,&#8221; <a href="http://www.sacbee.com/111/story/954781.html">said Schwarzenegger at an event in San Francisco</a>.</p>
<p>The State Legislative Analyst estimates that state and local governments could lose tens of millions of dollars in the coming year if Proposition 8 passes.  That could mean higher taxes or cuts to vital services like police and fire.</p>
<p>Watch Governor Schwarzenegger&#8217;s remarks to the Log Cabin Convention in one of our featured videos:</p>
<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/AR09RxPpAaE&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/AR09RxPpAaE&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
