<?xml version="1.0" encoding="UTF-8" ?><feed
	xmlns="http://www.w3.org/2005/Atom"
	xml:lang="en-US"
	xmlns:thr="http://purl.org/syndication/thread/1.0"
	>
	<title type="text">Comments on Defending Freedom</title>
	<subtitle type="text">Just another WordPress weblog</subtitle>

	<updated>2008-10-29T17:20:02Z</updated>

	<link rel="alternate" type="text/html" href="http://republicansagainst8.com/2008/10/28/defending-freedom/#comments" />
	<link rel="self" type="application/atom+xml" href="http://republicansagainst8.com/2008/10/28/defending-freedom/feed/atom/" />
	<id>http://republicansagainst8.com/2008/10/28/defending-freedom/feed/atom/</id>
<generator uri="https://wordpress.org/" version="4.4.5">WordPress</generator>
	<entry>
		<title>By: Defending Freedom at Republicans On Best Political Blogs</title>
		<link rel="alternate" href="http://republicansagainst8.com/2008/10/28/defending-freedom/comment-page-1/#comment-22" type="text/html" />

		<author>
			<name>Defending Freedom at Republicans On Best Political Blogs</name>
			<uri>http://republicans.bestpoliticalblogs.co.uk/2008/10/28/defending-freedom/</uri>
		</author>

		<id>http://republicansagainst8.com/?p=382#comment-22</id>
		<updated>2008-10-29T14:52:20Z</updated>
		<published>2008-10-29T14:52:20Z</published>
		<content type="html" xml:base="http://republicansagainst8.com/2008/10/28/defending-freedom/comment-page-1/#comment-22"><![CDATA[<p>[&#8230;] Defending Freedom “Defending Freedom” is one of two ads released today by Republicans Against 8. Directed by “Milk” screenwriter Dustin Lance Black, “Defending Freedom” tells the story of three gay and lesbian Californians. &#8230; [&#8230;]</p>
]]></content>
		<thr:in-reply-to ref="http://republicansagainst8.com/?p=382" href="http://republicansagainst8.com/2008/10/28/defending-freedom/" type="text/html" />
	</entry>
	<entry>
		<title>By: Two More Ads from Republicans Against 8</title>
		<link rel="alternate" href="http://republicansagainst8.com/2008/10/28/defending-freedom/comment-page-1/#comment-21" type="text/html" />

		<author>
			<name>Two More Ads from Republicans Against 8</name>
			<uri>http://themoderatevoice.com/society/homosexuality/23839/two-more-ads-from-republicans-against-8/</uri>
		</author>

		<id>http://republicansagainst8.com/?p=382#comment-21</id>
		<updated>2008-10-28T23:04:20Z</updated>
		<published>2008-10-28T23:04:20Z</published>
		<content type="html" xml:base="http://republicansagainst8.com/2008/10/28/defending-freedom/comment-page-1/#comment-21"><![CDATA[<p>[&#8230;] October 28th, 2008 By DENNIS SANDERS   Republicans Against 8, an initiative by Log Cabin Republicans to defeat the California proposition that would ban same-sex marriage has released two more ads: &#8220;Join Us,&#8221; and &#8220;Defending Freedom.&#8221; [&#8230;]</p>
]]></content>
		<thr:in-reply-to ref="http://republicansagainst8.com/?p=382" href="http://republicansagainst8.com/2008/10/28/defending-freedom/" type="text/html" />
	</entry>
</feed>
