<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Fundamental Freedoms &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/fundamental-freedoms/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Reagan, Schwarzenegger Featured in New Ad</title>
		<link>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/</link>
		<comments>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/#respond</comments>
		<pubDate>Fri, 31 Oct 2008 14:08:14 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Arnold Schwarzenegger]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Republicans Against 8]]></category>
		<category><![CDATA[Ronald Reagan]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=393</guid>
		<description><![CDATA[A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians. In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/fIVpCJ6l3vQ&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>A video released today by Republicans Against 8 draws a direct comparison between two Republican California Governors—Ronald Reagan and Arnold Schwarzenegger—and their positions on California ballot measures that would eliminate rights for gays and lesbians.</p>
<p>In 1978, Governor Reagan opposed the Briggs Initiative, which would have eliminated the right of gay and lesbian Californians to teach in public schools.  He called the measure “costly,” and said that it had the potential to cause “undue harm.”  Voters listened, and Proposition 6 was defeated.</p>
<p>In April 2008, California Governor Arnold Schwarzenegger told the National Convention of Log Cabin Republicans that he was against a constitutional amendment to eliminate the right to marry for same-sex couples.  Video of Governor Schwarzenegger declaring, “I will always be there to fight against that,” is featured in the sixty-second video.</p>
<p>“Ronald Reagan is a conservative icon because of his efforts to spread freedom around the globe,” said Republicans Against 8 Campaign Manager Scott Schmidt.  “Conservatives need to remember that Ronald Reagan was opposed to taking away people’s rights.  Were he still with us today, Ronald Reagan would be in good company with another Republican Governor, Arnold Schwarzenegger.”</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/31/reagan-schwarzenegger-featured-in-new-ad/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Leave Religion Out of It</title>
		<link>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/</link>
		<comments>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/#respond</comments>
		<pubDate>Wed, 29 Oct 2008 17:13:49 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[religious marriage]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=386</guid>
		<description><![CDATA[Andrew Steele, a Republican against Proposition 8, has a letter to the editor in today&#8217;s Vallejo Times-Herald. I&#8217;m a 20-year-old Log Cabin Republican, and being that, you know that I support gay marriage whole-heartedly, but one thing I cannot seem to understand is why everyone is making this a gay issue. This has never been [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Andrew Steele, a Republican against Proposition 8, has a <a href="http://www.timesheraldonline.com/opinion/ci_10843782">letter to the editor in today&#8217;s <em>Vallejo Times-Herald</em></a>.</p>
<blockquote><p><span id="rds_global">I&#8217;m a 20-year-old Log Cabin Republican, and being that, you know that I support gay marriage whole-heartedly, but one thing I cannot seem to understand is why everyone is making this a gay issue. This has never been a gay issue, just as interracial marriage was never a race issue. It&#8217;s a social issue and here&#8217;s why:The description of the proposition reads: &#8220;Eliminates the right of same-sex couples to marry.&#8221; Remove the term &#8220;same-sex&#8221; and replace it with any other social group, such as African Americans, brown-eyed persons, or those with disabilities. Would you deny those rights as well? Don&#8217;t those people deserve to be treated equally under the law?</p>
<p></span></p>
<p>The &#8220;No on Proposition 8&#8221; campaign has done a good job at distancing itself from it being a gay issue. However, the &#8220;Yes on 8&#8221; campaign hasn&#8217;t, using advertisements of teaching tolerance of homosexuality in schools, churches being sued, and so on. I&#8217;ve yet to hear one thing about homosexuality being taught in public schools, but I don&#8217;t think it would be that bad of an idea.</p></blockquote>
<p>Be sure to <a href="http://www.timesheraldonline.com/opinion/ci_10843782">read the whole thing</a>, then sign up to <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">join Andrew as a Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Defending Freedom</title>
		<link>http://republicansagainst8.com/2008/10/28/defending-freedom/</link>
		<comments>http://republicansagainst8.com/2008/10/28/defending-freedom/#comments</comments>
		<pubDate>Tue, 28 Oct 2008 15:43:20 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[defending freedom]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=382</guid>
		<description><![CDATA[&#8220;Defending Freedom&#8221; is one of two ads released today by Republicans Against 8. Directed by &#8220;Milk&#8221; screenwriter Dustin Lance Black, &#8220;Defending Freedom&#8221; tells the story of three gay and lesbian Californians. Speaking directly to straight Californians, &#8220;Defending Freedom&#8221; highlights the accomplishments of gay and lesbian Californians in protecting the rights of their fellow Americans. Former [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/DW45tN8DfCM&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/DW45tN8DfCM&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>&#8220;Defending Freedom&#8221; is one of two ads released today by Republicans Against 8.  Directed by &#8220;Milk&#8221; screenwriter Dustin Lance Black, &#8220;Defending Freedom&#8221; tells the story of three gay and lesbian Californians.</p>
<p>Speaking directly to straight Californians, &#8220;Defending Freedom&#8221; highlights the accomplishments of gay and lesbian Californians in protecting the rights of their fellow Americans.  Former U.S. Prosecutor Carol Newman, Boeing Rocket Scientist Sherry Green and Vietnam Veteran Paul Fredrix talk about their role in protecting the freedoms of their fellow Americans, then ask their fellow Californians to defend their freedoms by voting &#8220;NO&#8221; on Proposition 8.</p>
<p>Read the backstory on the <a href="http://advocate.com/news_detail_ektid64512.asp">unprecedented cooperation that went into making this ad on The Advocate</a>, and if you can, please <a href="https://secure.ga1.org/05/Republicans_Against_8">contribute to help us share this ad</a> with other Californians.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/28/defending-freedom/feed/</wfw:commentRss>
		<slash:comments>2</slash:comments>
		</item>
		<item>
		<title>Proposition 8: It&#8217;s Backwards</title>
		<link>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/</link>
		<comments>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/#comments</comments>
		<pubDate>Wed, 22 Oct 2008 15:45:41 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[Civil Rights]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Viral Videos]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=369</guid>
		<description><![CDATA[Would you run backwards? Would you bike backwards? Then why take California backwards? That&#8217;s what Republicans Against 8 is asking California voters in its latest online ad, &#8220;Backwards,&#8221; released today. &#8220;Backwards&#8221; urges voters from across the political spectrum to protect the California Dream for all families by voting No on Proposition 8&#8211;&#8220;It&#8217;s unfair. It&#8217;s unnecessary. [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/LJt1U1HK8Uw&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/LJt1U1HK8Uw&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>Would you run backwards?  Would you bike backwards?  Then why take California backwards?</p>
<p>That&#8217;s what Republicans Against 8 is asking California voters in its latest online ad, &#8220;Backwards,&#8221; released today.  </p>
<p>&#8220;Backwards&#8221; urges voters from across the political spectrum to protect the California Dream for all families by voting No on Proposition 8&#8211;&#8220;It&#8217;s unfair.  It&#8217;s unnecessary.  It&#8217;s Backwards.&#8221;</p>
<p>Help Republicans Against 8 share this video with as many voters as possible by <a href="https://secure.ga1.org/05/Republicans_Against_8">contributing $25, $250 or $2500 today</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Mayor Sam: No on 8</title>
		<link>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/</link>
		<comments>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/#respond</comments>
		<pubDate>Tue, 14 Oct 2008 16:13:22 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Los Angeles]]></category>
		<category><![CDATA[Republican Politics]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=353</guid>
		<description><![CDATA[Los Angeles political blogger Mayor Sam gives his Republican take on Proposition 8: I am a white, heterosexual, Christian, conservative Christian male who is voting no on Proposition 8. I am well aware that many individuals have a personal, religious or other issue with homosexuality. That is at the core of this evil (yes evil) [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Los Angeles political blogger Mayor Sam gives his <a href="http://mayorsam.blogspot.com/2008/10/ballot-recommendation-no-on-proposition.html">Republican take on Proposition 8</a>:</p>
<blockquote><p>I am a white, heterosexual, Christian, conservative Christian male who is voting no on Proposition 8.</p>
<p>I am well aware that many individuals have a personal, religious or other issue with homosexuality. That is at the core of this evil (yes evil) ballot initiative which violates the core principles of the Republican Party of limited government, individual liberty and personal accountability.</p>
<p>In addition to being a sacred and emotional tradition, marriage is also a business proposition. In our common law, we&#8217;ve acknowledged the right of parties to enter into agreements with one another and that such agreements can be legally recognized.</p>
<p>At the same time, we have a right to our opinion in this country and a right to not be forced to participate in that which we believe in.</p>
<p>Proposition 8 is contrary to conservative values and does nothing to prop up the values of those who do not agree with homosexuality nor would it do anything to save the state of heterosexual marriage which is in big trouble in some quarters. Permitting same-sex couples to marry has absolutely no affect on anyone&#8217;s heterosexual marriage.</p></blockquote>
<p>Agree with Mayor Sam?  Sign up to <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">join Republicans Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Connecticut Recognizes Freedom to Marry</title>
		<link>http://republicansagainst8.com/2008/10/10/connecticut-recorgnizes-freedom-to-marry/</link>
		<comments>http://republicansagainst8.com/2008/10/10/connecticut-recorgnizes-freedom-to-marry/#respond</comments>
		<pubDate>Fri, 10 Oct 2008 17:03:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Civil Rights]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=349</guid>
		<description><![CDATA[While Californians are battling to defend the freedom to marry, the right was expanded in yet another State today, with a decision by the Connecticut Supreme Court. &#8220;Interpreting our state constitutional provisions in accordance with firmly established equal protection principles leads inevitably to the conclusion that gay persons are entitled to marry the otherwise qualified [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>While Californians are battling to defend the freedom to marry, the right was expanded in yet another State today, with a <a href="http://www.washingtonpost.com/wp-dyn/content/article/2008/10/10/AR2008101001203.html?hpid=topnews">decision by the Connecticut Supreme Court</a>.</p>
<blockquote><p>&#8220;Interpreting our state constitutional provisions in accordance with firmly established equal protection principles leads inevitably to the conclusion that gay persons are entitled to marry the otherwise qualified same sex partner of their choice,&#8221; Justice Richard N. Palmer wrote in the majority opinion that overturned a lower court finding.</p>
<p>&#8220;To decide otherwise would require us to apply one set of constitutional principles to gay persons and another to all others,&#8221; Palmer wrote.</p></blockquote>
<p>Across the country, people recognize that nobody should be treated differently in the eyes of the government, and that everybody deserves the freedom to marry.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/10/connecticut-recorgnizes-freedom-to-marry/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Pro-Prop 8 Ad Criticized</title>
		<link>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/</link>
		<comments>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/#respond</comments>
		<pubDate>Mon, 06 Oct 2008 15:40:56 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Elimination of Rights]]></category>
		<category><![CDATA[Fact-Check]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Yes on 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=345</guid>
		<description><![CDATA[With its claims that gay marriage will be imposed upon California if Proposition 8 fails, the first television ad from the Yes on 8 campaign fails to pass the smell test, according to the Sacramento Bee. The ad contends the court ruling opens the way for people to be sued over personal beliefs, but California [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>With its claims that gay marriage will be imposed upon California if Proposition 8 fails, the first television <a href="http://www.sacbee.com/111/story/1290701.html">ad from the Yes on 8 campaign fails to pass the smell test</a>, according to the <em>Sacramento Bee</em>.</p>
<blockquote><p>The ad contends the court ruling opens the way for people to be sued over personal beliefs, but California law already prohibits discrimination against anyone based on race, religion, gender or sexual orientation.</p>
<p>As for churches losing their tax status, the Supreme Court ruling stated &#8220;no religion will be required to change its religious policies or practices with regard to same-sex couples.&#8221;</p>
<p>California law also prohibits public schools from teaching students anything about health and family issues against the will of their parents.</p></blockquote>
<p>The same people who claim that Proposition 8 is &#8220;simple&#8221; have to muddy the issue to get voters to support it.  No one can be sued for their beliefs&#8211;they can only be sued for their actions.</p>
<p>Churches can continue to recognize couples as they wish, and as they have for decades.  They can lose their tax status for overtly engaging in political campaigning, or if they otherwise engage in business activities beyond their charitable purposes.</p>
<p>And someone needs to tell me how exactly one would &#8220;teach&#8221; gay marriage in public schools&#8230;</p>
<p>Proposition 8 is about taking away the fundamental rights of Californians.  Nothing more, nothing less.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/06/pro-prop-8-ad-criticized/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Freedom is a Republican Value</title>
		<link>http://republicansagainst8.com/2008/09/29/freedom-is-a-republican-value/</link>
		<comments>http://republicansagainst8.com/2008/09/29/freedom-is-a-republican-value/#comments</comments>
		<pubDate>Mon, 29 Sep 2008 19:03:12 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=334</guid>
		<description><![CDATA[Republicans Against 8 unveiled a sixty-second video response to the multi-million ad campaign launched Monday by the Yes on 8 Campaign. The Republicans Against 8 video targets Republican women by focusing on the GOP’s history of expanding rights for all Americans—not taking them away. “Republicans Against 8 are giving a voice to the more than [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/-lWMPl94jRE&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/-lWMPl94jRE&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>Republicans Against 8 unveiled a sixty-second video response to the multi-million ad campaign launched Monday by the Yes on 8 Campaign.</p>
<p>The Republicans Against 8 video targets Republican women by focusing on the GOP’s history of expanding rights for all Americans—not taking them away.  “Republicans Against 8 are giving a voice to the more than one million Republicans who believe our Party should stand for freedom and limited government. Our Party shouldn’t be trying to take away people’s rights,” said Republicans Against 8 campaign manager Scott Schmidt.</p>
<p>The video highlights the GOP’s historical accomplishments promoting equal treatment for women—from women’s suffrage to Richard Nixon signing Title IX granting equal access to athletic scholarships for college women, and Ronald Reagan appointing the first woman to the Supreme Court.</p>
<p>The video ends with a dual message to Republican voters in November:  “It will take a Republican to put a woman in the White House,” and that, “The Republican Party is the Party of freedom, not taking it away.” The group is asking voters to reject Proposition 8, the California Initiative Constitutional Amendment which would eliminate the right to marry for same-sex couples.</p>
<p>“Just a Century ago, women had fewer rights than gays and lesbians have today,” said Schmidt. “It took Republican leadership to make progress in expanding rights for women.  Members of our party should not turn their backs on that Grand Old legacy of promoting fairness and freedom.”</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/29/freedom-is-a-republican-value/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Scott Harris, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/26/scott-harris-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/26/scott-harris-republican-against-8/#respond</comments>
		<pubDate>Fri, 26 Sep 2008 22:04:52 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Briggs Initiative]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Ronald Reagan]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=312</guid>
		<description><![CDATA[Scott Harris is a political commentator and writer, and opposes Prop. 8 for a number of reasons. Ultimately, he concludes that just as Gov. Ronald Reagan once opposed discrimination against gays in the classroom, Republicans must now stand up and defend fundamental rights to marriage: &#8220;2008 is the 30-year anniversary of California defeating Proposition 6, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/scott-harris-frame.jpg"><img class="alignright size-full wp-image-313" title="scott-harris-frame" src="http://republicansagainst8.com/wp-content/uploads/2008/09/scott-harris-frame.jpg" alt="" width="114" height="150" /></a>Scott Harris is a political commentator and writer, and <a href="http://foxandhoundsdaily.com/blog/scott-harris/8-against-prop-8" target="_self">opposes Prop. 8 for a </a><a href="http://foxandhoundsdaily.com/blog/scott-harris/8-against-prop-8" target="_self">number of reasons</a>.  Ultimately, he concludes that just as Gov. Ronald Reagan once opposed discrimination against gays in the classroom, Republicans must now stand up and defend fundamental rights to marriage:</p>
<blockquote><p>&#8220;2008 is the 30-year anniversary of California defeating Proposition 6, the Briggs Amendment, which would have banned gays and lesbians from teaching in public schools. We were on the right side of history in 1978 and let&#8217;s hope we are wise and fair enough to be there again this year.&#8221;</p></blockquote>
<p>Do you agree with Scott that Republicans have a long heritage of protecting the rights of everyone?  Join us and <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">vow to vote NO on 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/26/scott-harris-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Tom Hebrank, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/09/26/tom-hebrank-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/09/26/tom-hebrank-republican-against-8/#respond</comments>
		<pubDate>Fri, 26 Sep 2008 18:04:48 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=299</guid>
		<description><![CDATA[Tom Hebrank is the President of the Board of Administration for the San Diego City Employees&#8217; Retirement System. He&#8217;s both staunchly Republican and unabashedly opposed to Prop. 8: &#8220;I am a Republican because I believe in the party&#8217;s core values, which include the protection of individual liberties and the preservation of fundamental freedoms. I oppose [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/tom-hebrank-frame.jpg"><img class="size-full wp-image-300 alignright" title="tom-hebrank-frame" src="http://republicansagainst8.com/wp-content/uploads/2008/09/tom-hebrank-frame.jpg" alt="Tom Hebrank" width="114" height="150" /></a></p>
<p>Tom Hebrank is the President of the Board of Administration for the San Diego City Employees&#8217; Retirement System.  He&#8217;s both staunchly Republican and unabashedly opposed to Prop. 8:</p>
<blockquote><p>&#8220;I am a Republican because I believe in the party&#8217;s core values, which include the protection of individual liberties and the preservation of fundamental freedoms.  I oppose Prop. 8 because it runs contrary to these values, and endangers equality and fairness for all.&#8221;</p></blockquote>
<p>Do you agree with Tom that as Republicans, we need to protect fundamental freedoms?  Join with us and become <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl" target="_self">another Republican Against 8</a>!</p>
<p><em>(Tom&#8217;s title is given for identification purposes only; his views are not meant to reflect those of the SDCERS)</em></p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/26/tom-hebrank-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
