<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>religious marriage &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/religious-marriage/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Leave Religion Out of It</title>
		<link>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/</link>
		<comments>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/#respond</comments>
		<pubDate>Wed, 29 Oct 2008 17:13:49 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[religious marriage]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=386</guid>
		<description><![CDATA[Andrew Steele, a Republican against Proposition 8, has a letter to the editor in today&#8217;s Vallejo Times-Herald. I&#8217;m a 20-year-old Log Cabin Republican, and being that, you know that I support gay marriage whole-heartedly, but one thing I cannot seem to understand is why everyone is making this a gay issue. This has never been [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Andrew Steele, a Republican against Proposition 8, has a <a href="http://www.timesheraldonline.com/opinion/ci_10843782">letter to the editor in today&#8217;s <em>Vallejo Times-Herald</em></a>.</p>
<blockquote><p><span id="rds_global">I&#8217;m a 20-year-old Log Cabin Republican, and being that, you know that I support gay marriage whole-heartedly, but one thing I cannot seem to understand is why everyone is making this a gay issue. This has never been a gay issue, just as interracial marriage was never a race issue. It&#8217;s a social issue and here&#8217;s why:The description of the proposition reads: &#8220;Eliminates the right of same-sex couples to marry.&#8221; Remove the term &#8220;same-sex&#8221; and replace it with any other social group, such as African Americans, brown-eyed persons, or those with disabilities. Would you deny those rights as well? Don&#8217;t those people deserve to be treated equally under the law?</p>
<p></span></p>
<p>The &#8220;No on Proposition 8&#8221; campaign has done a good job at distancing itself from it being a gay issue. However, the &#8220;Yes on 8&#8221; campaign hasn&#8217;t, using advertisements of teaching tolerance of homosexuality in schools, churches being sued, and so on. I&#8217;ve yet to hear one thing about homosexuality being taught in public schools, but I don&#8217;t think it would be that bad of an idea.</p></blockquote>
<p>Be sure to <a href="http://www.timesheraldonline.com/opinion/ci_10843782">read the whole thing</a>, then sign up to <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">join Andrew as a Republican Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/29/leave-religion-out-of-it/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Civil vs. Religious Marriage</title>
		<link>http://republicansagainst8.com/2008/08/18/civil-vs-religious-marriage/</link>
		<comments>http://republicansagainst8.com/2008/08/18/civil-vs-religious-marriage/#respond</comments>
		<pubDate>Mon, 18 Aug 2008 16:07:16 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[religious marriage]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=169</guid>
		<description><![CDATA[Public television station KQED has a polling feature called &#8220;You Decide&#8221; which asks participants to consider various arguments on hot topics of the day. They ask the question, &#8220;should gays be allowed to marry?&#8221; But the arguments they present against protecting the right to marry show a fundamental misunderstanding of the difference between civil and [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Public television station KQED has a polling feature called &#8220;You Decide&#8221; which asks participants to consider various arguments on hot topics of the day.</p>
<p><!-- START KQED YOU DECIDE MODULE --> <script src="http://www.kqed.org/w/youdecide/widget/gay_marriage-large.js" type="text/javascript"></script> <!-- END KQED YOU DECIDE MODULE --></p>
<p>They ask the question, &#8220;should gays be allowed to marry?&#8221;  But the arguments they present against protecting the right to marry show a fundamental misunderstanding of the difference between civil and religious marriage.</p>
<p>Civil marriage is a contractual arrangement of rights and responsibilities entered into by two persons and the government.  Religious marriage is defined by a church, mosque or synagogue however they see fit.  </p>
<p>Even before the right to civil marriage was granted to all Californians, gays and lesbians were entering into religious marriages in California, and they will continue to do so even if Proposition 8 passes.  The question is whether it is fair for the Government to recognize only some denominations&#8217; marriages while not recognizing others&#8217;.  </p>
<p>These are major distinctions that appear to be overlooked in the debate over marriage equality here in California.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/18/civil-vs-religious-marriage/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
