<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Why is Proposition 8 Bad for Business?</title>
	<atom:link href="http://republicansagainst8.com/why-is-proposition-8-bad-for-business/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
	<item>
		<title>By: Boi From Troy &#187; Blog Archive &#187; VICA Opposes Prop 8</title>
		<link>http://republicansagainst8.com/why-is-proposition-8-bad-for-business/comment-page-1/#comment-11</link>
		<dc:creator><![CDATA[Boi From Troy &#187; Blog Archive &#187; VICA Opposes Prop 8]]></dc:creator>
		<pubDate>Thu, 25 Sep 2008 20:35:04 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?page_id=32#comment-11</guid>
		<description><![CDATA[[...] VICA joins corporate titans AT&#038;T and PG&#038;E in reminding voters that not only is Proposition 8 bad social regulation, but Prop 8 is bad for business. [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] VICA joins corporate titans AT&amp;T and PG&amp;E in reminding voters that not only is Proposition 8 bad social regulation, but Prop 8 is bad for business. [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
