<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: What Can I Do to Defeat Proposition 8?</title>
	<atom:link href="http://republicansagainst8.com/what-can-i-do-to-defeat-proposition-8/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
	<item>
		<title>By: Republicans Against 8 &#187; Happy Election Day!</title>
		<link>http://republicansagainst8.com/what-can-i-do-to-defeat-proposition-8/comment-page-1/#comment-14</link>
		<dc:creator><![CDATA[Republicans Against 8 &#187; Happy Election Day!]]></dc:creator>
		<pubDate>Mon, 06 Oct 2008 15:49:44 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?page_id=26#comment-14</guid>
		<description><![CDATA[[...] to know how you can help defeat proposition 8?  Find out now, you only have 29 days to [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] to know how you can help defeat proposition 8?  Find out now, you only have 29 days to [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
