<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Republican Politics &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/republican-politics/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Mayor Sam: No on 8</title>
		<link>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/</link>
		<comments>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/#respond</comments>
		<pubDate>Tue, 14 Oct 2008 16:13:22 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Los Angeles]]></category>
		<category><![CDATA[Republican Politics]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=353</guid>
		<description><![CDATA[Los Angeles political blogger Mayor Sam gives his Republican take on Proposition 8: I am a white, heterosexual, Christian, conservative Christian male who is voting no on Proposition 8. I am well aware that many individuals have a personal, religious or other issue with homosexuality. That is at the core of this evil (yes evil) [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Los Angeles political blogger Mayor Sam gives his <a href="http://mayorsam.blogspot.com/2008/10/ballot-recommendation-no-on-proposition.html">Republican take on Proposition 8</a>:</p>
<blockquote><p>I am a white, heterosexual, Christian, conservative Christian male who is voting no on Proposition 8.</p>
<p>I am well aware that many individuals have a personal, religious or other issue with homosexuality. That is at the core of this evil (yes evil) ballot initiative which violates the core principles of the Republican Party of limited government, individual liberty and personal accountability.</p>
<p>In addition to being a sacred and emotional tradition, marriage is also a business proposition. In our common law, we&#8217;ve acknowledged the right of parties to enter into agreements with one another and that such agreements can be legally recognized.</p>
<p>At the same time, we have a right to our opinion in this country and a right to not be forced to participate in that which we believe in.</p>
<p>Proposition 8 is contrary to conservative values and does nothing to prop up the values of those who do not agree with homosexuality nor would it do anything to save the state of heterosexual marriage which is in big trouble in some quarters. Permitting same-sex couples to marry has absolutely no affect on anyone&#8217;s heterosexual marriage.</p></blockquote>
<p>Agree with Mayor Sam?  Sign up to <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">join Republicans Against 8</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/14/mayor-sam-no-on-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>GOP Divided by Proposition 8</title>
		<link>http://republicansagainst8.com/2008/09/12/a-divided-gop/</link>
		<comments>http://republicansagainst8.com/2008/09/12/a-divided-gop/#respond</comments>
		<pubDate>Sat, 13 Sep 2008 01:29:37 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fairness]]></category>
		<category><![CDATA[Los Angeles]]></category>
		<category><![CDATA[Republican Politics]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=233</guid>
		<description><![CDATA[The Los Angeles Daily News reports on the recent row within LA county GOP ranks. The ballot measure to ban same-sex marriages, which had been expected to bring out the Republican base in November, is actually dividing the local GOP, with some top members complaining that it&#8217;s alienating gay members of the party&#8230; David Rappel, [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>The <em>Los Angeles Daily News</em> reports on the <a href="http://republicansagainst8.com/2008/09/11/gop-officials-condemn-los-angeles-county-republican-party-meeting/" target="_self">recent row within LA county GOP ranks</a>.</p>
<blockquote><p>The ballot measure to ban same-sex marriages, which had been expected to bring out the Republican base in November, is actually dividing the local GOP, with some top members complaining that it&#8217;s alienating gay members of the party&#8230;</p>
<p>David Rappel, a delegate for Sen. John McCain, said he believes the party should be focused on electing Republicans rather than dividing members over such an issue.</p></blockquote>
<p>David is right:  The Republican Party should be spending its time and money on more constructive efforts<span style="font-size: medium;">—</span>not pitting its own voters against each other.  Join David and become <a href="http://www.logcabin.org/logcabin/events/vow_to_vote_no_on_prop_8/details.tcl">another Republican Against 8</a>!</p>
<p><a href="http://www.dailynews.com/search/ci_10442203?IADID=Search-www.dailynews.com-www.dailynews.com" target="_self">Prop. 8 stance divides GOP members</a> [Daily News]</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/12/a-divided-gop/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>GOP Officials Condemn Los Angeles County Republican Party Meeting</title>
		<link>http://republicansagainst8.com/2008/09/11/gop-officials-condemn-los-angeles-county-republican-party-meeting/</link>
		<comments>http://republicansagainst8.com/2008/09/11/gop-officials-condemn-los-angeles-county-republican-party-meeting/#comments</comments>
		<pubDate>Thu, 11 Sep 2008 18:30:41 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Fairness]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Los Angeles]]></category>
		<category><![CDATA[Republican Politics]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=228</guid>
		<description><![CDATA[A group of Los Angeles Republicans, including current and former members of the Republican Party of Los Angeles County’s (“RPLAC”) Central and Executive Committees, today condemned a 90-minute Town Hall Meeting in support of Proposition 8 that RPLAC is hosting before its formal party meeting on September 11, 2008. The Town Hall meeting, for which [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>A group of Los Angeles Republicans, including current and former members of the Republican Party of Los Angeles County’s (“RPLAC”) Central and Executive Committees, today condemned a 90-minute Town Hall Meeting in support of Proposition 8 that RPLAC is hosting before its formal party meeting on September 11, 2008.</p>
<p>The Town Hall meeting, for which RPLAC is actually delaying the start of its own regularly scheduled meeting and using Party funds to promote, is being paid for and presented by the “Yes on 8” coalition known as “Protect Marriage.”</p>
<p>Proposition 8 seeks to redefine marriage in California by eliminating the right to marry for same-sex couples.</p>
<p>In a letter sent to RPLAC Chair Linda Boyd, current or former Central and Executive Committee Members—stated:</p>
<blockquote><p><em>“Our fellow Republicans elected us to grow the party and elect fellow Republicans to office.  How can we accomplish this goal when the party is so vocally advocating the elimination of Constitutional Rights for many Californians, including many on your own Executive Committee?&#8221;</em></p></blockquote>
<p><em></em></p>
<p>Commenting on a last-minute offer by Boyd to Republicans Against 8 to speak for three minutes at the Party meeting following the Town Hall, Republicans Against 8 spokesperson Scott Schmidt stated, “Chairman Boyd offered us three minutes and Protect Marriage 90 minutes—that’s hardly equal time, especially when you’re trying to defend freedom and fairness for all Californians, which is the goal of Republicans Against 8.”</p>
<p>Schmidt commented further, “Chairman Boyd’s unilateral decision to spend party resources and to inconvenience its elected leaders in order to promote a cause which would eliminate the constitutional rights of more than ten percent of the RPLAC Executive Committee is completely inappropriate and illustrates why many question her leadership.”</p>
<p>David Rappel, a John McCain delegate and a member of Republicans Against 8 stated, “We share Chairman Boyd’s goal to elect more Republicans in Los Angeles County, but it would be far more effective to rally around actual Republican candidates like John McCain and Sarah Palin who have energized the Republican base in a way that no ballot initiative—especially one as flawed as Proposition 8—ever could.”</p>
<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/rplac-letter-to-linda.pdf" target="blank">Read the full text of the letter to Chairman Linda Boyd</a> [PDF]</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/11/gop-officials-condemn-los-angeles-county-republican-party-meeting/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
