<?xml version="1.0" encoding="UTF-8" ?><feed
	xmlns="http://www.w3.org/2005/Atom"
	xml:lang="en-US"
	xmlns:thr="http://purl.org/syndication/thread/1.0"
	>
	<title type="text">Comments on California Log Cabin Republicans Responds to 2012 Decision by Equality California</title>
	<subtitle type="text">Just another WordPress weblog</subtitle>

	<updated>2008-10-29T17:20:02Z</updated>

	<link rel="alternate" type="text/html" href="http://republicansagainst8.com/2009/08/12/california-log-cabin-republicans-responds-to-2012-decision-by-equality-california/#respond" />
	<link rel="self" type="application/atom+xml" href="http://republicansagainst8.com/2009/08/12/california-log-cabin-republicans-responds-to-2012-decision-by-equality-california/feed/atom/" />
	<id>http://republicansagainst8.com/2009/08/12/california-log-cabin-republicans-responds-to-2012-decision-by-equality-california/feed/atom/</id>
<generator uri="https://wordpress.org/" version="4.4.5">WordPress</generator>
</feed>
