<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>civil marriage &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/civil-marriage/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Proposition 8: It&#8217;s Backwards</title>
		<link>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/</link>
		<comments>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/#comments</comments>
		<pubDate>Wed, 22 Oct 2008 15:45:41 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[Civil Rights]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Viral Videos]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=369</guid>
		<description><![CDATA[Would you run backwards? Would you bike backwards? Then why take California backwards? That&#8217;s what Republicans Against 8 is asking California voters in its latest online ad, &#8220;Backwards,&#8221; released today. &#8220;Backwards&#8221; urges voters from across the political spectrum to protect the California Dream for all families by voting No on Proposition 8&#8211;&#8220;It&#8217;s unfair. It&#8217;s unnecessary. [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/LJt1U1HK8Uw&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/LJt1U1HK8Uw&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>Would you run backwards?  Would you bike backwards?  Then why take California backwards?</p>
<p>That&#8217;s what Republicans Against 8 is asking California voters in its latest online ad, &#8220;Backwards,&#8221; released today.  </p>
<p>&#8220;Backwards&#8221; urges voters from across the political spectrum to protect the California Dream for all families by voting No on Proposition 8&#8211;&#8220;It&#8217;s unfair.  It&#8217;s unnecessary.  It&#8217;s Backwards.&#8221;</p>
<p>Help Republicans Against 8 share this video with as many voters as possible by <a href="https://secure.ga1.org/05/Republicans_Against_8">contributing $25, $250 or $2500 today</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Lisa Prunier, Republican Against 8</title>
		<link>http://republicansagainst8.com/2008/08/26/lisa-prunier-republican-against-8/</link>
		<comments>http://republicansagainst8.com/2008/08/26/lisa-prunier-republican-against-8/#respond</comments>
		<pubDate>Tue, 26 Aug 2008 23:50:53 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[conservative values]]></category>
		<category><![CDATA[Regular People]]></category>
		<category><![CDATA[Republicans Against 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=191</guid>
		<description><![CDATA[Sacramento small business owner Lisa Prunier is a Republican Against Proposition 8. Listen to her explain why: I am the mother of a gay son and I am a Republican. To me gay marriage like heterosexual marriage represents the best of what Republicans stand for: Love, honor, commitment, monogamy, becoming a stronger unit together than [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><a href="http://republicansagainst8.com/wp-content/uploads/2008/09/lisa-gray-frame.jpg"><img class="alignright size-full wp-image-321" title="lisa-gray-frame" src="http://republicansagainst8.com/wp-content/uploads/2008/09/lisa-gray-frame.jpg" alt="" width="114" height="150" /></a>Sacramento small business owner Lisa Prunier is a Republican Against Proposition 8. Listen to her explain why:</p>
<blockquote><p>I am the mother of a gay son and I am a Republican. To me gay marriage like heterosexual marriage represents the best of what Republicans stand for: Love, honor, commitment, monogamy, becoming a stronger unit together than a part. Having gay marriage legal is about equality for individuals, regardless of sexual orientation. Gay couples strive for the same things we all do. Love is love; commitment is commitment these things care not of gender. Neither should we.</p></blockquote>
<p>Regardless of how you feel about marriage as a religious construct, civil marriage is a right that should not be taken away from any Californian.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/26/lisa-prunier-republican-against-8/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Republican Opposition to Prop 8 Featured</title>
		<link>http://republicansagainst8.com/2008/08/22/republican-opposition-to-prop-8-featured/</link>
		<comments>http://republicansagainst8.com/2008/08/22/republican-opposition-to-prop-8-featured/#comments</comments>
		<pubDate>Fri, 22 Aug 2008 16:45:59 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[conservative values]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=184</guid>
		<description><![CDATA[IN Los Angeles Magazine features a story on Republicans Against 8 in their latest issue. Republicans Against 8 was formed “to complement the efforts of the No on 8 Campaign by reaching out to persuadable and undecided Republican voters with the message that opposing Proposition 8 is the conservative thing to do,” campaign manager Scott [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><em>IN Los Angeles Magazine</em> features a <a href="http://www.inlamagazine.com/1114/community_news/index.html">story on Republicans Against 8</a> in their latest issue.</p>
<blockquote><p>Republicans Against 8 was formed “to complement the efforts                     of the No on 8 Campaign by reaching out to persuadable and                     undecided Republican voters with the message that opposing                     Proposition 8 is the conservative thing to do,” campaign                     manager Scott Schmidt told IN Los Angeles magazine.</p>
<p>That message is, “Proposition 8 violates the core conservative                     principles of limited government, personal responsibility                     and individual liberty. … The right to marriage is a deeply                     personal choice—not one that should be left to the long arm                     of big government to say when, whom and whether one can marry.”</p></blockquote>
<p>With your support, we can take this message to Republican voters across the State of California.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/22/republican-opposition-to-prop-8-featured/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
		<item>
		<title>Proposition 8: Bad for Hallmark</title>
		<link>http://republicansagainst8.com/2008/08/22/proposition-8-bad-for-hallmark/</link>
		<comments>http://republicansagainst8.com/2008/08/22/proposition-8-bad-for-hallmark/#respond</comments>
		<pubDate>Fri, 22 Aug 2008 15:50:54 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Bad for Business]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[Proposition 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=182</guid>
		<description><![CDATA[If you want to know whether an idea is good or bad for business, just look at where the market forces are taking the industry leaders. Hallmark has decided that celebrating all civil marriages is a good business decision and launched a concomitant line of greeting cards. They think they can make money off of [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>If you want to know whether an idea is good or bad for business, just look at where the market forces are taking the industry leaders.</p>
<p>Hallmark has decided that celebrating all civil marriages is a good business decision and <a href="http://www.washingtonpost.com/wp-dyn/content/article/2008/08/21/AR2008082100725.html">launched a concomitant line of greeting cards</a>.</p>
<p>They think they can make money off of them, which means that Hallmark stands to lose revenue if Proposition 8 passes.</p>
<p>Prop 8 is bad for Hallmark, and <strong><em>bad for business</em></strong>.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/22/proposition-8-bad-for-hallmark/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
		<item>
		<title>Civil vs. Religious Marriage</title>
		<link>http://republicansagainst8.com/2008/08/18/civil-vs-religious-marriage/</link>
		<comments>http://republicansagainst8.com/2008/08/18/civil-vs-religious-marriage/#respond</comments>
		<pubDate>Mon, 18 Aug 2008 16:07:16 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[religious marriage]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=169</guid>
		<description><![CDATA[Public television station KQED has a polling feature called &#8220;You Decide&#8221; which asks participants to consider various arguments on hot topics of the day. They ask the question, &#8220;should gays be allowed to marry?&#8221; But the arguments they present against protecting the right to marry show a fundamental misunderstanding of the difference between civil and [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>Public television station KQED has a polling feature called &#8220;You Decide&#8221; which asks participants to consider various arguments on hot topics of the day.</p>
<p><!-- START KQED YOU DECIDE MODULE --> <script src="http://www.kqed.org/w/youdecide/widget/gay_marriage-large.js" type="text/javascript"></script> <!-- END KQED YOU DECIDE MODULE --></p>
<p>They ask the question, &#8220;should gays be allowed to marry?&#8221;  But the arguments they present against protecting the right to marry show a fundamental misunderstanding of the difference between civil and religious marriage.</p>
<p>Civil marriage is a contractual arrangement of rights and responsibilities entered into by two persons and the government.  Religious marriage is defined by a church, mosque or synagogue however they see fit.  </p>
<p>Even before the right to civil marriage was granted to all Californians, gays and lesbians were entering into religious marriages in California, and they will continue to do so even if Proposition 8 passes.  The question is whether it is fair for the Government to recognize only some denominations&#8217; marriages while not recognizing others&#8217;.  </p>
<p>These are major distinctions that appear to be overlooked in the debate over marriage equality here in California.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/08/18/civil-vs-religious-marriage/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
