<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Defending Freedom</title>
	<atom:link href="http://republicansagainst8.com/2008/10/28/defending-freedom/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2008/10/28/defending-freedom/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
	<item>
		<title>By: Defending Freedom at Republicans On Best Political Blogs</title>
		<link>http://republicansagainst8.com/2008/10/28/defending-freedom/comment-page-1/#comment-22</link>
		<dc:creator><![CDATA[Defending Freedom at Republicans On Best Political Blogs]]></dc:creator>
		<pubDate>Wed, 29 Oct 2008 14:52:20 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=382#comment-22</guid>
		<description><![CDATA[[...] Defending Freedom “Defending Freedom” is one of two ads released today by Republicans Against 8. Directed by “Milk” screenwriter Dustin Lance Black, “Defending Freedom” tells the story of three gay and lesbian Californians. &#8230; [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] Defending Freedom “Defending Freedom” is one of two ads released today by Republicans Against 8. Directed by “Milk” screenwriter Dustin Lance Black, “Defending Freedom” tells the story of three gay and lesbian Californians. &#8230; [&#8230;]</p>
]]></content:encoded>
	</item>
	<item>
		<title>By: Two More Ads from Republicans Against 8</title>
		<link>http://republicansagainst8.com/2008/10/28/defending-freedom/comment-page-1/#comment-21</link>
		<dc:creator><![CDATA[Two More Ads from Republicans Against 8]]></dc:creator>
		<pubDate>Tue, 28 Oct 2008 23:04:20 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=382#comment-21</guid>
		<description><![CDATA[[...] October 28th, 2008 By DENNIS SANDERS   Republicans Against 8, an initiative by Log Cabin Republicans to defeat the California proposition that would ban same-sex marriage has released two more ads: &#8220;Join Us,&#8221; and &#8220;Defending Freedom.&#8221; [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] October 28th, 2008 By DENNIS SANDERS   Republicans Against 8, an initiative by Log Cabin Republicans to defeat the California proposition that would ban same-sex marriage has released two more ads: &#8220;Join Us,&#8221; and &#8220;Defending Freedom.&#8221; [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
