<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Karen England &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/karen-england/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>New Lies From Prop 8 Proponents</title>
		<link>http://republicansagainst8.com/2008/09/22/new-lies-from-prop-8-proponents/</link>
		<comments>http://republicansagainst8.com/2008/09/22/new-lies-from-prop-8-proponents/#respond</comments>
		<pubDate>Mon, 22 Sep 2008 22:44:01 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[Capitol Resource Institute]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Karen England]]></category>
		<category><![CDATA[Yes on 8]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=297</guid>
		<description><![CDATA[The proponents of Proposition 8 are really grasping at straws. Here are the latest scare tactics they&#8217;re using to try to get folks to support Prop 8: &#8220;Public Schools will teach that homosexuality and same-sex marriage are normal and acceptable-and if you disagree, you are a bigot.&#8221; FALSE.  Proposition 8 says nothing about public schools.  [&#8230;]]]></description>
				<content:encoded><![CDATA[<p>The proponents of Proposition 8 are really grasping at straws.  Here are the latest scare tactics they&#8217;re using to try to get folks to support Prop 8:</p>
<ul>
<li><em>&#8220;Public Schools will teach that homosexuality and same-sex marriage are normal and acceptable-and if you disagree, you are a bigot.</em>&#8221;
<p><strong>FALSE</strong>.  Proposition 8 says nothing about public schools.  Local curricula are set by local school boards in California.  If a parent objects to what&#8217;s being taught in the classroom on religious or moral grounds, they cal always opt their children out.</li>
<li><em>&#8220;Churches will be required to perform homosexual marriage ceremonies or face prosecution under anti-discrimination laws.&#8221;</em>
<p><strong>FALSE</strong>. Churches were performing same-sex weddings for decades regardless of whether they were recognized by law.  Similarly, the Catholic Church is not required to recognize civil divorces, nor will it ever be.</li>
<li><em>&#8220;Businesses will be prosecuted for not participating in homosexual ceremonies.&#8221;</em>
<p><strong>FALSE</strong>.  Proposition 8 says nothing about what businesses may or may not do.  Non-discrimination laws already on the books require that any service offered to the public by a business must be offered to everyone.  Are the proponents of Proposition 8 asking that we repeal our non-discrimination laws?</li>
<li><em>&#8220;Married couples will no longer be considered &#8220;bride and groom,&#8221; but &#8220;Party A and Party B.&#8221;</em>
<p><strong>FALSE</strong>. Whereas marriage licenses in California are no longer gender-specific, married couples may call themselves whatever they want.  That&#8217;s a constitutional right&#8211;something proponents of Prop 8 don&#8217;t seem to have much respect for.</li>
<li><em>&#8220;The role of parents will be diminished.&#8221;</em>
<p><strong>FALSE</strong>. Already, 71% of children growing up in California live in non-traditional families.  Why deny the children of gay and lesbian couples the joy of having their parents&#8217; love recognized by the State?</li>
</ul>
<p>Proponents of Proposition 8 say it&#8217;s simple&#8211;but then they must twist the truth in order to scare voters.</p>
<p>Prop 8 is simple&#8211;it&#8217;s an assault of our constitutional freedoms as Californians.</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/09/22/new-lies-from-prop-8-proponents/feed/</wfw:commentRss>
		<slash:comments>0</slash:comments>
		</item>
	</channel>
</rss>
