<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:wfw="http://wellformedweb.org/CommentAPI/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	xmlns:slash="http://purl.org/rss/1.0/modules/slash/"
	>

<channel>
	<title>Viral Videos &#8211; Republicans Against 8</title>
	<atom:link href="http://republicansagainst8.com/tag/viral-videos/feed/" rel="self" type="application/rss+xml" />
	<link>http://www.republicansagainst8.com</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 04 Aug 2010 21:30:17 +0000</lastBuildDate>
	<language>en-US</language>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.5</generator>
	<item>
		<title>Proposition 8: It&#8217;s Backwards</title>
		<link>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/</link>
		<comments>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/#comments</comments>
		<pubDate>Wed, 22 Oct 2008 15:45:41 +0000</pubDate>
		<dc:creator><![CDATA[admin]]></dc:creator>
				<category><![CDATA[Uncategorized]]></category>
		<category><![CDATA[civil marriage]]></category>
		<category><![CDATA[Civil Rights]]></category>
		<category><![CDATA[Fundamental Freedoms]]></category>
		<category><![CDATA[Viral Videos]]></category>

		<guid isPermaLink="false">http://republicansagainst8.com/?p=369</guid>
		<description><![CDATA[Would you run backwards? Would you bike backwards? Then why take California backwards? That&#8217;s what Republicans Against 8 is asking California voters in its latest online ad, &#8220;Backwards,&#8221; released today. &#8220;Backwards&#8221; urges voters from across the political spectrum to protect the California Dream for all families by voting No on Proposition 8&#8211;&#8220;It&#8217;s unfair. It&#8217;s unnecessary. [&#8230;]]]></description>
				<content:encoded><![CDATA[<p><object width="425" height="344"><param name="movie" value="http://www.youtube.com/v/LJt1U1HK8Uw&#038;hl=en&#038;fs=1"></param><param name="allowFullScreen" value="true"></param><embed src="http://www.youtube.com/v/LJt1U1HK8Uw&#038;hl=en&#038;fs=1" type="application/x-shockwave-flash" allowfullscreen="true" width="425" height="344"></embed></object></p>
<p>Would you run backwards?  Would you bike backwards?  Then why take California backwards?</p>
<p>That&#8217;s what Republicans Against 8 is asking California voters in its latest online ad, &#8220;Backwards,&#8221; released today.  </p>
<p>&#8220;Backwards&#8221; urges voters from across the political spectrum to protect the California Dream for all families by voting No on Proposition 8&#8211;&#8220;It&#8217;s unfair.  It&#8217;s unnecessary.  It&#8217;s Backwards.&#8221;</p>
<p>Help Republicans Against 8 share this video with as many voters as possible by <a href="https://secure.ga1.org/05/Republicans_Against_8">contributing $25, $250 or $2500 today</a>!</p>
]]></content:encoded>
			<wfw:commentRss>http://republicansagainst8.com/2008/10/22/proposition-8-its-backwards/feed/</wfw:commentRss>
		<slash:comments>1</slash:comments>
		</item>
	</channel>
</rss>
