<?xml version="1.0" encoding="UTF-8"?><rss version="2.0"
	xmlns:content="http://purl.org/rss/1.0/modules/content/"
	xmlns:dc="http://purl.org/dc/elements/1.1/"
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:sy="http://purl.org/rss/1.0/modules/syndication/"
	
	>
<channel>
	<title>Comments on: Arnold Schwarzenegger, Republican Against 8</title>
	<atom:link href="http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/feed/" rel="self" type="application/rss+xml" />
	<link>http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/</link>
	<description>Just another WordPress weblog</description>
	<lastBuildDate>Wed, 29 Oct 2008 17:20:02 +0000</lastBuildDate>
	<sy:updatePeriod>hourly</sy:updatePeriod>
	<sy:updateFrequency>1</sy:updateFrequency>
	<generator>https://wordpress.org/?v=4.4.18</generator>
	<item>
		<title>By: Republicans Against 8 &#187; Welcome CRI Readers!</title>
		<link>http://republicansagainst8.com/2008/08/08/arnold-schwarzenegger-republican-against-8/comment-page-1/#comment-10</link>
		<dc:creator><![CDATA[Republicans Against 8 &#187; Welcome CRI Readers!]]></dc:creator>
		<pubDate>Fri, 19 Sep 2008 15:07:36 +0000</pubDate>
		<guid isPermaLink="false">http://republicansagainst8.com/?p=87#comment-10</guid>
		<description><![CDATA[[...] lot of Republicans are against Prop. 8. People like Arnold Schwarzenegger, Mary Cheney, Ward Connerly, and Dennis Miller understand why Prop. 8 goes against traditional GOP [...]]]></description>
		<content:encoded><![CDATA[<p>[&#8230;] lot of Republicans are against Prop. 8. People like Arnold Schwarzenegger, Mary Cheney, Ward Connerly, and Dennis Miller understand why Prop. 8 goes against traditional GOP [&#8230;]</p>
]]></content:encoded>
	</item>
</channel>
</rss>
